/*
-------------------
	Account Css
-------------------
*/
.ht-st-chng-user-dsc .ht-prls-dtls-frm-fields{
	margin-left: 0;
	margin-right: 0;
}
.ht-st-chng-user-dsc .ht-prls-dtls-frm-field{
	width: 100%;
	padding: 0;
}
.ht-st-chng-user-dsc > span{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 20px;
}
.eml-notif-dsc{
	padding: 20px 20px;
}
.rsm-priv-dsc,
.eml-notif-dsc strong{
	background: #ddd;
	padding: 10px 20px;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}
.rsm-priv-dsc{
	text-align: left;
}
.eml-notif-dsc ul li h6{
	margin-bottom: 10px;
	text-transform: capitalize;
}
.eml-notif-dsc ul li p{
	font-weight: 400;
}

.ht-st-rsm-priv-dsc .input-type-radio label{
	font-size: 16px !important;
	line-height: 1 !important;
	font-weight: 500 !important;
}
.ht-st-rsm-priv-dsc .input-type-radio label p{
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 10px;
}
.ht-prls-dtls-frm-field textarea{
	width: 100%;
	height: 100px;
	resize: none;
	border:1px solid#ddd;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	font-weight: 400;
	padding: 10px 15px;
}
.ht-prls-dtls-frm-field textarea:focus{
	border-color: #d80100;
}
.em-dt-account-dsc{
	background: #F4D3E6;
	padding: 20px 15px;
	margin-bottom: 30px;
}
.em-dt-account-dsc p{
	margin-bottom: 0;
	text-align: center;
}

/*
-------------------
 Delete Account
-------------------
*/
.em-dt-account-icon{
	width: 50px;
	height: 50px;
	background: #00732e;
	border-radius: 50%;
	position: relative;
	display: table;
	margin: 0 auto;
}
.em-dt-account-icon i{
	display: block;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	color: #fff;
}
.em-dt-account-icon span{
	position: absolute;
	top: 0;
	right: -5px;
	background: #13007d;
	border-radius: 50%;
	padding: 5px 5px;
	font-size: 10px;
	line-height: 1;
	color: #fff;
	border:2px solid#fff;
}
.em-dt-account-grid-dsc h6{
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: capitalize;
}
.em-dt-account-grid ul{
	margin: 0 -10px;
}
.em-dt-account-grid ul li{
	width: 33.3333%;
	float: left;
	padding: 0 10px 20px;
}
.em-dt-account-grid-innr{
	padding: 20px 20px;
	background: #F4D3E6;
	text-align: center;
	border:1px solid#ddd;
}
.em-dt-account-grid-dsc p{
	margin-bottom: 0;
}
.em-dt-account-btn{
	background: #ddd;
	padding: 20px 20px;
	text-align: center;
}
.em-dt-account-btn h5{
	text-transform: capitalize;
}
.em-dt-account-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
	border: 2px solid#00732e;
}
.em-dt-account-btn a:last-child{
	margin-left: 10px;
	background: #d80100;
	border-color: #d80100;
}
.em-dt-account-btn a:hover{
	background: transparent;
	color: #d80100;
	border-color: #d80100;
}

/*
----------------
 Welcome
----------------
*/
.em-sms-alert-wrp h5,
.welcome-msg h5{
	text-transform: capitalize;
	margin-bottom: 10px;
}
.em-sms-alert-cntlr{
	border:1px solid#ddd;
	padding: 20px 20px;
}
.em-sms-alert-txt{
	float: left;
}
.em-sms-alert-btn{
	float: right;
}
.em-sms-alert-btn i{
	padding-right: 10px;
}
.em-sms-tbl-wrp{
	padding: 20px 20px;
	border:1px solid#ddd;
	margin-top: 30px;
}
.em-sms-tbl-tbs-menu ul{
	margin: 0 -10px;
}
.em-sms-tbl-tbs-menu ul li{
	float: left;
	padding: 0 10px;
}
.em-sms-tbl-tbs-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.em-sms-tbl-tbs-menu ul li.active a,
.em-sms-tbl-tbs-menu ul li a:hover{
	background: #d80100;
}
.em-sms-tbl-tbs-menu{
	padding-bottom: 20px;
}
.em-sms-tbl h5{
	text-transform: capitalize;
}
.em-sms-tbl-tabs{
	display: none;
}
.freelancing-dsc img{
	padding-bottom: 20px;
	text-align: center;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	.em-dt-account-grid-innr {
	    padding: 20px 10px;
	}

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	.em-dt-account-grid ul li {
	    width: 50%;
	    padding: 0 10px 20px;
	}
	.em-dt-account-btn a {
	    font-size: 15px;
	    padding: 10px 15px;
	}
	.ht-change-pasw-wrp .ht-prls-dtls-frm-btn {
	    padding-top: 0 !important;
	}
}

@media(max-width: 639px){
	.em-sms-tbl table{
		overflow-x:scroll !important;
		overflow-y: hidden !important;
		white-space: normal !important; 
		width: 100%;
	}
	.em-sms-tbl-tbs-menu ul li a {
	    font-size: 15px;
	    padding: 10px 15px;
	} 
}

@media(max-width: 575px){
	.em-dt-account-btn a:last-child,
	.em-dt-account-btn a {
	    display: table;
	    margin: 0 auto;
	}
	.em-dt-account-btn a:last-child{
		margin-top: 10px;
	}
	.em-sms-tbl-wrp {
	    padding: 20px 10px;
	}
	.em-sms-tbl .table td,
	.em-sms-tbl .table th {
	    display: block;
	    margin-bottom: 5px;
	}
	

}

@media(max-width: 479px){
	.em-dt-account-grid ul li {
	    width: 100%;
	    padding: 0 10px 20px;
	}
	.em-dt-account-btn a {
	    font-size: 14px;
	    padding: 10px 10px;
	}

}

@media(max-width: 359px){

}