/*
----------------------
ht-applicant-ps-cntlr
----------------------
*/
.ht-applicant-ps-lft{
	width: 50%;
	float: left;
}
.ht-applicant-ps-lft ul li{
	float: left;
	width: 33.3333%;
	padding-right: 15px;
}
.ht-aplict-ps-item strong{
	display: block;
	font-size: 16px;
	line-height: 1;
	padding-bottom: 10px;
}
.ht-aplict-ps-item a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 5px 20px 5px 10px;
	border-radius: 15px;
	position: relative;
}
.ht-aplict-ps-item a:after{
	content: "";
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width:8px;
	height:8px;
	border-radius: 20px;
	background: #fff;
}
.ht-applicant-ps-rgt{
	float: right;
	width: 50%;
}
.ht-applicant-ps-rgt ul{
	float: right;
}
.ht-applicant-ps-rgt ul li{
	float: left;
	padding: 0 10px 10px;
}
.ht-applicant-ps-rgt ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
}
.ht-applicant-ps-rgt ul li a:hover{
	color: #d80100;
}
.ht-aplcnt-ps-tbl{
	width: 50%;
	float: left;
	padding: 0 10px;
}
.ht-aplcnt-ps-tbl table tbody tr td span{
	display: inline-block;
	vertical-align: baseline;
	float: left;
}
.ht-aplcnt-ps-tbl table tbody tr td strong{
	display: inline-block;
	vertical-align: baseline;
	float: right;
}
.ht-jb-sumry-tbs-menu ul{
	float: left;
}
.ht-jb-sumry-tbs-menu ul li {
    float: left;
    padding: 0 5px;
}
.ht-jb-sumry-tbs-menu ul li a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    padding: 10px 10px;
    background: #00732e;
}
.ht-jb-sumry-tbs-menu ul li.active a,
.ht-jb-sumry-tbs-menu ul li a:hover {
    background: #d80100;
}
.ht-jb-sumry-tbs-menu span{
	display: inline-block;
	vertical-align: baseline;
	float: right;
	padding-top: 8px;
}
.ht-jb-sumry-tbs-item {
    padding: 10px 10px;
    background: #ddd;
    margin-left: 5px;
}
.ht-jb-sumry-tbs-lft{
	float: left;
	width: 50%;
}
.ht-jb-sumry-tbs-rgt span,
.ht-jb-sumry-tbs-lft span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 16px;
    line-height: 20px;
    color: #334e6f;
    background: #fff;
    padding: 10px 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.ht-jb-sumry-tbs-lft > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background:#00732e;
	padding: 10px 10px;
	margin-left: 10px;
}
.ht-jb-sumry-tbs-lft ul{
	background: #fff;
	padding: 5px 5px;
	border: 1px solid#ddd;
	max-width: 360px;
	width: 100%;
	margin-top: 20px;
}
.ht-jb-sumry-tbs-lft ul li{
	float: left;
}
.ht-jb-sumry-tbs-lft ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #334e6f;
	padding: 5px 10px;
	border-right: 1px solid#ddd;
}
.ht-jb-sumry-tbs-lft ul li:last-child a{
	border-right: 0;
}
.ht-jb-sumry-tbs-lft ul li a.active{
	color: #d80100;
}
.ht-jb-sumry-tbs-rgt{
	width: 50%;
	float: right;
	text-align: right;
}

/*
-----------------
ht-canditate-wrp
-----------------
*/
.ht-canditate-wrp{
	background: #ddd;
	padding: 10px 10px;
}
.ht-canditate-wrp a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #334e6f;
}
.ht-canditate-wrp a span{
	display: inline-block;
	vertical-align: baseline;
	background: #00732e;
	padding: 5px 10px;
	border-radius: 20px;
	color: #fff;
}
.ht-qick-filter-lft{
	float: left;
	width: 15%;
	background:#00732e;
}
.ht-qick-filter-menu ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height: 1;
	padding: 20px 10px;
	border-bottom: 1px solid#ddd;
	text-align: center;
}
.ht-qick-filter-menu ul li a i{
	display: block;
	padding-bottom: 10px;
}

/*
---------------
ht-dwn-cnt-wrp
---------------
*/
.ht-qick-filter-rgt{
	float: right;
	width: 85%;
}
.ht-dwn-cnt-wrp{
	padding: 20px 20px;
	background: #fff;
}
.ht-dwn-cnt-lft{
	width: 50%;
	float: left;
}
.ht-dwn-cnt-lft ul li{
	float: left;
	width: 33.3333%;
}
.ht-dwn-cnt-col strong{
	display: block;
	padding-bottom: 10px;
}
.ht-dwn-cnt-col i{
	display: inline-block;
	vertical-align: baseline;
	border: 1px solid#ddd;
	padding: 5px 8px;
	border-radius: 50px;
}
.ht-dwn-cnt-col strong span{
	display: inline-block;
	vertical-align: baseline;
	background: #00732e;
	padding: 2px 5px;
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
	font-weight: 400;
	margin-left: 5px;
}
.ht-dwn-cnt-rgt{
	width: 50%;
	float: right;
}
.ht-matched-menu-wrp{
	padding: 20px 10px;
}
.ht-matched-menu-lft{
	float: right;
	width: 40%;
}
.ht-matched-menu-lft .ht-prls-dtls-frm-field.em-register-form-filds {
    float: right;
}
.ht-matched-menu-lft i {
    display: inline-block;
    vertical-align: baseline;
    float: right;
    padding-top: 15px;
}
.ht-matched-menu-rgt{
	float: left;
	width: 60%;
}
.ht-matched-menu-rgt ul{
	padding-top: 20px;
	padding-bottom: 20px;
}
.ht-matched-menu-rgt ul li{
	float: left;
}
.ht-matched-menu-rgt ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background:#00732e;
	padding: 10px 15px;
	border-right:1px solid#ddd;
}
.ht-matched-menu-rgt ul li a.active,
.ht-matched-menu-rgt ul li a:hover{
	background: #d80100;
}
.ht-matched-tble-item3,
.ht-matched-tble-item2,
.ht-matched-tble-item{
	text-align: left;
}
.ht-matched-tble-item img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: block;
}
.ht-matched-tble-item span {
    display: inline-block;
    vertical-align: baseline;
    text-align: left;
    /*float: left;*/
    border: 1px solid#ddd;
    padding: 5px 5px;
    margin-top: 10px;
}
.ht-matched-tble-item2 h5{
	margin-bottom: 5px;
}
.ht-matched-tble-item2 p{
	margin-bottom: 5px;
}
.ht-matched-tble-item2 > strong{
	display: block;
}
.ht-matched-tble-item2 a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #334e6f;
	border: 1px solid#ddd;
	padding: 5px 5px;
	margin-top: 10px;
}
.ht-matched-tble .table td,
.ht-matched-tble .table th{
	border: 0;
}
.ht-matched-tble{
	position: relative;
}
.ht-matched-tble table tbody tr{
	border: 1px solid#ddd;
	background: #fff;
	position: relative;
	margin-bottom: 10px;
}
.ht-matched-tble > strong {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #000;
    display: inline-block;
    vertical-align: baseline;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 99;
}
.ht-matched-tble > span {
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    bottom: 10px;
    right: 15px;
    z-index: 99;
}
.ht-jb-sumry-tbs-head-lft{
	float: left;
}
.ht-jb-sumry-tbs{
	display: none;
}
.ht-jb-sumry-tbs-head-rgt{
	float: right;
}
.ht-jb-sumry-tbs-head-rgt ul{
	float: right;
}
.ht-jb-sumry-tbs-head-rgt ul li{
	float: left;
	padding: 0 5px;
}
.ht-jb-sumry-tbs-head-rgt ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #334e6f;
	border: 1px solid#000;
	background: #fff;
	padding: 10px 10px;
}
.ht-jb-sumry-tbs-head-rgt span{
	display: inline-block;
	vertical-align: baseline;
	padding-top: 10px;
}
.ht-jb-sumry-tbs-bx ul{
	margin: 10px -10px 0;
}
.ht-jb-sumry-tbs-bx ul li{
	width: 20%;
	float: left;
	padding: 0 10px;
}
.ht-jb-sumry-tbs-bx-dsc{
	/*height: 100px;*/
	background: #fff;
	padding: 10px 10px;
}
.ht-jb-sumry-tbs-bx-dsc span{
	display: block;
	padding-bottom: 30px;
}
.ht-jb-sumry-tbs-bx-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	float: left;
}
.ht-jb-sumry-tbs-bx-dsc i{
	float: right;
}
.ht-flow-chart-wrp{
	padding-top: 20px;
}
.ht-flow-chart-lft{
	width: 50%;
	float: left;
	padding-right: 15px;
}
.ht-flow-chart-rgt{
	width: 50%;
	float: right;
	padding-left: 15px;
}
.ht-flow-chart-rgt img,
.ht-flow-chart-lft img{
	width: 100%;
}
