/*
--------------------
ask-question-form-fileds
--------------------
*/
.ask-question-form-fileds{
	margin-bottom: 15px;
}
.ask-question-form-fileds label{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 600;
	margin-bottom: 10px;
}
.ask-question-form-fileds textarea,
.ask-question-form-fileds input[type="text"]{
	width: 100%;
	height: 40px;
	border: 1px solid#ddd;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 400;
	padding: 10px 15px;
}
.ask-question-form-fileds textarea{
	height: 150px;
	resize: none;
}
.ask-question-form-fileds textarea:focus,
.ask-question-form-fileds input[type="text"]:focus{
	border-color: #d80100;
}
.ask-question-form-btn button{
	max-width: 200px;
	width: 100%;
	height: 40px;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	font-weight: 600;
	background: #00732e;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 20px;
}
.ask-question-form-btn button:hover{
	background: #d80100;
}

/*
------------------
------------------
*/
.ht-career-guide-item p{
	padding-top: 20px;
	margin-bottom: 0;
}
/*
--------------------
Account Setting 
--------------------
*/
.ht-account-setting-head h5{
	margin-bottom: 10px;
	text-transform: capitalize;
}
.ht-account-setting-menu ul{
	margin: 0 -10px;
}
.ht-account-setting-menu ul li{
	width: 50%;
	float: left;
	padding: 0 10px 20px;
}
.ht-account-setting-menu ul li a{
	display: block;
	text-decoration: none;
} 
.ht-account-setting-menu ul li a:hover{
	background: #d80100;
}
.ht-account-setting-menu ul li a:hover .ht-account-setting-title h5{
	color: #fff;
}
.ht-account-setting{
	padding: 20px 20px;
	border: 1px solid#ddd;
	text-align: center;
}
.ht-account-setting-icon i {
    display: inline-block;
    vertical-align: baseline;
    width: 50px;
    height: 50px;
    background: #00732e;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #fff;
}
.ht-account-setting-title h5{
	text-transform: capitalize;
	margin-bottom: 0;
	padding-top: 10px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	

	
}

@media(max-width: 575px){
	.ht-account-setting {
	    padding: 20px 15px;
	}
	

}

@media(max-width: 479px){
	.ht-account-setting-menu ul li {
	    width: 100%;
	}

}

@media(max-width: 359px){

}