/*
-----------------------
ht-career-guide-sex-wrp
-----------------------
*/
.ht-career-guide-sex-wrp{
	padding: 50px 0;
}
.ht-career-guide-lft{
	float: left;
	width: 70%;
	padding-right: 20px;
}
.ht-career-guide-item-cntlr,
.ht-career-guide-cntlr{
	padding: 20px 20px;
	background: #fff;
	border: 1px solid#ddd;
}
.ht-interview-guide-wrp,
.ht-career-guide-menu{
	border: 1px solid#ddd;
	padding: 20px 20px;
}
.ht-career-guide-head h5{
	text-transform: capitalize;
}
.ht-career-guide-menu ul li{
	padding: 5px 0;
}
.ht-career-guide-item-list ul li a,
.ht-career-guide-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #007330;
	position: relative;
	padding-left: 25px;
}
.ht-career-guide-item-list ul li a:after,
.ht-career-guide-menu ul li a:after {
    content: "\f100";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #007330;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
}
.ht-career-guide-item-list ul li a:hover:after,
.ht-career-guide-item-list ul li a:hover,
.ht-career-guide-menu ul li a:hover:after,
.ht-career-guide-menu ul li a:hover{
	color: #d80100;
}
.ht-career-guide-rgt{
	width: 30%;
	float: right;
}
.ht-career-guide-item{
	border-bottom: 1px solid#ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.ht-career-guide-item .hdr-search {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
}
.ht-career-guide-item h5{
	text-transform: capitalize;
	margin-bottom: 10px;
	background: #ddd;
	padding: 10px 10px;
}
.ht-career-guide-item-list ul li{
	padding: 5px 0;
}
.ht-career-guide-item-list ul li a{
	font-size: 14px;
}
.ht-career-guide-item-list ul li a:after{
	font-size: 14px;
}

/*
--------------------
 Interview page
--------------------
*/
.ht-interview-guide-dsc{
	border-bottom: 1px solid#ddd;
	margin-bottom: 20px;
}
.ht-interview-guide-dsc h5{
	text-transform: capitalize;
	margin-bottom: 10px;
	color: #00732e;
}

/*
--------------------
 Articles
--------------------
*/
.ht-interview-guide-dsc h5 a{
	color: inherit;
}
.ht-interview-guide-dsc h5 a:hover{
	color: #d80100;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ht-career-guide-item-cntlr,
	.ht-career-guide-cntlr {
	    padding: 20px 10px !important;
	}
	.ht-interview-guide-wrp,
	.ht-career-guide-menu {
	    padding: 20px 10px !important;
	}
	

}

@media(max-width: 991px){
	.ht-career-guide-wrp{
		overflow: hidden;
	}
	.ht-career-guide-lft {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.ht-career-guide-rgt {
	    width: 100%;
	}
}

@media(max-width: 767px){
	.ht-career-guide-sex-wrp {
	    padding: 35px 0;
	}
	.ht-career-guide-sex-wrp {
	    padding: 35px 0;
	}

	
}

@media(max-width: 575px){
	.ht-career-guide-item {
	    padding-bottom: 0 !important;
	}
	.ht-career-guide-item-list ul{
		padding-bottom: 20px !important;
	}

}

@media(max-width: 479px){
	.test-completion-btn a,
	.ht-infographic-btn a{
		font-size: 14px !important;
	}
}

@media(max-width: 359px){

}