/*
-----------------------
ht-counseling-grid-wrp
-----------------------
*/
.ht-counseling-grid-wrp{
	padding-top: 30px;
}
.ht-counseling-grid-wrp > ul > li{
	border: 1px solid#ddd;
	padding: 20px 20px;
	margin-bottom: 20px;
}
.ht-counseling-grid h5{
	text-transform: capitalize;
	margin-bottom: 10px;
}
.ht-counseling-grid ul > li{
	float: left;
	padding-right: 15px;
	padding-bottom: 10px;
}
.ht-counseling-grid ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
}
.ht-counseling-grid ul > li > a > i{
	padding-right: 5px;
}
.ht-counseling-grid a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.1;
	color: #00732e;
	font-weight: 600;
}
.ht-counseling-grid > a > i{
	padding-left: 10px;
}
.ht-counseling-grid a:hover{
	color: #d80100;
}
.ht-counseling-grid-btn a{
	display:block;
	text-decoration: none;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
	text-align: center;
}
.ht-counseling-grid-btn a i{
	padding-right: 10px;
}
.ht-counseling-grid-btn a:hover{
	background: #d80100;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	

	
}

@media(max-width: 575px){
	
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}