/*
---------------------
ht-company-list-sec-wrp
---------------------
*/
.ht-company-list-sec-wrp{
	padding: 50px 0;
}
.ht-company-list-lft{
	width: 80%;
	float: left;
	padding-right: 20px;
}
.ht-company-list-cntlr{
	padding: 20px 20px;
	border: 1px solid#ddd;
	background: #fff;
}
.fl-pagi-wrp{
	padding-bottom: 20px;
	border-bottom: 1px solid#ddd;
}
.ht-company-list-search-inr {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid#ddd;
}
.ht-company-list-search-inr .em-grid-select {
    float: left;
}
.ht-company-list-search-inr .em-grid-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 200px;
}
.ht-company-list-search-inr .em-grid-select .bootstrap-select>.dropdown-toggle{
	padding: 12px 10px;
	font-size: 14px;
	text-transform: capitalize;
	color: #334e6f;
}
.ht-company-list-search-inr .bootstrap-select .dropdown-menu li a{
	font-size: 14px;
	line-height: 1;
	color:#334e6f; 
	padding: 10px 15px;
}
.ht-company-list-search-inr .bootstrap-select .dropdown-menu li.active a{
	color: #fff;
}

.hdr-search {
    float: right;
    position: relative;
    max-width: 300px;
    width: 100%;
    padding-left: 20px;
}
.hdr-search input[type="search"] {
    width: 100%;
    border: 1px solid #334e6f !important;
    border: none;
    height: 40px;
    font-size: 16px;
    color: #3b3b3b;
    transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    outline: 0;
    padding: 10px 70px 12px 15px;
}
.hdr-search button[type="submit"] {
    background: #334e6f url(../images/search-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    height: 40px;
    width: 60px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-indent: -999999999999999px;
    cursor: pointer;
}


/*
----------------------
 Grid Sec
----------------------
*/
.ht-company-list-grid-wrp{
	padding-top: 20px;
}
.ht-company-list-grid-wrp ul{
	margin: 0 -10px;
}
.ht-company-list-grid-wrp ul li{
	float: left;
	width: 33.3333%;
	padding: 10px 10px 15px 10px;
}
.ht-company-list-grid{
	background: #fff;
	padding: 20px 20px;
	border:1px solid#ddd;
	text-align: center;
}
.ht-company-list-grid-img {
    max-width: 80px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ht-company-list-grid-dsc h5 {
    margin-bottom: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ht-company-list-grid-dsc h5 a{
	color: inherit;
	text-decoration: none;
}
.ht-company-list-grid-dsc h5 a:hover{
	color: #d80100;
}
.ht-company-list-grid-dsc span{
    display: block;
    padding-bottom: 10px;
}
.ht-company-list-grid-dsc span i{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 10px;
}
.ht-company-list-grid-dsc > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	background: #00732e;
	padding: 10px 20px;
}
.ht-company-list-grid-dsc > a:hover{
	background: #d80100;
}

/*
-------------------
ht-company-list-rgt
--------------------
*/
.ht-company-list-rgt{
	width: 20%;
	float: right;
}
.ht-company-list-rgt-cntlr{
	background: #fff;
	padding: 20px 20px;
	border: 1px solid#ddd;
}
.company-follow-us ul{
	margin: 0 -5px;
}
.company-follow-us ul li{
	float: left;
	padding: 0 5px;
}
.company-follow-us ul li a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    width: 30px;
    height: 30px;
    background: #334e6f;
    text-align: center;
    border-radius: 5px;
}
.company-follow-us ul li a:hover{
	background: #d80100;
}
.ht-company-list-rgt-cntlr .ht-job-dstl-google-map h5{
	text-transform: capitalize;
}
.fl-cmp-pagi{
	border-bottom: 0;
	padding-bottom: 0;
	padding-top: 20px;
}
.ht-job-dstl-add-img{
    text-align: center;
}
.ht-job-dstl-add-img a{
    display: inline-block;
    vertical-align: baseline;
}
/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
    .ht-company-list-lft {
        width: 77%;
        padding-right: 15px;
    }
    .ht-company-list-rgt {
        width: 23%;
    }
    .company-follow-us ul li a {
        font-size: 14px;
        line-height: 28px;
        width: 26px;
        height: 26px;
    }
    .ht-company-list-rgt-cntlr {
        padding: 20px 10px;
    }

}

@media(max-width: 991px){
    
    .ht-company-list-lft {
        width: 100%;
        padding-right: 0;
    }
    .ht-company-list-rgt {
        width: 100%;
        margin-top: 30px;
    }
    .ht-job-dstl-add-img a img {
        width: auto !important;
    }
    
    
}

@media(max-width: 767px){
    .ht-company-list-grid-wrp ul li{
        width: 50%;
    }
    .ht-company-list-search-inr .em-grid-select {
        float: none;
        text-align: center;
        margin-top: 15px;
    }

    
}

@media(max-width: 575px){
    .hdr-search {
        float: none;
        max-width: 300px;
        width: 100%;
        padding-left: 0;
        padding-bottom: 20px;
        display: table;
        margin: 0 auto;
    }
    .ht-company-list-search-inr .em-grid-select {
        float: none;
        text-align: center;
    }
}

@media(max-width: 479px){
     .ht-company-list-grid-wrp ul li{
        width: 100%;
    }

}

@media(max-width: 359px){

}