/*
------------------------
ht-contact-form-sec-wrp
------------------------
*/
.ht-contact-form-sec-wrp{
	padding: 50px 0;
}
.ht-contact-form-dsc-innr{
	border-bottom: 1px solid#ddd;
}
.ht-contact-form-dsc{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0 30px 20px;
}
.ht-contact-form-dsc h2{
	margin-bottom: 10px;
	text-transform: capitalize;
}
.ht-contact-form-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	line-height: 1;
	padding-bottom: 10px;
}
.ht-contact-form-cntlr{
	padding-top: 30px;
}
.ht-contact-form-lft{
	float: left;
	width: 65%;
	padding-right: 20px;
}
.ht-contact-form-field{
	margin-bottom: 20px;
}
.ht-contact-form-textarea label,
.ht-contact-form-field label{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #334e6f;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.ht-contact-form-textarea textarea,
.ht-contact-form-field input[type="email"],
.ht-contact-form-field input[type="text"]{
	width: 100%;
	height: 45px;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 400;
	border:1px solid#ddd;
	padding: 10px 15px;
}
.ht-contact-form-textarea textarea{
	height: 200px;
	resize: none;
	padding-top: 20px;
}
.ht-contact-form-btn button{
	max-width: 200px;
	width: 100%;
	height: 45px;
	background: #00732e;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 15px;
	border:2px solid#00732e;
	cursor: pointer;
}
.ht-contact-form-btn button:hover{
	background: transparent;
	color: #00732e;
}
.ht-contact-form-textarea textarea:focus,
.ht-contact-form-field input[type="email"]:focus,
.ht-contact-form-field input[type="text"]:focus{
	border-color: #d80100;
}

/*
-------------------
ht-contact-form-rgt
-------------------
*/
.ht-contact-form-rgt {
    float: right;
    width: 35%;
    padding-left: 20px;
    padding-top: 25px;
}
.ht-contact-info-item{
	padding: 20px 20px;
	position: relative;
	background: #fff;
	border: 1px solid#ddd;
	padding-left: 70px;
	margin-bottom: 20px;
}
.ht-contact-info-icon{
	position: absolute;
	left: 20px;
	top: 20px;
}
.ht-contact-info-icon i{
	display: inline-block;
	vertical-align: baseline;
}
.ht-contact-info-dsc strong{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.ht-contact-info-dsc a{
	display:block;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.5;
	color: #334e6f;
	font-weight: 400;
}
.ht-contact-info-dsc a:hover{
	color: #d80100;
}

#googlemap{
	height: 700px;
}
/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ht-contact-info-dsc a br{
		display: none;
	}
	#googlemap {
	    height: 650px;
	}
	

}

@media(max-width: 991px){
	.ht-contact-form-rgt {
	    width: 37%;
	    padding-left: 10px;
	}
	.ht-contact-form-lft {
	    width: 63%;
	    padding-right: 10px;
	}
	.ht-contact-info-item {
	    padding: 20px 10px;
	    padding-left: 65px;
	}
	#googlemap {
	    height: 600px;
	}
		
}

@media(max-width: 767px){
	.ht-contact-form-sec-wrp {
	    padding: 35px 0;
	}
	.ht-contact-form-rgt {
	    width: 100%;
	    padding-left: 0;
	}
	.ht-contact-form-lft {
	    width: 100%;
	    padding-right: 0;
	}
	#googlemap {
	    height: 550px;
	}
	

	
}

@media(max-width: 575px){
	.ht-contact-form-textarea label,
	.ht-contact-form-field label{
		font-size: 16px;
	}
	.ht-contact-form-textarea textarea{
		height: 150px;
	}
	.ht-contact-form-btn button {
	    max-width: 180px;
	    width: 100%;
	    height: 45px;
	    font-size: 16px;
	}
	#googlemap {
	    height: 500px;
	}
	.ht-contact-form-textarea textarea,
	.ht-contact-form-field input[type="email"],
	.ht-contact-form-field input[type="text"]{
		font-size: 14px;
	}
	.ht-contact-form-dsc {
	    padding: 0 10px 20px;
	}
		

}

@media(max-width: 479px){
	#googlemap {
	    height: 400px;
	}
	.ht-contact-info-icon{
		left: 10px;
	}
	.ht-contact-info-item {
	    padding-left: 50px;
	}
	.ht-contact-info-dsc strong{
		padding-bottom: 5px;
	}

}

@media(max-width: 359px){
	#googlemap {
	    height: 350px;
	}
}
