/*
----------------------
em-register-form-sec-wrp
----------------------
*/
.em-register-form-sec-wrp {
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}
.em-register-form-head-title{
	display: block;
	font-size: 25px;
	line-height: 1;
	color: #00732e;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.em-register-form-lft{
	width: 100%;
	padding-right: 0;
}
.em-register-form-filds-d2{
    margin: 0 -10px;
}

.em-register-form-filds-d2 .em-register-form-textarea,
.em-register-form-filds-d2 .em-register-form-filds{
    width: 50%;
    float: left;
    padding: 0 10px;
}
.em-register-form-textarea,
.em-register-form-filds{
	margin-bottom: 20px;
}
.em-register-form-textarea label,
.em-register-form-filds label{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 500;
}
.cerification-code-fld input[type="text"],
.em-register-form-textarea textarea,
.em-register-form-filds input[type="text"]{
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	padding: 10px 15px;
	border:1px solid#ddd;
}
.em-register-form-textarea textarea{
	height: 100px;
	resize: none;
}
.em-register-form-rgt{
	width: 100%;
	padding-left: 0;
}
.input-type-radio{
	float: left;
}
.em-register-form-check .ht-jb-corporate-sign-checkbox ul {
    float: left !important;
}
.em-register-form-check .ht-jb-corporate-sign-checkbox {
    border-bottom: 0 !important;
}
.em-register-form-check .ht-jb-corporate-sign-checkbox ul li{
    width: 50%;
    float: left;
}
.em-register-form-check {
    height: 200px;
    position: relative;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
}
.em-register-form-lft-cntlr{
    padding-bottom: 20px;
    border-bottom: 1px solid#ddd;
}
.em-register-form-check .ht-jb-corporate-sign-checkbox{
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cerification-code-cntlr label,
.em-register-form-lbl label,
.em-register-form-filds > span{
	display: block;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	padding-bottom: 15px;
}
.input-type-radio input[type=radio],
.input-type-radio input[type=checkbox]{
  display:none!important;
}

.input-type-radio label{
    display: inline-block;
    font-size: 18px!important;
    line-height: 1!important;
    font-weight: 600;
    color: #334e6f;
    padding-left: 25px!important;
    text-transform: inherit;
    padding-right: 28px!important;
    cursor: pointer;
    position: relative;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.input-type-radio input[type=radio] + label span.checkmark,
.input-type-radio input[type=checkbox] + label span.checkmark{
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border:1px solid#00732e;
    border-radius: 20px;
}
.input-type-radio input[type=radio]:checked + label:after,
.input-type-radio input[type=checkbox]:checked + label:after{
    content: "";
    outline: 0;
    background-color:#00732e;
    color: #fff;
    position: absolute;
    left: 3px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
}

.em-register-form-filds select {
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 40px;
    width: 100% !important;
    height: 40px !important;
    background-color: #fff !important;
    border: 0;
    padding: 10px 20px;
    font-size: 14px !important;
    line-height: 1;
    color: #334e6f !important;
    font-weight: 400 !important;
    border: 1px solid#ddd !important;
    position: relative;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background-image: url(../images/select-angle-icon2.svg)!important;
    background-size: 15px 10px;
    background-repeat: no-repeat !important;
    background-position: 98% center !important;
}
.em-register-form-filds .btn-light:hover{
    color: #212529;
    background-color: #fff !important;
    border-color: #ddd !important;
}
.em-register-form-filds .bootstrap-select button{
	height: 40px !important;
	border:1px solid#ddd !important;
	color: #334e6f !important;
	font-size: 14px !important;
	line-height: 1 !important;
	text-transform: capitalize !important;
	padding: 12px 15px 10px 15px !important;
	background: #fff !important;
	position: relative;
}
.em-register-form-filds .dropdown-toggle::after {
    border: 0 !important;
    content: "";
    position: absolute;
    right: 12px;
    top: 14px;
    width: 16px;
    height: 10px;
    background-image: url(../images/select-angle-icon2.svg)!important;
    background-size: 16px 10px;
}
.em-register-form-filds .ht-jb-live-stats {
    padding-bottom: 0;
}
.em-register-form-wrp  .ht-jb-corporate-sign-checkbox{
    border-bottom: 0;
}
.em-register-form-wrp  .ht-jb-corporate-sign-checkbox ul{
    float: right;

}
.ht-jb-corporate-sign-checkbox ul li label{
    font-size: 16px;
    color: #334e6f;
}
.ht-jb-new-ac-sign-btn button {
    display: inline-block;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: #00732e;
    border:2px solid#00732e;
    max-width: 200px;
    width: 100%;
    height: 50px;
    float: right;
    margin-top: 30px;
    cursor: pointer;
}
.ht-jb-new-ac-sign-btn button:hover{
    background: transparent;
    color: #00732e;
}
.ht-jb-cp-ck ul{
    float: left !important;
}
.ht-jb-toggle{
    display: none;
}
.cerification-code-fld{
    width: 50%;
    float: left;
}
.cerification-code-cntlr span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 20px;
    line-height: 1;
    color: #334e6f;
    font-weight: 700;
    padding-top: 10px;
}
.pricing-policy-wrp h5 {
    font-size: 17px;
    line-height: 1;
    margin-top: 20px;
    font-weight: 700;
}
.pricing-policy-table-wrp{
    border: 1px solid#ddd;
    padding: 20px 20px;
    background: #fff;
}
.pricing-policy-table table tbody tr td,
.pricing-policy-table table thead tr th{
    text-align: left;
}
.em-register-form-check-wrp{
    padding-bottom: 20px;
}
.em-register-form-check-wrp ul li{
    float: left;
    padding: 0 5px;
}
.em-register-form-check-wrp ul li a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    color:#fff;
    padding: 10px 10px;
    background: #00732e;
    border-radius: 20px;
}
.em-register-form-check-wrp ul li a i{
    display: inline-block;
    vertical-align: baseline;
    padding-left: 5px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
    
    

}

@media(max-width: 991px){
    
    
    
}

@media(max-width: 767px){
    .input-type-radio {
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }

    
}

@media(max-width: 575px){
    .email-resume-form-wrp .input-type-radio label {
        font-size: 14px !important;
    }
    

}

@media(max-width: 479px){
    .email-resume-form-field label{
        font-size: 14px !important;
    }
    .email-resume-form-field textarea,
    .email-resume-form-field input[type="text"] {
        width: 100%;
        height: 40px;
        font-size: 14px;
        padding: 10px 15px;
    }

}

@media(max-width: 359px){

}