/*
-------------------
-------------------
*/
.cpt-dflt-menu-cntlr{
	border:1px solid#ddd;
	padding: 10px 10px;
}
.cpt-dflt-menu {
    float: left;
    width: 45%;
}
.cpt-dflt-menu ul li{
	float: left;
	padding: 0 5px;
}
.cpt-dflt-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	padding: 10px 10px;
	background:#00732e;
}
.cpt-dflt-btn a:hover,
.cpt-dflt-menu ul li.active a,
.cpt-dflt-menu ul li a:hover{
	background: #d80100;
}
.cpt-dflt-rgt {
    float: right;
    width: 55%;
}
.cpt-dflt-rgt .em-grid-select{
	width: 30%;
}
.cpt-dflt-rgt .hdr-search{
	float: left;
	width: 35%;
	padding-left: 0;
}
.cpt-dflt-date {
    float: right;
    width: 35%;
    padding-left: 10px;
}
.cpt-dflt-date input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px solid#ddd;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
}
.cpt-dflt-rgt .em-grid-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    padding-left: 10px;
}
.cpt-dflt-rgt .em-grid-select .bootstrap-select>.dropdown-toggle{
	padding: 12px 12px;
}
.cpt-dflt-title{
	padding-top: 10px;
	padding-bottom: 10px;
}
.cpt-dflt-title ul li {
    float: left;
    width: 13%;
    font-weight: 700;
    text-align: center;
}
.cpt-dflt-title ul li:first-child{
	width: 20%;
}
.cpt-dflt-post-wrp {
    background: #fff;
    border: 1px solid#ddd;
    padding: 10px 10px;
}
.cpt-dflt-post-wrp ul li{
	width: 12%;
	float: left;
}
.cpt-dflt-post-wrp ul li:first-child{
	width: 28%;
}
.cpt-dflt-post{
	position: relative;
}
.cpt-dflt-post-wrp ul li:first-child .cpt-dflt-post{
	padding-left: 25px;
}
.cpt-dflt-post span {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: #00732e;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.cpt-dflt-post h5{
	margin-bottom: 10px;
}
.cpt-dflt-post h5 a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #00732e;
}
.cpt-dflt-post p{
	margin-bottom: 5px;
}
.cpt-dflt-post p em{
	color: #d80100;
}
.cpt-dflt-gero h4{
	margin: 30px 0;
	text-align: center;
	font-size: 15px;
}
.cpt-dflt-btn a{
	display: block;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 8px 10px;
	text-align: center;
	margin: 5px 0;
}
.cpt-dflt-post-cv ul li{
	width: 50% !important;
}
.cpt-dflt-post-cv .cpt-dflt-btn a{
	display: inline-block;
	vertical-align: baseline;
}
.cpt-dflt-post-cv .cpt-dflt-btn {
    float: right;
    padding-top: 30px;
}
.cpt-dflt-post-cv{
	margin-bottom: 20px;
}
.cpt-dflt-tabs{
	display: none;
}
.cpt-dflt-title2 ul li{
	width: 50% !important;
}
.wlc-cv-bnk-cl-op-show {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #171717;
    color: #fff;
    z-index: 20;
    display: none;
}
.wlc-cv-bnk-cl-op-show.show-menu3{
	display: block;
}
.wlc-cv-bnk-cl-op-tp{
	padding-bottom: 20px;
}
.wlc-cv-bnk-cl-op-cntlr{
	padding: 20px 20px 10px;
}
.wlc-cv-bnk-cl-op-btm span,
.wlc-cv-bnk-cl-op-mid span,
.wlc-cv-bnk-cl-op-tp span{
	display: block;
}
.wlc-cv-bnk-cl-op-mid {
    background: #2590b1;
    padding: 10px 10px 1px 10px;
    margin-bottom: 10px;
}
.wlc-cv-bnk-cl-op-btm {
    background: #2550b1;
    padding: 10px 10px 1px 10px;
    margin-bottom: 10px;
}
.wlc-cv-bnk-cl-op-btn a{
	display:block;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background:#00732e;
	padding: 10px 20px;
	text-align: center;
}
.wlc-cv-bnk-cl-op-cls {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    line-height: 1;
    color: #fff;
}


/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1199px){
	.cpt-dflt-menu {
	    width: 40%;
	}
	.cpt-dflt-menu ul li a{
		font-size: 14px;
	}
	.cpt-dflt-rgt {
	    width: 60%;
	}
}

@media(max-width: 991px){
	.cpt-dflt-menu {
	    width: 100%;
	}
	.cpt-dflt-rgt {
	    width: 100%;
	    padding-bottom: 10px;
	}
	/*.cpt-dflt-post-wrp,
	.cpt-dflt-title{
		width: 100%;
		overflow-x: scroll !important;
		overflow-y: hidden !important;
		white-space: normal !important;
	}*/
	.cpt-dflt-title ul li{
		font-size: 12px;
	}
	.cpt-dflt-btn a {
	    padding: 8px 5px;
	}
}

@media(max-width: 767px){
	.cpt-dflt-title ul li{
		width: 25% !important;
	}
	.cpt-dflt-post-wrp ul li {
	    width: 25% !important;
	}
}


@media(max-width: 575px){
	.cpt-dflt-title ul li{
		width: 33.3333% !important;
	}
	.cpt-dflt-post-wrp ul li {
	    width: 33.3333% !important;
	}
	.cpt-dflt-date {
	    width: 100%;
	    padding-left: 0;
	    padding-bottom: 10px;
	}
	.cpt-dflt-rgt .em-grid-select {
	    width: 100%;
	    padding-bottom: 10px;
	}
	.cpt-dflt-rgt .hdr-search {
	    width: 100%;
	    padding-left: 0;
	}
	.cpt-dflt-rgt .em-grid-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	    width: 100%;
	    padding-left: 0;
	}
}
@media(max-width: 479px){
	.cpt-dflt-menu ul li a {
	    font-size: 12px;
	    padding: 10px 5px;
	}
}
