/*
--------------------------
cust-trning-page-hdr-wrp
--------------------------
*/
.cust-trning-page-hdr-wrp{
	padding: 30px 0;
	background: #fff;
}
.cust-trning-page-menu{
	padding-top: 10px;
}
.cust-trning-page-hdr-logo a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.cust-trning-page-menu ul{
	float: right;
	padding-left: 10px
}
.cust-trning-page-menu ul li{
	float: left;
	padding: 0 10px;
}
.cust-trning-page-menu ul li a{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 11px 20px;
}
.cust-trning-page-menu ul li a i{
	padding-right: 10px;
}
.cust-trning-page-menu ul li a:hover{
	background: #d80100;
}
/*
---------------------
cust-trning-form-sec-wrp
----------------------
*/
.cust-trning-form-sec-wrp{
	padding: 50px 0;
}
.cust-trning-form{
	padding-top: 30px;
}
.cust-trning-form-wrp{
	background: #fff;
	border: 1px solid#ddd;
	padding: 30px 20px;
}
.cust-trning-form-dsc{
	border-bottom: 1px solid#ddd;
	padding-bottom: 10px;
}
.full-field .ht-prls-dtls-frm-field{
	width: 100%;
}
.cust-trning-add-img img{
	width: 100%;
}
.cust-trning-add-wrp{
	border:1px solid#ddd;
	padding: 20px 20px;
}

/*
-----------------------
 Traning Details
-----------------------
*/
.cust-trning-cus-sec-wrp{
	padding: 50px 0;
	background: #4C51D6;
}
.cust-trning-cus-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 20px;
	line-height: 1;
	color: #fff;
	padding-bottom: 20px;
}
.cust-trning-cus-dsc a:hover{
	color: #d80100;
	text-decoration: underline;
}
.cust-trning-cus-dsc h2{
	margin-bottom: 20px;
	color: #fff;
	text-transform: capitalize;
}
.cust-trning-cus-dsc ul li{
	color: #fff;
	padding-bottom: 5px;
}
.cust-trning-cus-dsc ul li i{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 10px;
}
.cust-trning-cus-dsc strong{
	color: #fff;
	padding-top: 10px;
	display: inline-block;
	vertical-align: baseline;
}
.cust-trning-form-dsc h5{
	text-transform: capitalize;
}
.cust-trning-dtls-dsc{
	padding-top: 30px;
}
.cust-trning-dtls-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 15px;
}
.cust-trning-dtls-dsc ul{
	padding-bottom: 20px;
}
.cust-trning-dtls-btn{
	padding-bottom: 30px;
	border-bottom: 1px solid#ddd;
}
.related-course-grid-wrp{
	padding-top: 30px;
}
/*
-------------------
  Grid Css
-------------------
*/
.related-course-grid-wrp h4{
	margin-bottom: 20px;
	text-transform: capitalize;
}
.related-course-grid > ul{
	margin: 0 -10px;
}
.related-course-grid > ul > li{
	float: left;
	width: 50%;
	padding: 0 10px 20px;
}
.related-course-grid-innr{
	border:1px solid#ddd;
}
.related-course-grid-tp{
	background: #00732e;
	padding: 30px 20px 50px;
	text-align: center;
}
.related-course-grid-tp h5{
	color: #fff;
	margin-bottom: 20px;
	text-transform: capitalize;
	text-align: center;
}
.related-course-grid-tp h5 i{
	padding-right: 10px;
}
.related-course-grid-tp span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	text-align: center;
}
.related-course-grid-mid{
	padding: 0 20px;
	border-bottom: 1px solid#ddd;
}
.related-course-prf{
	text-align: center;
	margin-top: -35px;
}
.related-course-prf img{
	width: 70px;
	height: 70px;
}
.related-course-prf h6{
	text-transform: capitalize;
	margin-top: 15px;
	margin-bottom: 15px;
}
.related-course-grid-mid span{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 10px;
	color: #d80100;
}
.related-course-grid-mid span i{
	padding-right: 10px;
}
.related-course-grid-btm{
	padding: 30px 10px;
	text-align: center;
}
.related-course-grid-btm ul{
	margin: 0 auto;
	display: table;
}
.related-course-grid-btm ul li{
	float: left;
	padding: 0 5px;
}
.rltd-crs-grid-btn{
	float: right;
}
.cust-trning-reg-tp-dsc > a,
.rltd-crs-grid-btn a,
.related-course-grid-btm ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 10px;
}
.cust-trning-reg-tp-dsc > a:hover,
.rltd-crs-grid-btn a:hover,
.related-course-grid-btm ul li a:hover{
	background: #d80100;
}
.rltd-crs-grid-btn a{
	font-size: 16px;
	line-height: 1;
	padding: 10px 20px;
}
.rltd-crs-grid-btn a i{
	padding-left: 10px;
}
.cust-trning-reg-tp-dsc{
	border-bottom: 1px solid#ddd;
}
.cust-trning-reg-tp-dsc h4{
	text-transform: capitalize;
	margin-bottom: 10px;
	margin-top: 10px;
}
.cust-trning-reg-tp-dsc h4 strong{
	display: inline-block;
	vertical-align: baseline;
	color: #00732e;
}
.cust-trning-info h5{
	text-align: center;
	border-bottom: 1px solid#ddd;
	padding-bottom: 15px;
}
.cust-trning-reg-tp-dsc > a{
	font-size: 16px;
	line-height: 1;
	padding: 10px 20px;
}
.cust-trning-info{
	padding-top: 20px;
	padding-bottom: 20px;
}
.cust-trning-info span a{
	color: #334e6f;
	display: block;
	line-height: 1.4;
}
.who-can-dsc ul li a:hover,
.cust-trning-info span a:hover{
	color: #d80100;
}
.who-can-text-cntlr{
	border:1px solid#ddd;
	margin-bottom: 20px;
}
.who-can-text > span{
	display: block;
	background: #00732e;
	padding: 10px 20px;
	color: #fff;
	margin-bottom: 15px;
}
.who-can-text p{
	padding: 0 15px;
}
.who-can-text strong{
	display: block;
	text-align: center;
}
.who-can-text b{
	font-weight: 400;
	text-align: center;
	padding-bottom: 10px;
	display: block;
}
.who-can-text img {
    width: 100px;
    height: 100px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
}
.who-can-dsc ul li{
	float: left;
	width: 100%;
	padding: 10px 10px;
	border-bottom: 1px solid#ddd;
}
.who-can-dsc ul li a{
	display:block;
	text-decoration: none;
	color: #334e6f;
	font-size: 16px;
	line-height: 1.2;
}
.who-can-dsc ul li span{
	color: #fff;
	background: #00732e;
	padding: 5px 10px;
	display: inline-block;
	vertical-align: baseline;
	margin-top: 5px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.cust-trning-page-hdr-wrp .cust-trning-page-menu ul li a {
	    font-size: 15px;
	    padding: 10px 10px;
	}
	.hdr-search {
	    max-width: 265px;
	    width: 100%;
	    padding-left: 10px;
	}
	.new-tn-grid-dsc {
	    padding: 20px 10px;
	}
	.cust-trning-page-hdr-logo{
		text-align: center;
	}
	.cust-trning-dtls-btn button{
		margin-bottom: 10px;
	}
	.related-course-grid-btm {
	    padding: 20px 5px;
	}
	.cust-trning-form-wrp {
	    padding: 20px 10px;
	}
	.cust-trning-reg-tp-dsc > a,
	.rltd-crs-grid-btn a,
	.related-course-grid-btm ul li a {
	    padding: 10px 5px;
	}
}

@media(max-width: 991px){
	.cust-trning-page-menu {
	    padding-top: 15px;
	    display: table;
	    margin: 0 auto;
	}
	.cust-trning-add-wrp {
	    padding: 20px 10px;
	}
	.ht-prls-dtls-frm-textarea label,
	.ht-prls-dtls-frm-field label{
		font-size: 15px !important;
	}
	.hdr-search {
	    margin-top: 10px;
	}
	.cust-trning-form-sec-wrp .related-course-grid > ul > li {
	    width: 100%;
	}
	.cust-trning-reg-tp-dsc > a {
	    font-size: 14px;
	}
	.cust-trning-page-menu ul li {
	    padding: 0 5px 5px;
	    width: 33.3333%;
	}
	.cust-trning-page-hdr-wrp .cust-trning-page-menu ul li a {
	    font-size: 14px;
	    padding: 10px 10px;
	}
}

@media(max-width: 767px){
	.cust-trning-page-hdr-wrp .cust-trning-page-menu ul li a {
	    font-size: 14px;
	    padding: 13px 10px;
	}
	.cust-trning-form-sec-wrp {
	    padding: 30px 0;
	}
	.hdr-search {
	    margin-top: 0;
	}
	

	
}
@media(max-width: 639px){
	.cust-trning-page-menu ul {
	    float: none;
	    padding-left: 0;
	    padding-bottom: 15px;
	}
	.hdr-search {
	    max-width: 265px;
	    width: 100%;
	    padding-left: 0;
	    display: table;
	    margin: 0 auto;
	    float: none;
	    padding-bottom: 0;
	}

}

@media(max-width: 575px){
	.cust-trning-page-menu ul li {
	    width: 50%;
	}
}

@media(max-width: 479px){
	.cust-trning-page-menu ul li {
	    padding: 0 5px 5px;
	}
	.cust-trning-page-hdr-wrp .cust-trning-page-menu ul li a {
	    font-size: 13px;
	    padding: 10px 5px;
	}
}

@media(max-width: 359px){

}