/*
----------------
welcm-cv-bnk-wrp
----------------
*/
.welcm-cv-bnk-wrp{
	background: #fff;
	border:1px solid#ddd;
	padding: 20px 20px;
	margin: 20px 0;
}
.welcm-cv-bnk-img{
	text-align: right;
	padding-right: 20px;
}
.wlc-cv-bnk-grid-wrp{
	background: #fff;
	border:1px solid#ddd;
	padding: 20px 20px;
}
.wlc-cv-bnk-grid-tp-dsc{
	margin-bottom: 20px;
}
.wlc-cv-bnk-grid-tp-dsc h5{
	float: left;
	text-transform: capitalize;
}
.wlc-cv-bnk-grid-lft{
	float: left;
	width: 75%;
	padding-right: 15px;
}
.wlc-cv-bnk-cl-lft{
	width: 50%;
	float: left;
	padding-right: 15px;
}
.wlc-cv-bnk-cl ul{
	margin: 0 -5px;
}
.wlc-cv-bnk-cl ul li{
	float: left;
	width: 50%;
	padding: 0 5px 15px;
}
.wlc-cv-bnk-cl-inr {
    border: 1px solid#ddd;
    position: relative;
}
.wlc-cv-bnk-cl-wrp{
	border:1px solid#ddd;
	padding: 20px 20px;
}
.wlc-cv-bnk-cl-tp{
	padding: 10px 20px 10px 10px;
	position: relative;
}
.wlc-cv-bnk-cl-tp i{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 5px;
}
.wlc-cv-bnk-cl-tp p {
    margin-bottom: 10px;
    height: 35px;
    text-align: justify;
    font-size: 13px;
}
.wlc-cv-bnk-cl-btm {
    background: #ddd;
    padding: 5px 10px;
    text-align: center;
    /*position: absolute;
    left: 0;
    right: 0;
    bottom: 0;*/
}
.wlc-cv-bnk-cl-btm i{
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	font-size: 20px;
	line-height: 1;
	color: #03722e;
}
.bros-more-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	padding: 10px 10px;
	border:1px solid#ddd;
	position: relative;
	padding-right: 20px;
}
.bros-more-btn a:after {
    content: "\f107";
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 16px;
    line-height: 1;
    color: #334e6f;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
}
.wlc-cv-bnk-cl-rgt{
	width: 50%;
	float: right;
}
.wlc-cv-bnk-cl-dsc{
	padding-bottom: 10px;
}
.wlc-cv-bnk-grid-rgt{
	float: right;
	width: 25%;
	padding-left: 15px;
}
.srch-title-bx-cntlr{
	border:1px solid#ddd;
	padding: 20px 10px;
}
.srch-title-bx{
	background: #ddd;
	padding: 10px 10px;
	margin-bottom: 20px;
}
.srch-title-bx h6{
	margin-bottom: 10px;
	text-transform: capitalize;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.wlc-cv-bnk-cl ul li {
	    width: 100%;
	    padding: 0 5px 15px;
	}
	

}

@media(max-width: 991px){
	
	.wlc-cv-bnk-grid-wrp {
	    padding: 20px 10px;
	}
	.wlc-cv-bnk-grid-lft {
	    padding-right: 5px;
	}
	.wlc-cv-bnk-grid-rgt{
		padding-left: 5px;
	}
	.wlc-cv-bnk-cl-wrp {
	    padding: 20px 10px;
	}
	
}

@media(max-width: 767px){
	.wlc-cv-bnk-grid-lft {
	    padding-right: 0;
	    width: 100%;
	}
	.wlc-cv-bnk-grid-rgt {
	    padding-left: 0;
	    width: 100%;
	    padding-top: 20px;
	}
	.welcm-cv-bnk-img {
	    text-align: center;
	    padding-right: 0;
	    padding-top: 20px;
	}
}

@media(max-width: 575px){
	.wlc-cv-bnk-cl-lft {
	    padding-right: 10px;
	}
	

}

@media(max-width: 479px){
	.wlc-cv-bnk-cl-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.wlc-cv-bnk-cl-rgt {
	    width: 100%;
	    padding-top: 20px;
	}
}

@media(max-width: 359px){

}