/*
------------------
df-order-form-wrp
------------------
*/
.df-order-form-wrp{
	background: #fff;
	border: 1px solid#ddd;
	padding: 20px 20px;
	margin-top: 20px;
}
.df-order-form-tp-dsc{
	border-bottom: 1px solid#ddd;
}
.df-order-form-cntlr h5{
	text-transform: capitalize;
	margin-top: 20px;
	margin-bottom: 20px;
}
.df-ur-form-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 15px;
}
.df-ur-form-dsc h6{
	text-transform: capitalize;
}
.df-order-form-cntlr .ht-login-rgi-form-checkbox{
	padding-top: 0;
}
.ht-prls-dtls-frm-field a {
    display: block;
    vertical-align: baseline;
    text-decoration: none;
    text-align: right;
    padding-top: 10px;
    color: #00732e;
}
.ht-prls-dtls-frm-field a:hover{
	color: #d80100;
}

/*
---------------
cmn-modal-menu
---------------
*/
.cmn-modal-menu ul{
	margin: 0 -10px;
}
.cmn-modal-menu ul li{
	float: left;
	padding: 0 10px 20px;
}
.cmn-modal-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.cmn-modal-menu ul li.active a,
.cmn-modal-menu ul li a:hover{
	background: #d80100;
}
.CmModalTabs{
	display: none;
}
.CmModalTab-img{
	height: 400px;
	overflow-y:scroll; 
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	

	
}

@media(max-width: 575px){
	
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}