/*
--------------------------
e-learning-search-sec-wrp
--------------------------
*/
.e-learning-search-sec-wrp{
	background: url(../images/e-learning-search-sec-wrp-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 50px 0;
	position: relative;
}
.e-learning-search-sec-wrp:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: #000;
	opacity: 0.5;
}
.e-learning-search-wrp{
	position: relative;
	z-index: 2;
}
.e-learning-search-cntlr{
	background: #13007e;
	padding: 30px 20px;
}
.e-learning-search-menu{
	padding-bottom: 20px;
}
.e-learning-search-menu ul li{
	float: left;
	width: 20%;
	/*padding: 0 5px;*/
}
.e-learning-search-menu ul li a{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	text-align: center;
	padding: 20px 20px;
	background: #00732e;
	/*border-radius: 50px;*/
	border-right: 1px solid#fff;
}
.e-learning-search-menu ul li:last-child a{
	border-right: 0;
}
.e-learning-search-menu ul li a:hover{
	background:#d80100;
}
.e-learning-select-wrp{
	padding-top: 30px;
}
.e-learning-select-wrp h2{
	margin-bottom: 20px;
	text-transform: capitalize;
	color: #fff;
	text-align: center;
}
.e-learning-select-wrp .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}
.e-learning-select-wrp .bootstrap-select>select{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100% !important;
}
.e-learning-select-wrp .em-register-form-filds .bootstrap-select button {
    height: 50px !important;
    padding: 18px 15px 15px 15px !important;
}
.e-learning-select-wrp .em-register-form-filds .dropdown-toggle::after{
	top: 20px;
}
.e-learning-select-wrp .ht-jb-live-stats .btn-light:not(:disabled):not(.disabled).active,
.e-learning-select-wrp .ht-jb-live-stats .btn-light:not(:disabled):not(.disabled):active,
.e-learning-select-wrp .ht-jb-live-stats .show>.btn-light.dropdown-toggle {
    color: #334e6f !important;
    background-color: #fff !important;
    border-color: #d3d9df !important;
}

/*
------------------------
ht-sidebar-menu-tbs-sec-wrp
------------------------
*/
.ht-sidebar-menu-tbs-sec-wrp{
	padding: 50px 0;
	background: #165273;
}
.ht-sidebar-menu-tbs-cntlr{
	background: #fff;
	position: relative;
}
.ht-sidebar-menu-lft{
	width: 25%;
	height: 100%;
	float: left;
	background:#00334c;
	padding-top: 20px;
	padding-bottom: 20px;
}
.ht-sidebar-menu ul li a{
	display: block;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	padding: 10px 20px;
}
.ht-sidebar-menu ul li.active a,
.ht-sidebar-menu ul li a:hover{
	background: #d70100;
}
.ht-sidebar-tbs-wp{
	float: left;
	width: 75%;
}
.ht-sidebar-tbs-grid-item{
	display: none;
}
.ht-sidebar-tbs-grid-item{
	padding:20px 20px;
}
.ht-sidebar-tbs-grid-item ul{
	margin: 0 -10px;
}
.ht-sidebar-tbs-grid-item ul li{
	width: 50%;
	float: left;
	padding: 0 10px;
}
.ht-sidebar-tbs-grid-item ul li a{
	display: block;
	text-decoration: none;

}
.ht-sidebar-tbs-grid-item ul li a:hover{
	background:#ddd;
}
.ht-sidebar-tbs-grid-item-list{
	position: relative;
	padding:0 10px 0 50px;
}
.ht-sidebar-tbs-grid-item-innr{
	padding: 30px 0;
	border-bottom: 1px solid#ddd;
}
.ht-sidebar-tbs-grid-item-list span{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background:#00732e;
}
.ht-sidebar-tbs-grid-item-list span i{
	display:block;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
.ht-sidebar-tbs-grid-item-list h5{
	margin-bottom: 10px;
	text-transform: capitalize;
	color: #00732e;
}
.ht-sidebar-tbs-grid-item-list strong{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 400;
	color: #334e6f;
}
/*
-----------------------
dylg-crs-grid-sec-wrp
-----------------------
*/
.dylg-crs-grid-sec-wrp{
	padding: 50px 0;
	background: #fff;
}
.dylg-crs-grid-wrp h3{
	margin-bottom: 30px;
	text-transform: capitalize;
}
.dylg-crs-grid{
	padding: 10px 20px 20px 170px;
	position: relative;
	border-bottom: 1px solid#ddd;
	margin-bottom: 20px;
}
.dylg-crs-grid-img{
	position: absolute;
	left: 0;
	top: 0;
}
.dylg-crs-grid-img img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.dylg-crs-grid-dsc h5{
	margin-bottom: 15px;
	text-transform: capitalize;
}
.dylg-crs-grid-dsc h5 a{
	color: inherit;
	text-decoration: none;
}
.dylg-crs-grid-dsc strong,
.dylg-crs-grid-dsc span{
	display: block;
	padding-bottom: 5px;
}
.dylg-crs-grid-dsc strong i,
.dylg-crs-grid-dsc span i{
	padding-right: 5px;
}
.dylg-crs-grid-dsc p a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #334e6f;
}
.ylg-crs-grid-btn a,
.dylg-crs-grid-dsc > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.ylg-crs-grid-btn a:hover,
.dylg-crs-grid-dsc > a:hover{
	background: #d70100;
}
.dylg-crs-grid-dsc h5 a:hover,
.dylg-crs-grid-dsc p a:hover{
	color: #d70100;
}
.ylg-crs-grid-btn a{
	display: block;
	text-align: center;
}
/*
--------------------
learning-grid-sec-wrp
--------------------
*/
.learning-grid-sec-wrp{
	padding: 50px 0;
}
.learning-slide-tp-dsc h4{
	text-transform: capitalize;
	margin-bottom: 15px;
}
.learning-slide-tp-dsc p{
	margin-bottom: 50px;
}
.learning-slider-wrp{
	position: relative;
}
.learning-slider-lft{
	float: left;
	width: 50%;
	padding-right: 20px;
}
.learning-slide-item-img{
	height: 400px;
	position: relative;
}
.learning-slide-item-dsc{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px 20px;
	background: rgba(0,0,0,0.4);
}
.learning-slide-item-dsc h5{
	color: #fff;
	margin-bottom: 0;
	text-transform: capitalize;
	text-align: center;
}

.hm-prev-nxt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 10;
}
.fl-nxt-prev .fl-prev {
    left: 0;
}
.fl-nxt-prev .fl-next {
    right: 0;
}
.hm-gv-jb-prev-nxt .fl-nxt-prev .fl-prev {
    left: -65px;
}
.fl-nxt-prev .fl-next,
.fl-nxt-prev .fl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #00732e;
    font-size: 30px;
    line-height: 1;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.fl-nxt-prev .fl-next:hover,
.fl-nxt-prev .fl-prev:hover {
    background: #d70100;
}
.learning-grid-rgt {
    width: 50%;
    padding-left: 20px;
    float: left;
}
.learning-grid-wrp ul{
	margin: 0 -10px;
}
.learning-grid-wrp ul li{
	width: 50%;
	float: left;
	padding: 0 10px 20px;
}
.learning-grid-innr{
	background: #0088FF;
	height: 266px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
}
.learning-grid-dsc{
	position: relative;
	z-index: 2;
}
.learning-grid-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 40px;
	line-height: 1;
	color: #fff;
	padding-bottom: 20px;
}
.learning-grid-dsc p{
	font-size: 17px;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 0;
}
.learning-grid-innr span{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
/*
--------------------------
ht-larn-footer-tp-sec-wrp
--------------------------
*/
.ht-larn-footer-tp-sec-wrp{
	background: #165273;
	padding: 50px 0;
}
.ht-larn-footer-dsc-wrp{
	padding-right: 20px;
}
.get-em-alt-wrp h4,
.ht-larn-footer-dsc-wrp h4{
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.get-em-alt-wrp p,
.ht-larn-footer-dsc-wrp p{
	color: #fff;
	margin-bottom: 0;
}
.get-em-alt-wrp{
	padding-left: 20px;
}
.get-em-alt-wrp p{
	margin-bottom: 20px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.e-learning-search-menu ul li a {
	    font-size: 15px;
	    padding: 20px 12px;
	}	
	.learning-grid-dsc strong{
		font-size: 38px;
	}

}

@media(max-width: 991px){
	.e-learning-search-menu ul li {
	    width: 25%;
	    padding-bottom: 5px;
	}
	.e-learning-search-menu ul li a {
	    font-size: 14px;
	    padding: 15px 10px;
	}
	.ht-sidebar-menu-lft {
	    width: 100%;
	}
	.ht-sidebar-tbs-wp {
	    width: 100%;
	}
	.ht-sidebar-menu-tbs-sec-wrp .rltd-crs-grid-btn {
	    padding-bottom: 20px;
	}
	.learning-grid-rgt {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 20px;
	}
	.learning-slider-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.learning-grid-dsc strong{
		font-size: 36px;
	}
}

@media(max-width: 767px){
	.e-learning-search-menu ul li {
	    width: 33.3333%;
	    padding-bottom: 5px;
	}
	.dylg-crs-grid-wrp h3 {
	    margin-top: 20px;
	}
	.learning-grid-innr {
	    height: 230px;
	}
	.learning-grid-dsc strong{
		font-size: 34px;
	}
	
}

@media(max-width: 575px){
	.e-learning-search-menu ul li {
	    width: 50%;
	}
	.e-learning-search-sec-wrp .header-search .bootstrap-select {
	    right: 85px;
	    width: 150px !important;
	}
	.dylg-crs-grid-img {
	    position: static;
	    padding-bottom: 20px;
	}
	.dylg-crs-grid {
	    padding: 10px 10px 20px 10px;
	}
	.dylg-crs-grid-sec-wrp {
	    padding: 30px 0;
	}
	.learning-slide-tp-dsc p {
	    margin-bottom: 25px;
	}
	.learning-grid-sec-wrp {
	    padding: 30px 0;
	}
	.ht-sidebar-tbs-grid-item {
	    padding: 15px 10px;
	}
	.learning-grid-innr {
	    height: 200px;
	}
	.learning-grid-dsc strong{
		font-size: 32px;
	}
}

@media(max-width: 479px){
	.e-learning-search-cntlr {
	    padding: 20px 10px 70px;
	}
	.e-learning-search-sec-wrp .header-search .bootstrap-select {
	    right: -15px;
	    width: 140px !important;
	}
	.e-learning-search-sec-wrp .header-search input.search-txt {
	    padding: 10px 10px 10px 10px;
	}
	.e-learning-search-sec-wrp .header-search .bootstrap-select button {
	    padding: 20px 20px 15px 5px;
	    font-size: 11px;
	}
	.e-learning-search-menu ul li a {
	    font-size: 13px;
	    padding: 15px 5px;
	}
	.learning-grid-wrp ul li {
	    width: 100%;
	}
	.learning-grid-dsc strong{
		font-size: 30px;
	}
}

@media(max-width: 359px){

}