/*
-------------------------
ht-personal-dtls-frm-wrp
-------------------------
*/
.ht-personal-dtls-sec-wrp{
	padding: 50px 0;
}
/*
---------------------
ht-personal-dtls-lft
---------------------
*/
.ht-personal-dtls-lft{
	width: 25%;
	float: left;
	padding-right: 15px;
}
.ht-personal-dtls-rgt {
    width: 75%;
    float: right;
    padding-left: 15px;
}
.ht-personal-dtls-rgt-cntlr,
.ht-personal-dtls-lft-cntlr{
	background: #fff;
	border: 1px solid#ddd;
	padding: 30px 20px;
}
.ht-personal-dtls-menu > ul{
	padding-bottom: 15px;
}
.ht-personal-dtls-menu > ul > li{
	/*padding: 15px 15px 15px 15px;
    background: #00732e;*/
    position: relative;
}
.ht-personal-dtls-menu > ul > li > a {
    display:block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding: 15px 15px 15px 15px;
    background: #00732e;
}
.ht-personal-dtls-menu ul > li.menu-item-has-children > a{
	padding-right: 20px;
}
.ht-personal-dtls-menu ul > li.menu-item-has-children > a:after {
    content: "\f078";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 20px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
}
.ht-personal-dtls-menu ul > li.menu-item-has-children.sub-menu-arrow > a:after{
	content: "\f077";
}
.ht-personal-dtls-menu .menu-item-has-children > ul.sub-menu{
    /*position: absolute;
    left: 0;
    top: 100%;*/
    width: 100%;
    border-top: 1px solid#ddd;
    display: none;
    z-index: 10;
    background: #eee;
}
.ht-personal-dtls-menu .menu-item-has-children > ul.sub-menu li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    border-bottom: 1px solid#ddd;
    color: #334e6f;
    padding: 10px 20px 10px 25px;
    position: relative;
}
.ht-personal-dtls-menu .menu-item-has-children > ul.sub-menu li a:after{
	content: "\f104";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 10px;
    font-size: 14px;
    line-height: 1;
    color: #334e6f;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
}
.ht-personal-account-st ul li a:hover,
.ht-personal-dtls-menu .menu-item-has-children > ul.sub-menu li a:hover:after,
.ht-personal-dtls-menu .menu-item-has-children > ul.sub-menu li a:hover{
	color: #d80100;
}
.ht-personal-account-st{
	border-top: 1px solid#ddd;
	padding-top: 10px;
}
.ht-personal-account-st ul li{
	padding: 5px 0;
}
.ht-personal-account-st ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
}
.ht-personal-account-st ul li a i{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 10px;
}

/*
---------------------------
 ht-personal-dtls-tbs-menu
---------------------------
*/
.ht-personal-dtls-tbs-menu{
	padding-bottom: 20px;
}
.ht-personal-dtls-tbs-menu ul li{
	width: 20%;
	float: left;
	text-align: center;
	padding: 10px 15px;
	background: #00732e;
	border-right: 1px solid#fff;
}
.ht-personal-dtls-tbs-menu ul li:hover,
.ht-personal-dtls-tbs-menu ul li.active{
	background: #d80100;
}
.ht-personal-dtls-tbs-menu ul li a{
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
}
.ht-personal-dtls-frm-wrp,
.ht-personal-tabs{
    display: none;
}
.ht-personal-dtls-frm-wrp.active{
    display: block;
}
.ht-personal-dtls-frm-wrp {
    padding: 20px 20px;
    border: 1px solid#ddd;
    background: #fff;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.ht-prls-dtls-frm-field.em-register-form-filds{
	margin: 0;
	padding-bottom: 0;
}
.ht-prls-dtls-frm-field .bootstrap-select .dropdown-menu li {
    position: relative;
    margin-bottom: 0;
}
.ht-prls-dtls-frm-fields{
	margin: 0 -10px 20px;
}
.ht-prls-dtls-frm-field{
	width: 50%;
	float: left;
	padding: 0 10px;
}
.ht-prls-frm-field-full{
	width: 100%;
}
.ht-prls-frm-field-full .ht-login-rgi-form-checkbox{
	float: left;
	padding-right: 15px;
	padding-top: 5px;
}
.ht-prls-dtls-frm-textarea{
	padding: 0 10px;
}
.ht-prls-dtls-frm-field button i{
	padding-right: 10px;
}
.ht-prls-dtls-frm-textarea label,
.ht-prls-dtls-frm-field label{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.ht-prls-dtls-frm-field label span{
	color: #d80100;
}
.ht-prls-dtls-frm-field input[type="password"],
.ht-prls-dtls-frm-textarea textarea,
.ht-prls-dtls-frm-field input[type="date"],
.ht-prls-dtls-frm-field input[type="email"],
.ht-prls-dtls-frm-field input[type="text"]{
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	border: 1px solid#ddd;
	padding: 10px 15px;
}
.ht-prls-dtls-frm-textarea textarea{
	height: 200px;
	padding-top: 20px;
}
.ht-prls-dtls-frm-textarea textarea:focus,
.ht-prls-dtls-frm-field input[type="email"]:focus,
.ht-prls-dtls-frm-field input[type="text"]:focus{
	border-color: #d80100;
}
.ht-prls-dtls-frm-field-btn button{
	width: 100%;
	height: 40px;
	background: #00732e;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}
.ht-prls-dtls-frm-field-btn button:hover{
	background: #d80100;
}
.ht-prls-dtls-frm-btn button{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	background: #00732e;
	padding: 10px 20px;
	margin-left: 10px;
	cursor: pointer;
}
.ht-prls-dtls-frm-btn button:hover,
.ht-prls-dtls-frm-btn button.active{
	background: #d80100;
}


.profile-pic {
    width: 130px;
    max-height: 130px;
    display: inline-block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 130px;
    height: 130px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    display: table;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: absolute;
    top: 0;
    right: 0;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    left: 0;
    bottom: 0;
    width: 100%;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button{
    font-size: 30px;
    color: #00732e;
    margin-top: 95px;
    margin-left: 50px;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}


/*
-------------
 Edit Table
-------------
*/
.ht-prls-dtls-frm-tbl{
    position: relative;
}
.ht-prls-dtls-frm-tbl button {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    background: #00732e;
    padding: 8px 10px;
    margin-left: 10px;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
.ht-prls-dtls-frm-tbl ul li{
    width: 50%;
    float: left;
    padding-bottom: 15px;
    padding-right: 10px;
}
.ht-prls-dtls-frm-tbl strong{
    display: block;
    padding-bottom: 10px;
}
.ht-prls-dtls-frm-tbl span{
    display: block;
}
.ht-personal-dtls{
    display: none;
}
.ht-personal-dtls.show-menu1{
    display: block;
}
/*.clickhide,
.clickshow{
    display: none;
}*/
.ClickTabs{
    display: none;
}
.active.ClickTabs{
    display: block !important;
}
/*
----------------
 Change Password
----------------
*/
.ht-change-pasw-wrp .ht-prls-dtls-frm-field{
    width: 100%;
}
.em-view-resume-table-wrp h6{
    display: block;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 20px;
    background: #ddd;
    padding: 20px 20px;
    text-transform: capitalize;
}
.ht-change-pasw-wrp .ht-prls-dtls-frm-btn button{
    margin-left: 0;
}
.em-view-resume-text ul{
    padding-bottom: 20px;
}

/*
------------------
  accordion
------------------
*/
.mct-faq-accordion-ctlr > ul > li {
    padding: 10px 0;
}
.ht-personal-profile-wrp,
.mct-faq-accordion {
    background: #ddd;
    box-shadow: 0px 4px 50px rgb(0 0 0 / 4%);
    padding: 25px 25px;
}
.mct-faq-accordion-title {
    font-size: 18px;
    letter-spacing: initial;
    padding-right: 40px;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    text-transform: initial;
}
.mct-faq-accordion-title span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background: #00732e;
    border-radius: 100%;
}
.mct-faq-accordion-title span:after {
    content: "\f067"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.mct-faq-accordion-title.active span:after {
    content: "\f068"!important;
}
.ht-prls-dtls-frm-head h3{
	text-transform: capitalize;
	margin-bottom: 30px;
}

/*
------------------
 Radio Button
------------------
*/
.ht-prls-dtls-frm-fields .filter-check-row {
    padding: 5px 15px 5px 20px;
    margin-left: 10px;
    float: left;
}
.ht-prls-dtls-frm-fields .filter-check-row > label{
    font-size: 14px;
    line-height: 1;
    color: #334e6f;
    padding-left: 10px;
    text-transform: capitalize;
}
.ht-prls-dtls-frm-fields .filter-check-row span.checkmark {
    position: absolute;
    top: 4px;
}
.ht-prls-dtls-frm-field .ht-login-rgi-form-checkbox {
    padding-bottom: 0;
    padding-top: 15px;
}
.ht-personal-profile{
	text-align: center;
}
.ht-personal-profile img{
	width: 120px;
	height: 120px;
}
.profile-img-edit {
    border-radius: 100% 100%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 25px #e6e3e3;
    border: 4px solid #fff;
    background: #e9eaef;
    position: relative;
}
.profile-img-edit input {
    border-radius: 100% 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    background: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.profile-img-edit label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
}
span.file-up-instruction-txt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 80px;
    bottom: -40px;
    font-size: 10px!important;
    color: #334e6f;
    margin-bottom: 0;
    line-height: 12px!important;
    text-transform: uppercase;
    text-align: center;
}
.ht-personal-profile-btn{
    display: table;
    margin: 0 auto;
    padding-top: 25px;
}
.ht-personal-profile-btn button{
	float: left;
	margin: 0 10px;
}
.ht-personal-profile-btn button:hover{
	background: #d80100;
	color: #fff;
	border-color:#d80100; 
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
   .ht-personal-dtls-lft {
        padding-right: 10px;
    } 
    .ht-personal-dtls-rgt {
        padding-left: 10px;
    }
    .ht-personal-dtls-rgt-cntlr,
    .ht-personal-dtls-lft-cntlr {
        padding: 30px 10px;
    }
    .ht-personal-dtls-tbs-menu ul li{
        padding: 10px 10px;
    }
    .ht-personal-dtls-tbs-menu ul li a{
        font-size: 12px;
    }
    .ht-personal-profile-wrp,
    .mct-faq-accordion{
        padding: 15px 15px;
    }
    .mct-faq-accordion-title{
        font-size: 16px;
    }
    .ht-personal-dtls-menu > ul > li > a {
        font-size: 13px !important;
        padding: 12px 12px 12px 12px !important;
    }
    .mct-faq-accordion-title span {
        width: 25px;
        height: 25px;
    }
    .mct-faq-accordion-title span:after{
        font-size: 14px;
    }
    

}

@media(max-width: 991px){
    
    .ht-personal-dtls-tbs-menu ul li {
        padding: 10px 10px;
        width: 33.3333%;
        margin-bottom: 10px;
    }
    .ht-personal-dtls-tbs-menu {
        padding-bottom: 10px;
    }
    .ht-personal-dtls-lft {
        width: 27%;
    }
    .ht-personal-dtls-rgt {
        width: 73%;
    }
    .ht-personal-dtls-menu > ul > li > a {
        font-size: 12px;
        padding: 12px 10px 12px 10px;
    }
    .ht-personal-dtls-menu ul > li.menu-item-has-children > a:after{
        right: 10px;
    }
    .ht-personal-dtls-rgt {
        width: 100%;
        padding-left: 0;
    }
    .ht-personal-dtls-lft {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .ht-personal-dtls-rgt-cntlr,
    .ht-personal-dtls-lft-cntlr {
        padding: 20px 10px;
    }
                
}

@media(max-width: 767px){
    .ht-personal-dtls-sec-wrp {
        padding: 35px 0;
    }
    .ht-prls-dtls-frm-field {
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
    .ht-prls-dtls-frm-field.em-register-form-filds{
        margin-bottom: 15px;
    }
    .ht-prls-dtls-frm-textarea textarea {
        height: 160px;
        padding-top: 15px;
    }
    .ht-prls-dtls-frm-fields {
        margin: 0;
    }
    .ht-prls-dtls-frm-btn{
        padding-top: 15px;
    }
    .ht-prls-dtls-frm-textarea {
        padding: 0;
    }
    .ht-personal-dtls-frm-wrp{
        padding: 15px 10px;
    }
    .ht-prls-dtls-frm-fields .filter-check-row {
        margin-bottom: 10px;
    }
    .ht-personal-dtls-sec-wrp {
        padding: 35px 0;
    }
    .ht-video-resume-tp-dsc {
        padding: 20px 20px;
        padding-right: 150px;
    }
    .ht-prls-dtls-frm-tbl ul li {
        width: 100%;
        padding-right: 0;
    }
    

    
}

@media(max-width: 575px){
    
    

}

@media(max-width: 479px){
    .ht-personal-dtls-tbs-menu ul li {
        padding: 10px 10px;
        width: 50%;
        margin-bottom: 10px;
    }
    .ht-prls-dtls-frm-textarea label,
    .ht-prls-dtls-frm-field label{
        font-size: 14px;
    }
    .mct-faq-accordion-title {
        font-size: 15px;
        padding-right: 30px;
    }
    .ht-prls-dtls-frm-btn button {
        font-size: 14px;
        padding: 10px 15px;
    }
    .email-resume-form-field label{
        font-size: 14px !important;
    }
    .email-resume-form-field textarea,
    .email-resume-form-field input[type="text"] {
        width: 100%;
        height: 40px;
        font-size: 14px !important;
        padding: 10px 15px !important;
    }

}

@media(max-width: 359px){

}