/**
All Transitions
*/
.new-tn-grid-innr:hover .new-tn-grid-img,
.ht-video-help-grid-img-cntlr:hover .ht-video-help-grid-img,
.ht-video-help-grid:hover .ht-video-help-grid-img,
a,input,img,textarea,button{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.new-tn-grid-innr:hover .new-tn-grid-img,
.ht-video-help-grid-img-cntlr:hover .ht-video-help-grid-img,
.ht-video-help-grid:hover .ht-video-help-grid-img,
.scale{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
/*nav.main-nav ul li a:hover,
nav.main-nav ul li.current-menu-item a{
	background:#004e37;
	color:#fff;
}*/

