/*
--------------------
--------------------
*/
.email-resume-head h5{
	padding: 20px 20px;
	background: #ddd;
	text-transform: capitalize;
}
.email-resume-head h5 i{
	padding-right: 10px;
}
.email-resume-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 10px;
}
.email-resume-dsc{
	padding-bottom: 40px;
}
.email-resume-dsc ul li{
	padding-bottom: 5px;
}
.email-resume-form-wrp h5{
	text-transform: capitalize;
	margin-bottom: 20px;
}
.email-resume-form-field{
	padding-bottom: 20px;
}
.email-resume-form-field label{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.email-resume-form-field textarea,
.email-resume-form-field input[type="text"]{
	width: 100%;
	height: 40px;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 400;
	border:1px solid#ddd;
	padding: 10px 20px;
}
.email-resume-form-field textarea{
	height: 100px;
	resize: none;
}
.email-resume-form-field input[type="text"]:focus,
.email-resume-form-field textarea:focus{
	border-color: #d80100;
}
.email-resume-form-btn button{
	max-width: 200px;
	width: 100%;
	height: 40px;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	font-weight: 600;
	background: #00732e;
	text-transform: uppercase;
	cursor: pointer;
	border:2px solid#00732e;
}
.email-resume-form-btn button:hover{
	background: transparent;
	border-color: #d80100;
	color:#d80100; 
}
.email-resume-form-wrp .input-type-radio label {
    font-size: 16px !important;
}
.email-resume-form-wrp .input-type-radio label a{
	display: block;
	font-size: 14px;
	line-height: 1;
	color: #00742e;
	padding-top: 5px;
}
.email-resume-form-wrp .input-type-radio label a:hover{
	color: #d80100;
	text-decoration: underline;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	.email-resume-dsc {
	    padding-bottom: 20px;
	}

	
}

@media(max-width: 575px){
	
	

}

@media(max-width: 479px){
	.email-resume-form-btn button{
		font-size: 16px;
	}

}

@media(max-width: 359px){

}