/*
----------------------
employer-list-sec-wrp
----------------------
*/
.employer-list-sec-wrp{
	padding: 50px 0;
	background: #f0f0f0;
}
.employer-pagination-wrp {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.employer-pagination-lft{
	float: left;
	width: 30%;
}
.employer-pagination-lft span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #11017d;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.employer-pagination-lft p{
	margin-bottom: 0;
}
.employer-pagination-rgt{
	float: right;
	width: 70%;
}
.fl-pagi-pagi-ctlr{
	float: right;
}
.employer-list-rgt{
	width: 70%;
	float: right;
}
.employer-list-cntlr{
	background: #fff;
	padding: 20px 20px;
	border:1px solid#ddd;
	margin-bottom: 30px;
}

.employer-list-sidebar-lft{
	width: 30%;
	float: left;
	/*background: #141414;*/
	/*background: #13007d;*/
	background: #00334c;
}
.fl-wedget-title {
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    background: #00732e;
    padding: 25px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid#fff;
}
.fl-wedget-title i{
	padding-right: 5px;
	color: #d80100;
}
.fl-wedget-title1{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	text-transform: capitalize;
	font-weight: 400;
	padding-left: 20px;
	margin-top: 20px;
}
.filter-check-row {
    position: relative;
    padding: 0 15px 15px 13px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 20px;
}
.catalogue-sidebar .filter-check-row{
	 margin-right: 13px;
}
.catalogue-sidebar .filter-check-row span.price-value{
	top: 3px;
}
.filter-check-row input[type="checkbox"],
.filter-check-row input[type="radio"]{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	left: 0;
	z-index: 1;
}
.filter-check-row span.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #00732e;
    border-radius: 20px;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.filter-check-row input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filter-check-row .checkmark::after {
	left: -1px;
	top: -1px;
	right: -1px;
	bottom: -1px;
	position: absolute;
	border: solid #000;
	border: 9px solid #d80100;
	z-index: 2;
	border-radius: 20px;
}
.filter-check-row span.price-value {
	float: right;
	color: #808080;
	position: absolute;
	right: 0;
	font-size: 12px;
}
.filter-check-row span.checkmark{
	padding-left: 0px;
}
.filter-check-row > label{
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	font-size: 12px;
	line-height: 1;
	font-weight: 600;
	color: #fff;
}

.filter-check-row input[type="checkbox"],
.filter-check-row input[type="radio"]{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #00732e;
	border-radius: 20px;
}


/*
-------------------
 New Css
-------------------
*/
.fl-wedget-item{
	display: none;
}
.fl-wedget-item-cntlr{
	padding: 20px 20px;
	background: #171717;
}
.fl-wedget-item-head a,
.fl-wedget-item-head span{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	float: left;
}
.fl-wedget-item-head a{
	float: right;
	color: #00732e;
}
.fl-wedget-item-mid{
	border:1px solid#ddd;
	padding: 20px 10px;
	margin-top: 20px;
}
.fl-wedget-item-mid p{
	color: #fff;
}
.fl-wedget-item-btn{
	float: right;
	margin-top: 10px;
}
.fl-wedget-item-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	padding: 10px 10px;
	background: #00732e;
}
.fl-wedget-item-cntlr .hdr-search{
	padding-left: 0;
}
.fl-wedget-item-cntlr h5{
	margin-bottom: 10px;
	color: #fff;
}
.FilterCheckRowCntlr {
    overflow-x: hidden;
    height: 200px;
    border: 1px solid#ddd;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.ht-filter-gender .ht-login-rgi-form-checkbox ul li{
	float: left;
	padding-right: 15px !important;
}
.ht-filter-gender label{
	font-size: 16px;
	line-height: 1;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 10px;
}
.ht-filter-gender .ht-login-rgi-form-checkbox ul li label{
	color: #fff;
	padding-bottom: 15px;
}
.em-fliter-menu-wrp {
    background: #fff;
    margin-bottom: 10px;
}
.em-fliter-active {
    background: #171717;
    float: left;
    padding: 15px 20px;
}
.em-fliter-active span{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
}
.em-fliter-menu{
	float: left;
}
.em-fliter-menu ul li {
    float: left;
    padding: 13px 5px;
}
.em-fliter-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 5px 10px;
	border-radius: 10px;
}
.em-fliter-favourite{
	float: right;
}
.em-fliter-favourite a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #171717;
	padding: 18px 10px;
}




/*
-------------------
 Pagination Css
-------------------
*/
.fl-pagi-pagi-ctlr ul{
	text-align: center;
}
.fl-pagi-pagi-ctlr ul li{
	display: inline-block;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a{
	display: inline-block;
	vertical-align: baseline;
}
.fl-pagi-pagi-ctlr ul.page-numbers li{
	padding: 0 10px;
	font-size: 16px;
	line-height: 1;
	font-weight: 700;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a,
.fl-pagi-pagi-ctlr ul.page-numbers li span{
	color: #334e6f;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a.prev,
.fl-pagi-pagi-ctlr ul.page-numbers li a.next{
	width: 40px;
	height: 30px;
	background: #13007e;
	font-size: 20px;
	line-height: 10px;
	color: #fff;
	border-radius: 3px;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a i{
	line-height: 30px;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a.prev{
	display: inline-block;
	vertical-align: baseline;
}
.fl-pagi-pagi-ctlr ul.page-numbers li a.next{
	
}
.fl-pagi-pagi-ctlr ul.page-numbers li span.current,
.fl-pagi-pagi-ctlr ul.page-numbers li a:hover{
	color: #d80100;
}

/*
------------------
 Select
------------------
*/
.employer-list-select-wrp{
	padding-bottom: 20px;
}
.employer-list-title{
	float: left;
}
.employer-list-title span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 1;
	padding-top: 5px;
}
.em-grid-select{
	float: right;
}
.em-grid-select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 120px;
}

.em-grid-select .bootstrap-select>.dropdown-toggle {
    border: 1px solid #E0E0E0;
    text-transform: uppercase;
    font-size: 11px;
    color: #3E3935;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 0;
}
.em-grid-select .dropdown-toggle::before {
    content: "\f067"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #55504d;
    font-size: 11px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 10px;
    line-height: 11px;
    height: 11px;
    width: 11px;
}
.em-grid-select .bootstrap-select.show .dropdown-toggle::before{
	content: "\f068"!important;
}
.em-grid-select .dropdown-toggle::after{
	border: 0;
}

/*
----------------
 Grid Item
----------------
*/
.employer-grid-item-wrp ul li{
	padding-bottom: 20px;
}
.employer-grid-item {
    border: 1px solid#ddd;
    padding: 20px 20px;
    display: flex;
    align-items: center;
}
.employer-grid-item-img{
	width: 20%;
	float: left;
	padding-right: 20px;
}
.employer-grid-item-dsc{
	float: right;
	width: 80%;
	padding-left: 20px;
	border-left: 1px solid#ddd;
	position: relative;
}
.employer-grid-item-dsc-title2,
.employer-grid-item-dsc-title1{
	display: block;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 5px;
	text-transform: capitalize;
	color: #00732e;
}
.employer-grid-item-dsc-title2{
	font-size: 18px;
	color: #334e6f;
	margin-bottom: 5px;
	font-weight: 400;
}
.employer-grid-item-dsc-title1 a,
.employer-grid-item-dsc-title2 a{
	color: inherit;
}
.employer-grid-item-dsc ul li{
	padding-bottom: 5px;
}
.employer-grid-item-dsc ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	padding-left: 20px;
	position: relative;
}
.employer-grid-item-dsc ul li a i{
	position: absolute;
	left: 0;
	top: 0;
	color: #d80100;
}
.employer-grid-item-dsc span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    bottom: -10px;
    right: -10px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	.employer-list-sec-wrp {
	    padding: 35px 0;
	}
	.employer-list-sidebar-lft{
		width: 100%;
	}
	.employer-list-rgt {
	    width: 100%;
	    padding-top: 30px;
	}
	.FilterCheckRowCntlr{
		display: none;
	}
	.fl-wedget-title1{
		display: inline-block;
		vertical-align: baseline;
		position: relative;
		padding-right: 25px;
	}
	.fl-wedget-title1:after{
	    content: "\f078";
	    position: absolute;
	    top: 5px;
	    right: 0;
	    font-size: 14px;
	    line-height: 1;
	    color: #fff;
	    text-decoration: inherit;
	    font-family: 'Font Awesome 5 free';
	    font-weight: 600;
	}
	.sub-menu-arrow .fl-wedget-title1:after{
		content: "\f077";
	}
	.employer-grid-item-dsc-title2,
	.employer-grid-item-dsc-title1 {
	    font-size: 18px;
	}
	.employer-grid-item-dsc-title2{
		font-size: 16px;
	}
	.employer-grid-item-img{
		padding-right: 0;
	}
	.employer-grid-item{
		padding: 20px 10px;
	}
	.employer-grid-item-dsc span{
		right: 5px;
	}

	
}

@media(max-width: 575px){
	.employer-pagination-lft {
	    width: 35%;
	}
	.employer-pagination-rgt {
	    width: 65%;
	}
		

}

@media(max-width: 479px){
	.employer-pagination-wrp{
		display: block;
	}
	.employer-pagination-lft {
	    width: 100%;
	    text-align: center;
	}
	.employer-pagination-rgt {
	    width: 100%;
	}
	.fl-pagi-pagi-ctlr {
	    float: none;
	    padding-top: 20px;
	}
	.employer-list-title {
	    float: none;
	    padding-bottom: 10px;
	    text-align: center;
	}
	.employer-grid-item {
	    display: block;
	}
	.employer-grid-item-img {
	    width: 100%;
	}
	.employer-grid-item-dsc {
	    width: 100%;
	    padding-left: 0;
	    border-left: 0;
	    position: relative;
	    border-top: 1px solid#ddd;
	    padding-top: 20px;
	}
	.employer-grid-item-img img {
	    width: 100px;
	    height: 100%;
	    text-align: center;
	    display: table;
	    margin: 0 auto;
	}
	.employer-list-cntlr{
		margin-bottom: 10px;
	}

}

@media(max-width: 359px){

}