/*
------------------------
ht-faq-accordion-sec-wrp
------------------------
*/
.ht-faq-accordion-sec-wrp{
	padding: 50px 0;
}
.ht-faq-lft{
	float: left;
	width: 80%;
	padding-right: 20px;
}
.ht-faq-accordion-ctlr ul{
	margin-left: 0;
	margin-right: 0;
}
.ht-faq-accordion-ctlr ul li{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
}
.ht-faq-accordion {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgb(0 0 0 / 4%);
    padding: 10px 20px;
}
.ht-faq-accordion-title {
    font-size: 18px;
    letter-spacing: initial;
    padding-right: 40px;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    text-transform: initial;
}
.ht-faq-accordion-des {
    padding-top: 25px;
    border-top: 1px solid #F3F3F3;
    display: none;
    margin-top: 30px;
}
.ht-faq-accordion-des p {
    margin-bottom: 0;
}
.ht-faq-accordion-title span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background: #00732e;
    border-radius: 100%;
}
.ht-faq-accordion-title span:after {
    content: "\f067"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.ht-faq-accordion-title.active span:after {
    content: "\f068"!important;
}
.ht-faq-rgt{
	width: 20%;
	float: right;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
    
    

}

@media(max-width: 991px){  
    .ht-faq-lft {
        width: 75%;
        padding-right: 10px;
    }
    .ht-faq-rgt {
        width: 25%;
    }
    .company-follow-us ul li {
        padding: 0 4px;
    }
}

@media(max-width: 767px){
    .ht-faq-lft {
        width: 100%;
        padding-right: 0;
    }
    .ht-faq-rgt {
        width: 100%;
    }
    .company-follow-us{
        display: table;
        margin: 0 auto;
    }
    .ht-faq-accordion-sec-wrp {
        padding: 30px 0;
    }
    
}

@media(max-width: 575px){
    
    

}

@media(max-width: 479px){
    .ht-faq-accordion-title span:after{
        font-size: 12px;
    }
    .ht-faq-accordion-title span{
        width: 20px;
        height: 20px;
    }
    .ht-faq-accordion{
        padding: 10px 10px;
    }
    .ht-faq-accordion-title {
        font-size: 16px;
        padding-right: 20px;
    }
}

@media(max-width: 359px){

}