/*
-----------------
 Footer Css
-----------------
*/
.ftr-top{
  background: #1DB4B2;
  padding: 60px 0 70px;
}
.ftr-col-main .ftr-col{
  padding-right: 30px;
}
.ftr-col-main .ftr-col{
  float: left;
}
.ftr-col-1{
  width: 29%;
}
.ftr-col-2{
  width: 24%;
}
.ftr-col-3{
  width: 23%;
}
.ftr-col-4{
  width: 24%;
}
.ftr-logo a {
    display: inline-block;
    vertical-align: baseline;
    max-width: 220px;
    width: 100%;
}
.ftr-socail-icon{
	padding-top: 30px;
}
.ftr-socail-icon ul > li{
	float: left;
	font-size: 22px;
	line-height: 24px;
	padding: 0 5px !important;
}
.ftr-socail-icon ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
  font-size: 18px;
  line-height: 30px;
	color: #fff;
  width: 30px;
  height: 30px;
  background: #00742e;
  border-radius: 50px;
  text-align: center;
  padding-left: 0 !important;
}
.ftr-socail-icon ul > li > a:after{
  content: none !important;
}
.ftr-socail-icon ul > li:first-child{
	padding-left: 0 !important;
}
.ftr-socail-icon ul > li:nth-child(1) a{
  background: #3B5998;
}
.ftr-socail-icon ul > li:nth-child(2) a{
  background: #00ACEE;
}
.ftr-socail-icon ul > li:nth-child(3) a{
  background: #8134AF;
}
.ftr-socail-icon ul > li:nth-child(4) a{
  background: #E62117;
}
.ftr-socail-icon ul > li:nth-child(5) a{
  background: #0e76a8;
}
.ftr-socail-icon ul > li:nth-child(6) a{
  background: #34A853;
}
.ftr-col ul > li > a:hover:after,
.ftr-col ul li a:hover{
	color: #d80100;
}

.ftr-col h6{
  display: block;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-weight: 600;
  position: relative;
}
.ftr-col h6 span{
  display: inline-block;
  vertical-align: baseline;
  position: relative;
}
.ftr-col h6:after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #130177;
}
.ftr-col ul > li{
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	padding-bottom: 15px;
}
.ftr-col ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
  position: relative;
  padding-left: 20px;
}
.ftr-col ul > li > a:after{
  content: "\f100";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  text-decoration: inherit;
  font-family: 'Font Awesome 5 free';
  font-weight: 600;
}

.ftr-google-play-wrp a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
}
.ftr-google-play-wrp a:last-child{
  padding-top: 20px;
}
.ftr-btm{
  padding: 20px 0 20px;
  background: #e6e6e6;
}
.ftr-btm-col-1{
  width: 39%;
  float: left;
  padding-right: 20px;
}
.ftr-btm-col-2{
  width: 40%;
  float: left;
  padding-top: 4px;
  padding-right: 20px;
}
.ftr-btm-col-3{
  width: 21%;
  float: left;
  padding-left: 20px;
}
.ftr-btm-col-1 span{
  font-size: 16px;
  line-height: 16px;
  color: #334e6f;
  font-weight: 400;
}
.ftr-btm-col-2 ul li{
  padding: 0;
  padding-left: 13px;
  padding-right: 13px;
  float: left;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.ftr-btm-col-2 ul li::before{
  content: none!important
}
.ftr-btm-col-2 ul li::after {
    content: "/"!important;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    color: #334e6f;
    right: -4px;
    top: 0;
    left: auto;
}
.ftr-btm-col-2 ul li a{
  color: #334e6f;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
}
.ftr-btm-col-2 ul li:last-child::after{
  content: none!important;
}
.ftr-btm-col-2 ul li:first-child{
  padding-left: 0;
}
.ftr-btm-col-2 ul li:last-child{
  padding-right: 0;
}
.ftr-btm-col-3 a{
  font-size: 16px;
  line-height: 16px;
  color: #334e6f;
}
.ftr-btm-col-3 a:hover,
.ftr-btm-col-2 ul li a:hover{
  color: #d80100;
}
/*
---------------------
footer-top-sec-wrp
---------------------
*/
.footer-top-sec-wrp{
  padding-bottom: 65px;
}
.footer-top-wrp{
  padding-top: 85px;
}
.has-top-bdr .footer-top-wrp{
  border-top:4px solid #F4F4F4;
}
.footer-top-lft{
  width: 61%;
  float: left;
  padding-right: 75px;
}
.footer-top-rgt{
  width: 39%;
  float: right;
}
.footer-top-lft-dsc-title{
  font-size: 36px;
  line-height: 38px;
  font-weight: 900;
  color: #232531;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
.footer-top-lft-dsc{
  font-size: 16px;
  line-height: 25px;
  color: #232531;
  font-weight: 300;
}
.footer-top-lft-dsc p{
  margin-bottom: 0;
}
.footer-top-rgt-btn{
  float: right;
}
.footer-top-rgt-btn a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  color: #fff;
  background: #F3BA4B;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 22px 30px 17px;
}
.footer-top-rgt-btn a:last-child{
  padding: 20px 38px 16px;
  background: #FF9839;
  margin-left: 12px;
}
.footer-top-rgt-btn a:hover{
  background:#FF9839;
}
.footer-top-rgt-btn a:last-child:hover{
  background:#F3BA4B;
}

/*
---------------------
 Larn Footer
---------------------
*/
.lrn-footer-sec-wrp{
  background: #ddd;
  padding: 50px 0;
}
.lrn-footer-sec-wrp .ftr-col h6{
  color:#334e6f;
  text-transform: capitalize;
  font-size: 18px; 
}
.lrn-footer-sec-wrp .ftr-col{
  width: 25%;
}
.lrn-footer-sec-wrp .ftr-col ul > li > a{
  color: #334e6f;
  padding-left: 0;
}
.lrn-footer-sec-wrp .ftr-col ul > li > a:after{
  content: none;
}

/*
--------------------
 Responsive Css
--------------------
*/
@media(max-width: 1499px){
  .footer-top-wrp {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .footer-top-lft {
      width: 56%;
      padding-right: 60px;
  }
  .footer-top-rgt {
      width: 44%;
  }
}

@media(max-width: 1199px){
  .footer-top-lft {
      width: 52%;
      padding-right: 40px;
  }
  .footer-top-rgt {
      width: 48%;
  }
  .footer-top-lft-dsc-title {
      font-size: 33px;
      line-height: 35px;
  }
  .footer-top-rgt-btn a {
      padding: 22px 20px 17px;
  }
  .footer-top-rgt-btn a:last-child {
      padding: 20px 23px 16px;
  }
  .ftr-top {
      padding: 40px 0 40px;
  }
  .ftr-col-1 {
      width: 100%;
      padding-right: 0 !important;
      padding-bottom: 30px;
      text-align: center;
  }
  .ftr-socail-icon ul{
    display: table;
    margin: 0 auto;
  }
  .ftr-socail-icon {
    padding-top: 20px;
}
  .ftr-col-2 {
      width: 33.3333%;
  } 
  .ftr-col-3 {
      width: 33.3333%;
  }
  .ftr-col-4 {
      width: 33.3333%;
  }
  .ftr-btm-col-1 {
      width: 40%;
  }
  .ftr-btm-col-2 {
      width: 38%;
  }
  .ftr-btm-col-3 {
      width: 22%;
  }
}

@media(max-width: 991px){
  .footer-top-lft-dsc-title {
      font-size: 30px;
      line-height: 32px;
  }
  .footer-top-wrp {
      display: block;
      padding-top: 70px;
      padding-left: 100px;
      padding-right: 100px;
  }
  .footer-top-lft {
      width: 100%;
      padding-right: 0;
      text-align: center;
      padding-bottom: 20px;
  }
  .footer-top-rgt {
      width: 100%;
  }
  .footer-top-rgt-btn {
      float: none;
      text-align: center;
  }
  .ftr-top {
      padding: 40px 0 40px;
  }
  .ftr-col-main {
      max-width: 450px;
      width: 100%;
      margin: auto;
  }
  .ftr-col-1 {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
  }
  .ftr-col-main .ftr-col {
      padding-right: 0;
      text-align: center;
      float: none;
  }
  .ftr-col-4,
  .ftr-col-3,
  .ftr-col-2 {
      width: 100%;
  }
  .ftr-socail-icon{
      padding-top: 25px;
      text-align: center;
  }
  .ftr-socail-icon ul{
    display: table !important;
    margin: 0 auto;
  }
  .ftr-col.ftr-col-3 ul li,
  .ftr-col.ftr-col-4 ul li {
      padding-left: 0;
  }
  .ftr-col-3 ul li i,
  .ftr-col-4 ul li i {
      position: static;
      display: block;
      padding-bottom: 10px;
  }
  .ftr-btm-col-3.text-right {
      text-align: center !important;
      padding-left: 0;
      padding-top: 10px;
  }
  .ftr-col h6 span {
      padding-right: 25px;
  }
  .ftr-col h6 span::after{
    position: absolute;
    right: 0;
    top: 5px;
    content: "";
    background:url(../images/ftr-angle-icon-btm.svg);
    background-repeat: no-repeat;
    background-size: 10px 6px;
    width: 10px;
    height: 6px;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ftr-col h6.active span::after{
    content: "";
    background:url(../images/ftr-angle-icon-tp.svg);
    background-repeat: no-repeat;
    background-size: 10px 6px;
  }
  .ftr-col-4 ul,
  .ftr-col-3 ul,
  .ftr-col-2 ul{
    padding-bottom: 20px;
  }
  .ftr-col.ftr-col-2 > ul{
    display: block;
  }
  /*.ftr-col ul{
    display: none;
  }*/
  .ftr-btm-col-3,
  .ftr-btm-col-2,
  .ftr-btm-col-1 {
      width: 100%;
      padding-right: 0;
      text-align: center;
  }
  .ftr-btm-col-1{
    padding-bottom: 10px;
  }
  .ftr-btm-col-2 ul{
    display: table;
    margin: 0 auto;
  }
  .ftr-btm {
      padding: 30px 0 30px;
  }
  .ftr-col h6{
    margin-bottom: 20px;
  }

  
}

@media(max-width: 767px){
  .footer-top-wrp {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 50px;
  }
  .footer-top-lft-dsc-title {
      font-size: 28px;
      line-height: 30px;
  }
  .footer-top-rgt-btn a {
      padding: 22px 18px 17px;
  }
  .footer-top-rgt-btn a:last-child {
      padding: 20px 20px 16px;
  }
  .ftr-google-play-wrp a {
      display: block;
      vertical-align: baseline;
      text-decoration: none;
      max-width: 250px;
      width: 100%;
      margin: 0 auto;
  }
  .ftr-btm {
      padding: 20px 0 20px;
  }
  .ftr-google-play-wrp a:last-child {
      padding-top: 10px;
  }
}

@media(max-width: 575px){
  .footer-top-lft-dsc-title {
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 15px;
  }
  .footer-top-wrp {
      padding-left: 0;
      padding-right: 0;
  }
  .footer-top-rgt-btn a:last-child,
  .footer-top-rgt-btn a {
      padding: 22px 22px 17px;
      display: block;
      max-width: 330px;
      width: 100%;
      margin: 0 auto;
  }
  .footer-top-rgt-btn a:last-child{
    margin-top: 15px;
  }
}

@media(max-width: 479px){
  .ftr-btm-col-2 ul li {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      line-height: 16px;
  }
  .ftr-btm-col-1 span {
      font-size: 14px;
      line-height: 16px;
  }
  .ftr-btm-col-3 a {
      font-size: 14px;
      line-height: 16px;
  }
  .ftr-btm-col-2 ul li::after {
      font-size: 14px;
      top: 2px;
  }

}

@media(max-width: 359px){

}