/*
-------------------
	header
-------------------
*/
.hdr-top-wrp {
    background: #1d6823;
    padding: 10px 0;
}
.hdr-tp-lft{
	float: left;
}
.hdr-tp-socail-icon ul li{
	float: left;
	padding: 0 10px;
}
.hdr-tp-socail-icon ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 18px;
	line-height: 1;
	color: #fff;
}
.hdr-tp-socail-icon ul li:first-child{
	padding-left: 0;
}
.hdr-tp-socail-icon ul li a:hover{
	color: #d80100;
}




/*
----------------
dbdt-dsd-profile
----------------
*/
.dbdt-dsd-profile{
	float: left;
	position: relative;
}
.dbdt-dsd-profile span {
    display: inline-block;
    vertical-align: baseline;
    width: 50px;
    height: 50px;
}
.dbdt-dsd-profile span img {
    border-radius: 50%;
    border: 5px solid#fff;
}
.dbdt-dsd-profile strong{
	color: #fff;
	display: inline-block;
	vertical-align: baseline;
	padding-left: 5px;
	font-weight: 600;
}
.dbdt-dsd-profile ul{
    position: absolute;
    right: 0;
    top: 60px;
    width: 250px;
    background: #fff;
    border: 1px solid#ddd;
    display: none;
    z-index: 10;
}
.dbdt-dsd-profile ul li {
    border-top: 1px solid#ddd;
    padding: 10px 20px;
}
.dbdt-dsd-profile ul li a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    color: #334e6f;
}
.dbdt-dsd-profile ul li a i {
    padding-right: 10px;
}
.dbdt-dsd-profile ul li button{
    width: 150px;
    height: 40px;
    background: #00732e;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid#00732e;
    cursor: pointer;
}
.dbdt-dsd-profile ul li button:hover{
	background: #d80100;
}
.pf-hdr-top .hdr-contact-info {
    padding-top: 8px;
}
.pf-hdr-top .hdr-language{
    margin-top: 10px;
}
.pf-hdr-top .hdr-tp-socail-icon {
    padding-top: 15px;
}

/*----Message----*/
.hdr-ntifc-menu-wrp,
.hdr-msg-nti-menu-wrp {
    float: left;
    position: relative;
}
.hdr-ntifc-menu-wrp h5,
.hdr-msg-nti-innr h5 {
    margin-bottom: 20px;
    padding: 15px 12px;
    border-bottom: 1px solid#ddd;
}
.hdr-ntifc-menu-wrp h5{
    margin-bottom: 0;
}
.hdr-ntifc-menu > span,
.hdr-msg-nti-menu span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 25px;
    line-height: 1;
    color: #fff;
    padding-right: 20px;
    padding-top: 12px;
}
.hdr-ntifc-innr,
.hdr-msg-nti-innr{
    position: absolute;
    right: 0;
    top: 60px;
    width: 270px;
    background: #fff;
    border-top: 2px solid#00732e;
    display: none;
    z-index: 10;
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}
.hdr-ntifc-innr.hdr-msg-add-cls, 
.hdr-msg-nti-innr.hdr-msg-add-cls{
    display: block;
}
.hdr-ntifc-btm,
.hdr-msg-nti-btm{
    padding: 0 15px;
}
.hdr-ntifc-btm p,
.hdr-msg-nti-btm p {
    text-align: center;
    font-size: 14px;
}
.hdr-ntifc-btm a,
.hdr-msg-nti-btm a {
    display: table;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background: #00732e;
    padding: 10px 10px;
    margin-bottom: 15px;
}
.hdr-ntifc-item{
    padding: 15px 15px;
    border-bottom: 1px solid#ddd;
    padding-left: 40px;
    position: relative;
}
.hdr-ntifc-item span {
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    left: 5px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: #00732e;
    color: #fff;
    text-align: center;
    line-height: 28px;
    border-radius: 20px;
}
.hdr-ntifc-menu-wrp-cntlr{
    float: left;
}
.hdr-ntifc-btm{
    padding-top: 10px;
}
.hdr-ntifc-item b{
    display: inline-block;
    vertical-align: baseline;
    font-weight: 400;
}

/*language*/


.hdr-language{
	float: right;
	margin-top: 1px;
}
.fl-lang{
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
}
.fl-lang-cntlr {
    position: relative;
    min-height: 20px;
    min-width: 115px;
    margin-left: 0;
    margin-right: 0;
}
.fl-lang ul li.lang-active{
	position: relative;
	opacity: 1;
	padding-top: 0;
	
}
.fl-lang ul li.lang-active a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
.fl-lang ul li {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    padding-right: 10px;
    opacity: 0;
    z-index: 22;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px !important;
}
.fl-lang ul li a {
    color: #000;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}
.fl-lang ul li.lang-active a:hover, 
.fl-lang ul li a:hover{
	color: #B91C1C;
}
.fl-lang-cntlr:after {
    background-image: url(../images/bottom-arrow.svg);
    background-repeat: no-repeat;
    content: "";
    width: 12px;
    height: 7px;
    background-size: cover;
    padding-right: 0;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 0;
    z-index: 21;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.fl-lang-cntlr:hover:after{
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.fl-lang-cntlr ul{
	position: absolute;
	left: 0;
	right: 4px;
	z-index: 20;
	padding: 0;	
}

.fl-lang-cntlr:hover ul li{
	background-color: #fff;
	box-shadow: 0px 30px 84px rgba(44, 17, 62, 0.09), 0px 8px 32px rgba(19, 10, 46, 0.07);
	-webkit-box-shadow: 0px 30px 84px rgba(44, 17, 62, 0.09), 0px 8px 32px rgba(19, 10, 46, 0.07);
	-ms-box-shadow: 0px 30px 84px rgba(44, 17, 62, 0.09), 0px 8px 32px rgba(19, 10, 46, 0.07);
	text-align: center;
}
.fl-lang-cntlr:hover ul li.lang-active{
	background: transparent;
	box-shadow: none;
}
.fl-lang-cntlr:hover ul li:nth-child(2){
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.fl-lang-cntlr:hover ul li:last-child{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.fl-lang-cntlr:hover{
	overflow: initial;
}
.fl-lang-cntlr:hover li.lang-active,
.fl-lang-cntlr:hover li{
	position: relative;
	opacity: 1!important;
	padding-top: 0;
}
.fl-lang-cntlr li.lang-active a{
	font-size: 14px;
}

/*
------------------
 Header Btm
------------------
*/
.hdr-btm-wrp {
    padding: 10px 0;
    background: #eee;
}
.hdr-lft{
	float: left;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	max-width: 120px;
	width: 100%;
}
.hdr-rgt{
	float: right;
}
.hdr-tp-socail-icon{
	padding-top: 8px;
}
.hdr-contact-info{
	float: right;
}
.hdr-contact-info ul li{
	float: left;
	padding: 0 10px;
    position: relative;
}
.hdr-contact-info ul li a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 15px;
    background: #00732e;
}
.hdr-contact-info ul li a i{
	padding-right: 10px;
}
.hdr-contact-info ul li:nth-child(2) a i{
	transform: rotate(3deg);
}
.hdr-account-menu-cntlr{
    position: absolute;
    left: 10px;
    top: 100%;
    right: 0;
    width: 300px;
    background: #fff;
    z-index: 999999;
    border-top: 1px solid#d80100 !important;
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    display: none;
}
.menu-expend1.hdr-account-menu-cntlr{
    display: block !important;
}
.hdr-account-menu h5{
    margin-bottom: 10px;
}
.hdr-account-menu span{
    display: inline-block;
    vertical-align: baseline;
    width: 50px;
    height: 50px;
    background:#00732e;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    top: 20px;
    text-align: center;
}
.hdr-account-menu span i {
    display: inline-block;
    vertical-align: baseline;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
    color: #fff;
}
.hdr-account-menu a{
    font-size: 13px !important;
    padding: 10px 10px !important;
}
.hdr-account-menu {
    border-bottom: 1px solid#ddd;
    padding: 15px 15px 15px 70px;
    position: relative;
}
.hdr-account-menu:last-of-type{
    border-bottom: 0;
}
/*
-------------------
 Menu Css
-------------------
*/
nav.main-nav{
	float: right;
	padding-top: 25px;
}
nav.main-nav > ul > li{
    display: inline-block;
    vertical-align: baseline;
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1;
    position: relative;
    padding-bottom: 15px;
}
nav.main-nav > ul > li:last-child{
	padding-right: 0;
}
nav.main-nav > ul > li.menu-item-has-children{
	padding-right: 0;
}
nav.main-nav > ul > li > a{
	font-weight: 500;
	color: #334e6f;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children > a {
    padding-right: 20px;
}
nav.main-nav > ul > li.menu-item-has-children:after {
    content: "\f078";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    line-height: 1;
    color: #334e6f;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
}
nav.main-nav > ul > li.menu-item-has-children:hover:after {
    transform: rotate(180deg);
    background-position: center top;
    color: #d80100;
}
nav.main-nav > ul > li > a:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #d80100;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.current-menu-item > a:before{
	width: 100%;
}
nav.main-nav > ul > li > a:hover:before{
	width: 100%;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 190px;
	padding: 5px 0 0 0;
	background: #fff;
	border-top: 2px solid #d80100;
	z-index: 30;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav  ul.sub-menu li{
	padding: 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
nav.main-nav ul.sub-menu li a{
	color: #334e6f;
	font-size: 14px;
	display: block;
	padding: 10px 20px;
	position: relative;
	font-weight: 400;
}
nav.main-nav ul.sub-menu li:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #d80100;;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav ul.sub-menu li:hover:after{
    height: 100%;
}
.hdr-contact-info ul li a:hover,
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a {
    color: #d80100;;
}


/*xs hambergar icon*/
.hambergar-icon{
    position: relative;
    width: 32px;
    height: 24px;
    float: right;
}
.hambergar-icon span{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    border-radius: 5px;
    background: #11017d;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.hambergar-icon span:nth-child(2){
    top: 10px;
}
.hambergar-icon span:nth-child(3){
    top: 20px;
}
.cross-icon.hambergar-icon span:nth-child(1){
    top: 12px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.cross-icon.hambergar-icon span:nth-child(2){
    top: 12px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.cross-icon.hambergar-icon span:nth-child(3){
    content: none;
    display: none;
}

/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
    

}

@media(max-width: 991px){
    .hdr-tp-socail-icon ul li {
        padding: 0 5px;
    }
    .hambergar-icon {
        margin-top: 20px;
    }
    nav.main-nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 74px;
        z-index: 9999;
        margin-top: 0;
        margin-bottom: 0;
        display: none;
        padding: 20px 20px 20px 20px;
        background: #1DB4B2;
        border-top: 2px solid#00732e;
    }
    nav.main-nav > ul {
        padding: 0;
        margin: 0;
        display: block;
    }
    nav.main-nav > ul > li{
        padding: 10px 0 !important;
        display: block;
        text-align: center;
        margin-bottom: 0;
    }
    nav.main-nav > ul > li > a {
        padding: 0;
        font-size: 14px;
        padding-bottom: 2px;
    }
    nav.main-nav > ul > li.menu-item-has-children > a {
        padding-right: 20px;
        position: relative;
    }
    nav.main-nav > ul > li.menu-item-has-children > a:after{
        content: "\f107"!important;
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        text-decoration: inherit;
        color: #334e6f;
        font-size: 14px;
        padding-right: 0;
        position: absolute;
        top: 1px;
        right: 0;
        line-height: 15px;
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    nav.main-nav > ul > li.menu-item-has-children.sub-menu-arrow > a:after {
        transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        color: #d80100;
    }
    nav.main-nav > ul > li.menu-item-has-children:after{
        content: none;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
        position: static;
        width: 100%;
        padding: 10px 0 10px 0;
        margin-top: 33px;
        transition: initial;
        -ms-transition: initial;
        -webkit-transition: initial;
        transform: initial;
        -ms-transform: initial;
        -webkit-transform: initial;
        -o-transform: initial;
        opacity: 1;
        box-shadow: initial;
        -ms-box-shadow: initial;
        -webkit-box-shadow: initial;
        display: none;
        background: transparent;
        border-bottom: 2px solid #364353;
        border-top: 2px solid #364353;
    }
    nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
        transform: initial;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
        padding: 10px 0;
        border-bottom: 0;
    }
    nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu li a {
        color: #334e6f;
        font-size: 14px;
        font-weight: 500;
        padding: 0;
    }
    nav.main-nav > ul > li.current-menu-item > a:after{
        content: none;
        display: none;
    }
    
}

@media(max-width: 767px){
    .hdr-rgt {
        float: none;
    }
    .hdr-tp-lft {
        float: none;
        text-align: center;
    }
    .hdr-tp-socail-icon {
        padding-top: 8px;
        display: table;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .hdr-language {
        float: none;
        margin-top: 0;
        text-align: center;
        display: table;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .hdr-msg-nti-innr{
        left:-50px !important;
        right: 0 !important;
    }
    .hdr-ntifc-innr{
       left: 0 !important;
       right: 0 !important; 
    }

    
}

@media(max-width: 575px){
    

}

@media(max-width: 479px){
    .hdr-contact-info ul li {
        float: none;
        padding: 0 10px 10px;
        text-align: center;
    }
    .hdr-rgt {
        float: none;
    }
    .hdr-contact-info {
        float: none;
        width: 100%;
        display: table;
        margin: 0 auto;
    }
    .hdr-contact-info ul{
        display: table;
        margin: 0 auto;
    }
    .hdr-ntifc-menu-wrp-cntlr {
        float: none;
        display: table;
        margin: 0 auto;
    }

}

@media(max-width: 359px){

}