/*
--------------------
 	Hm Banner Css
--------------------
*/
.hm-banner-sec-wrp{
	position: relative;
}
.hm-slider-cntlr-wrp{
	position: relative;
}
.HmBnSlideItem{
	height: 900px !important;
	position: relative;
	/*padding: 100px 0;*/
}
.HmBnSlideItem:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	/*opacity: 0.8;*/
	/*background: linear-gradient(to right,rgba(50,50,50,1) 20%, rgba(50,50,50,.95) 50% ,rgba(50,50,50,0.1) 80%,rgba(50,50,50,0) 100%);*/
	background: rgba(0,0,0,0.5);
}
.hm-banner-wrp{
	position: relative;
	z-index: 10;
}
.hm-banner-search-wrp{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
.hm-banner-search-title{
	display: block;
	font-size: 35px;
	line-height: 1;
	color: #fff;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.hm-banner-cntlr{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*z-index: 99;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.HmBnSlider.slick-slider ul.slick-dots {
    position: absolute;
    line-height: 0;
    padding: 0 20px!important;
    bottom: 30px;
    z-index: 9999;
}
.hm-slider-cntlr-wrp .fl-nxt-prev .fl-next,
.hm-slider-cntlr-wrp .fl-nxt-prev .fl-prev {
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
}
/*
-----------------
  Banner Search 
-----------------
*/
.header-search form{
	display: block;
	width: 100%;
	position: relative;
	font-size: 14px;
}
.header-search input.search-txt{
	display: block;
	vertical-align: top;
	width: 100%;
	max-width: 100%;
	border-radius: 40px;
	height: 60px;
	padding: 10px 120px 10px 20px;
	border: none;
}
.header-search input.search-txt::placeholder{
	color: #959595;
}
.header-search input.search-txt:focus{
	outline: none;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	border-color: #F57F25;
}
.header-search input[type="submit"]{
	position: absolute;
	right: 0;
	top: 0px;
	height: 60px;
	border-radius: 0 40px 40px 0;
	vertical-align: top;
	display: inline-block;
	outline: none;
	border: none;
	width: 120px;
	background-color: #00732e;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;

}

.header-search .form-control{
	padding: 5px 8px;
	height: 30px;
}
.header-search .bs-searchbox{
	padding: 8px;
}
.header-search .dropdown-menu{
	min-width: 200px;
}
.header-search .dropdown-menu>.active>a, 
.header-search .dropdown-menu>.active>a:focus, 
.header-search .dropdown-menu>.active>a:hover{
	background-color: #d80100;
}
.header-search .form-control:focus{
	box-shadow: none;
	border-color: #E0E0E0;
}
.cat-select{
	padding-right: 5px;
}
.header-search-cntlr {
    background: rgba(255,255,255,0.2);
    padding: 7px;
    border-radius: 40px;
    width: 100%;
}
.header-search .bootstrap-select{
	position: absolute;
	right: 120px;
	top: 0;
	vertical-align: top;
	display: inline-block;
	outline: none;
	border: none !important;
	border-left: 1px solid #E0E0E0 !important;
	border-right: none;
	color: #334e6f;
    width: 200px !important;
}
.header-search .bootstrap-select button{
	width: 100%;
	border: none;
	height: 60px;
	border-radius: 0;
	padding:24px 20px 20px;
	font-size: 16px;
	line-height: 1;
	color: #334e6f !important;
}

.header-search .bootstrap-select button:hover,
.header-search .bootstrap-select button:focus{
	background: transparent;
}
.btn-default.active, .btn-default:active, 
.open>.dropdown-toggle.btn-default{
	background-color: #F57F25;
	color: #fff;
	outline: none !important;
}
.header-search .btn-light:not(:disabled):not(.disabled).active:focus,
.header-search .btn-light:not(:disabled):not(.disabled):active:focus,
.header-search .show>.btn-light.dropdown-toggle:focus {
    box-shadow: none !important;
    background: transparent !important;
    border:none !important;
}
.header-search .btn-default.active.focus, 
.header-search .btn-default.active:focus, 
.header-search .btn-default.active:hover, 
.header-search .btn-default:active.focus, 
.header-search .btn-default:active:focus, 
.header-search .btn-default:active:hover, 
.header-search .open>.dropdown-toggle.btn-default.focus,
.header-search .open>.dropdown-toggle.btn-default:focus, 
.header-search .open>.dropdown-toggle.btn-default:hover{
	background-color: #F57F25;
	color: #fff;
	outline: none !important;
}

/*
-----------------
 Hm Work Css
-----------------
*/
.hm-work-wrp{
	padding-top: 30px;
}
.hm-work-wrp ul li{
	float: left;
	width:25%;
	padding-left: 20px;
	padding-right: 30px;
}
.hm-work-item{
	position: relative;
}
.hm-work-icon-efficet{
	position: relative;
}
.at-button {
    position: absolute;
    left: -7px;
    right: 0;
    top: -7px;
    bottom: 0;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    background-color: transparent;
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    z-index: -1;
    /*transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
}

@keyframes stretch{
  100% {
    transform: scale(1.2);
    background-color: transparent;
    border-radius: 100%;
    border:20px solid#fff;
    opacity: 0.5;
    /*transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
  }
  /*100% {
    background-color: transparent;
  }
  100% {
    transform: scale(1.5);
    background-color: transparent;
  }*/
}

/*@keyframes stretch {
  100% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  100% {
    background-color: orange;
  }
  100% {
    transform: scale(0.5);
    background-color: yellow;
  }
}*/

.hm-work-icon{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 70px;
	height: 70px;
	background:#00732e;
	border-radius: 50px;
	border:2px solid#00732e;
}
.hm-work-icon:after {
    content: "";
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    border: 4px solid#fff;
    background: transparent;
    border-radius: 50px;
}
.hm-work-icon > i {
    font-size: 24px;
    line-height: 68px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hm-work-dsc{
	padding-left: 80px;
	padding: 12px 0 12px 85px;
}
.hm-work-dsc strong{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	font-weight: 700;
	padding-bottom: 10px;
}
.hm-work-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
}
/*.hm-work-icon span{
	position: absolute;
	bottom: -10px;
	right: -10px;
	background: #d80100;
	width: 30px;
	height: 30px;
	border-radius: 20px;
}
.hm-work-icon span i{
	display: block;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	text-align: center;
}*/

/*
----------------------------
hm-divisional-Jobs-list-wrp
----------------------------
*/
.hm-divisional-Jobs-list-wrp{
	background: #13017b;
	position: relative;
	z-index:9;
	padding: 30px 30px;
	margin-top: 80px;
}
.hm-dv-Job-lst-lft{
	width: 50%;
	float: left;
}
.hm-dv-Job-lst-title{
	display: block;
	font-size: 28px;
	line-height: 1;
	color: #fff;
	margin-bottom: 30px;
}
.hm-dv-Job-lst-lft-dsc ul{
	margin: 0 -5px;
}
.hm-dv-Job-lst-lft-dsc ul li{
	float: left;
	width: 33.3333%;
	padding: 0 5px 10px;
}
.hm-dv-Job-lst-lft-dsc ul li a{
	display:block;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	font-weight: 400;
	text-align: center;
	border:1px solid#fff;
	padding: 15px 10px;
	border-radius: 5px;
}
.hm-divisional-Job-rgt{
	width: 50%;
	float: left;
	padding-left: 50px;
}
.hm-dv-quick-links-dsc ul li{
	width: 50%;
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}
.hm-dv-quick-links-dsc ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	font-weight: 400;
}
.hm-dv-quick-links-dsc ul li a:hover{
	color: #d80100;
}
.hm-dv-Job-lst-lft-dsc ul li a:hover{
	background: #d80100;
	border-color: #d80100;
}

/*
------------------------
hm-job-category-sec-wrp
------------------------
*/
.hm-job-category-sec-wrp{
	padding: 50px 0;
}
.hm-job-category-lft{
	width: 78%;
	float: left;
	padding-right: 20px;
}
.hm-job-category-cntlr{
	background: #fff;
	border:1px solid#ddd;
}
.hm-job-category-tabs-wrp{
	background: #DCD9E0;
	padding: 15px 15px;
}
.hm-job-category-head{
	float: left;
}
.hm-job-category-head-title{
	display: block;
	font-size: 28px;
	line-height: 1;
	margin: 0;
	padding-top: 3px;
}
.hm-job-category-head-title i{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 10px;
}
.hm-job-category-tabs-inr{
	float: right;
}
.hm-job-cty-tab-menu ul{
	margin: 0 -5px;
}
.hm-job-cty-tab-menu ul li{
	float: left;
	padding: 0 5px;
}
.hm-job-cty-tab-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.hm-job-cty-tab-menu ul li.active a{
	background: #d80100;
}
.hm-job-cty-tab{
	display: none;
}
.hm-job-cty-tab-dsc{
	padding: 20px 15px;
}
.hm-job-cty-tab-dsc ul{
	margin: 0 -5px;
}
.hm-job-cty-tab-dsc ul li{
	float: left;
	width: 33.3333%;
	padding: 0 5px 10px;
}
.hm-job-cty-tab-dsc ul li a{
	display: block;
	text-decoration: none;
	font-size: 12px;
	line-height: 1.2;
	color: #334e6f;
	border:1px solid#ddd;
	padding: 10px 10px 10px 20px;
	position: relative;
	border-radius: 5px;
}
.hm-job-cty-tab-dsc ul li a span{
	display: inline-block;
	vertical-align: baseline;
}
.hm-job-cty-tab-dsc ul li a:after{
	content: "\f100";
	position: absolute;
	left: 5px;
	top: 10px;
	/*transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);*/
	color: #334e6f;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
}
.hm-govt-job-slide-item-dsc a:hover,
.hm-job-cty-tab-dsc ul li a:hover:after,
.hm-job-cty-tab-dsc ul li a:hover{
	color: #d80100;
}
/*
----------------------
----------------------
*/
.hm-job-category-rgt{
	float: right;
	width: 22%;
}
.hm-govt-job-sidebar{
	padding: 20px 20px;
	background: #F8E5D7;
	border:1px solid#ddd;
}
.hm-govt-job-head-title{
	display: block;
	font-size: 28px;
	line-height: 1;
	margin-bottom: 20px;
}
.hm-govt-job-head-title i{
	padding-right: 10px;
}
.hm-govt-job-slide-item-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	padding-bottom: 20px;
}
.hm-govt-job-slide-title-1{
	display: block;
	font-size: 17px;
	line-height: 1;
	margin-bottom: 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.hm-govt-job-slide-title-2{
	display: block;
	font-size: 16px;
	line-height: 1;
	text-transform: capitalize;
	font-weight: 400;
	margin-bottom: 0;
}
.hm-govt-job-slide-item-dsc a:hover h5,
.hm-govt-job-slide-item-dsc a:hover h4{
	color: #d80100;
}

/*
----------------------- 
  Next Prev CSS
-----------------------
*/
.hm-govt-job-slider-cntlr{
	position: relative;
}
.hm-govt-job-slide-item-dsc{
	padding-bottom: 15px;
}
.hm-gv-jb-prev-nxt{
	position: absolute;
	bottom: 4px;
	right: 0;
	z-index: 10;
}
.hm-gv-jb-prev-nxt .fl-next,
.hm-gv-jb-prev-nxt .fl-prev {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    line-height: 26px;
    color: #334e6f;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hm-gv-jb-prev-nxt .fl-prev {
    right: 20px;
}
.hm-gv-jb-prev-nxt .fl-next{
	right: 0;
}
.hm-gv-jb-prev-nxt .fl-next:hover,
.hm-gv-jb-prev-nxt .fl-prev:hover {
    color: #fff;
}

.hm-govt-job-view-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background: #01732e;
	padding: 10px 10px;
	text-transform: uppercase;
}
.hm-govt-job-view-btn a:hover{
	background:#d80100;
}

/*
--------------------
hm-special-skilled-wrp
--------------------
*/
.hm-special-skilled-wrp{
	padding-top: 30px;
}
.hm-sidebar-add-img a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	padding-bottom: 10px;
}
.hm-sidebar-add-img a:last-of-type{
	padding-bottom: 0;
}

/*
---------------------------
hm-hot-job-company-sec-wrp
---------------------------
*/
.hm-hot-job-company-sec-wrp{
	background:#fff;
	padding: 50px 0;
}
.hm-hot-jb-company-head-title{
	display: block;
	font-size: 28px;
	line-height: 1;
	margin-bottom: 20px;
}
.hm-hot-jb-company-head-title i{
	padding-right: 10px;
}
.hm-hot-jb-company-innr ul{
	margin: 0 -10px;
}
.hm-hot-jb-company-innr ul li{
	width: 33.3333%;
	float: left;
	padding: 0 10px 20px;
}
.hm-hot-jb-company-item{
	border:1px solid#ddd;
	padding: 15px 10px;
}
.hm-hot-jb-company-item-img{
	float: left;
	width: 15%;
	text-align: center;
}
.hm-hot-jb-company-item-dsc{
	float: left;
	width: 85%;
	padding-left: 10px;
}
.hm-hot-jb-company-title2,
.hm-hot-jb-company-title1 {
    display: block;
    font-size: 16px;
    line-height: 1.2;
    color: #13007e;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 400;
}
.hm-tender-grid-dsc .hm-hot-jb-company-title1{
	display: flex;
    justify-content: center;
    align-items: center;
}
.hm-hot-jb-company-title2 a,
.hm-hot-jb-company-title1 a{
	color: inherit;
}
.hm-hot-jb-company-title2{
	font-size: 14px;
	color: #334e6f;
	display: inline-block;
	vertical-align: baseline;
}
.hm-hot-jb-company-item-dsc .hm-hot-jb-company-title2{
	display: block;
}
.hm-hot-jb-company-title2 a{
	position: relative;
	padding-left: 20px;
	display: inline-block;
	vertical-align: baseline;
}
.hm-hot-jb-company-title2 a:after{
	content: "\f100";
	position: absolute;
	left: 0;
	top: 2px;
	color: #334e6f;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
}
.hm-hot-jb-company-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 5px 10px;
	text-transform: uppercase;
}
.traning-cs-service-title a:hover,
.hm-hot-jb-company-title2:hover:after,
.hm-hot-jb-company-title2 a:hover,
.hm-hot-jb-company-title1 a:hover{
	color: #d80100;
}

/*
-------------------------
hm-tender-grid-sec-wrp
-------------------------
*/
.hm-tender-grid-sec-wrp{
	padding: 50px 0;
}
.hm-tender-grid-innr ul{
	margin: 0 -10px;
}
.hm-tender-grid-innr ul li{
	float: left;
	width: 25%;
	padding: 0 10px 20px;
}
.hm-tender-grid {
   background: rgb(0 123 255 / 30%);
    padding: 20px 10px;
    border: 1px solid#ddd;
    border-radius: 5px;
    /*background: #00732e;*/
}
.hm-tender-grid-dsc{
	text-align: center;
}
.hm-tender-grid-img{
	width: 75px;
	height: 65px;
	background: url(../images/hm-tender-grid-img-angle.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60px 55px;
	display: table;
	margin: 0 auto;
	position: relative;
	margin-bottom: 10px;
}
.hm-tender-grid-img span{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	display: inline-block;
	vertical-align: baseline;
}
/*.hm-tender-grid-img span img{
	width: 100px;
	height: 50px;
}*/

/*
--------------------------
hm-download-slider-sec-wrp
--------------------------
*/
.hm-add-slider .hm-add-slide-item,
.hm-download-slider .hm-download-slide-item{
	display: none;
}
.hm-add-slider .hm-add-slide-item:first-child,
.hm-download-slider .hm-download-slide-item:first-child{
	display: block;
} 
.hm-add-slider.slick-initialized .hm-add-slide-item,
.hm-download-slider.slick-initialized .hm-download-slide-item{
	display: block;
} 
.hm-download-slide-item{
	height: 300px !important;
	padding: 50px 0 90px;
}
.hm-download-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.traning-cs-service-wrp ul li{
	width: 50%;
	float: left;
	padding: 0 5px 20px;
}
.hm-download-slide-dsc {
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.hm-download-slide-dsc-title{
	display: block;
	font-size: 28px;
	line-height: 1;
	color: #fff;
	margin-bottom: 20px;
}
.hm-download-slide-dsc p{
	color: #fff;
	margin-bottom: 30px;
	line-height: 1.3;
}
.hm-download-slide-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 15px 30px;
	text-transform: uppercase;
}
.hm-download-slide-dsc a:hover{
	background: #d70100;
}
.hm-download-slider.slick-slider ul.slick-dots{
	position: absolute;
	z-index: 1;
	bottom: 20px;
}

/*
--------------------------
hm-traning-course-sec-wrp
--------------------------
*/
.hm-traning-course-sec-wrp{
	padding: 50px 0;
}
.hm-traning-course-lft{
	float: left;
	width: 50%;
	padding-right: 30px;
	position: relative;
}
.hm-traning-course-rgt{
	float: right;
	width: 50%;
	padding-left: 30px;
}
.traning-cs-service-wrp{
	padding-top: 10px;
}
.traning-cs-service{
	text-align: center;
}
.traning-cs-service > span{
	display: inline-block;
	vertical-align: baseline;
	background: #00732e;
	border-radius: 50px;
	width: 65px;
	height: 65px;
	border:5px solid#fff;
	font-size: 26px;
	line-height: 52px;
	color: #fff;
	margin-bottom: 20px;
}
.traning-cs-service > span i{
	display: inline-block;
	vertical-align: baseline;
}
.traning-cs-service-title{
	display: block;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;
	font-weight: 500;
	text-transform: capitalize;
	color: #13007e;
}
.traning-cs-service-title a{
	color: inherit;
	text-decoration: none;
	display: inline-block;
	vertical-align: baseline;
}
.traning-cs-service-title a span{
	display: block;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	padding-top: 10px;
}

.traning-cs-bar{
	position: absolute;
	right: -1px;
	top: 0;
	bottom: 0;
	background: #ddd;
	width: 1px;
	height: 100%;
}
.traning-cs-bar span {
    position: absolute;
    top: 50%;
    right: -22px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: #f4f4f4;
    padding: 10px 5px;
    font-size: 30px;
    line-height: 1;
    color: #334e6f;
    font-weight: 600;
    text-transform: uppercase;
}

/*
----------------------
 hm-add-slider-sec-wrp
----------------------
*/
.hm-add-slider-sec-wrp{
	padding-bottom: 50px;
}
.hm-add-slide-item-img{
	height: 300px !important;
}


/*
-------------------
 Responsive Css
-------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
    .HmBnSlider.slick-dotted.slick-slider {
	    margin-bottom: 0;
	}
	.hm-dv-Job-lst-lft-dsc ul li a{
		padding: 15px 5px;
	}
	.HmBnSlideItem{
		height: 850px !important;
	}
	.hm-hot-jb-company-head-title,
	.hm-govt-job-head-title,
	.hm-job-category-head-title{
		font-size: 27px;
	}
	.hm-govt-job-sidebar {
	    padding: 20px 10px;
	}
	.hm-govt-job-slide-title-1{
		font-size: 15px;
	}
	.hm-tender-grid-innr ul li {
	    width: 33.3333%;
	}
	.hm-tender-grid-innr ul li:nth-child(4n+1){
		clear: none;
	}
	.hm-tender-grid-innr ul li:nth-child(3n+1){
		clear: left;
	}

}

@media(max-width: 991px){
	.hm-work-icon {
	    width: 60px;
	    height: 60px;
	}
	.at-button{
		width: 70px;
		height: 70px;
	}
	.hm-work-icon > i {
	    font-size: 20px;
	    line-height: 60px;
	}
	.hm-work-dsc span {
	    font-size: 14px;
	}
	.hm-work-wrp ul li {
	    padding-left: 10px;
	    padding-right: 15px;
	}
	.hm-divisional-Jobs-list-wrp {
	    padding: 20px 20px;
	    margin-top: 50px;
	}
	.hm-work-dsc strong {
	    font-size: 16px;
	}
	.hm-dv-Job-lst-lft-dsc ul li {
	    width: 50%;
	    padding: 0 5px 10px;
	}
	.hm-dv-quick-links-dsc ul li {
	    width: 100%;
	    float: left;
	    padding-right: 10px;
	    padding-bottom: 10px;
	}
	.HmBnSlideItem{
		height: 800px !important;
	}
	.hm-download-slide-dsc-title,
	.hm-hot-jb-company-head-title,
	.hm-govt-job-head-title,
	.hm-job-category-head-title{
		font-size: 26px;
	}
	.hm-job-category-rgt {
	    float: right;
	    width: 100%;
	}
	.hm-job-category-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.hm-govt-job-slide-item-dsc a{
		display: block;
	}
	.hm-govt-job-sidebar {
	    margin-top: 30px;
	}
	.hm-sidebar-add-img a{
		display: block;
	}
	.hm-hot-jb-company-innr ul li {
	    width: 50%;
	}
	.hm-traning-course-lft {
	    width: 100%;
	    padding-right: 0;
	    padding-bottom: 25px;
	}
	.hm-traning-course-rgt {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 40px;
	}
	.traning-cs-bar {
	    right: 0;
	    top: auto;
	    bottom: 0;
	    width: 100%;
	    height: 1px;
	    right: 0;
	}
	.traning-cs-bar span {
	    position: absolute;
	    top: 50%;
	    right: 50%;
	    transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	}
    
}

@media(max-width: 767px){
  .HmBnSlideItem{
		height: 600px !important;
	}
	.hm-divisional-Jobs-sec-wrp{
		background: #13017b;
	}
	.hm-divisional-Jobs-list-wrp {
	    padding: 30px 0px;
	}
	.hm-divisional-Job-rgt {
	    width: 45%;
	    padding-left: 30px;
	}
	.hm-dv-Job-lst-lft {
	    width: 55%;
	}
	.hm-work-wrp ul li {
	    width: 50%;
	}
	.header-search input[type="submit"] {
        height: 50px;
        width: 90px;
        font-size: 14px;
       
    }
    .header-search input.search-txt {
	    height: 50px;
	    padding: 10px 90px 10px 20px;
	}
	.header-search .bootstrap-select {
	    right: 90px;
	    width: 180px !important;
	}
	.header-search .bootstrap-select button {
	    width: 100%;
	    height: 50px;
	    padding: 18px 15px 15px;
	    font-size: 14px;
	}
	.hm-download-slide-dsc-title,
	.hm-hot-jb-company-head-title,
	.hm-govt-job-head-title,
	.hm-job-category-head-title{
		font-size: 25px;
	}
	.hm-job-cty-tab-dsc ul li {
	    width: 50%;
	    padding: 0 5px 10px;
	}
	.hm-job-category-sec-wrp {
	    padding: 35px 0;
	}
	.hm-job-category-head {
	    width: 100%;
	    padding-bottom: 10px;
	}
	.hm-hot-job-company-sec-wrp {
	    padding: 35px 0;
	}
	.hm-tender-grid-innr ul li {
	    width: 50%;
	}
	.hm-tender-grid-innr ul li:nth-child(3n+1){
		clear: none;
	}
	.hm-tender-grid-innr ul li:nth-child(2n+1){
		clear: left;
	}
	.hm-tender-grid-sec-wrp {
	    padding: 35px 0;
	}
	.hm-traning-course-sec-wrp {
	    padding: 35px 0;
	}

}

@media(max-width: 575px){
  .HmBnSlideItem{
		height: 550px !important;
	}
	.hm-dv-Job-lst-lft {
	    width: 100%;
	}
	.hm-divisional-Job-rgt {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 30px;
	}
	.hm-download-slide-dsc-title,
	.hm-hot-jb-company-head-title,
	.hm-govt-job-head-title,
	.hm-job-category-head-title{
		font-size: 24px;
	}
	.hm-hot-jb-company-innr ul li {
	    width: 100%;
	}
}

@media(max-width: 479px){
	.HmBnSlideItem{
		height: 600px !important;
	}
	.hm-work-wrp ul li {
	    width: 100%;
	}
	.header-search input.search-txt {
	    height: 50px;
	    padding: 10px 20px 10px 20px;
	}
	.header-search .bootstrap-select {
	    right: 0px;
	    width: 115px !important;
	}
	/*.header-search input[type="submit"] {
	    height: 50px;
	    width: 70px;
	    font-size: 10px;
	}*/
	.header-search input[type="submit"] {
	    height: 50px;
	    width: 100px;
	    font-size: 12px;
	    top: 65px;
	    border-radius: 50px 50px;
	}
	.header-search .bootstrap-select button {
	    width: 100%;
	    height: 50px;
	    padding: 22px 10px 18px;
	    font-size: 11px;
	}
	.header-search .dropdown-menu li a {
	    font-size: 10px !important;
	    line-height: 1.2 !important;
	}
	.header-search .dropdown-menu {
	    min-width: 200px !important;
	    left: -50px !important;
	    right: 0 !important;
	}
	.hm-work-wrp {
	    padding-top: 70px;
	}
	.hm-job-cty-tab-dsc ul li {
	    width: 100%;
	}
	.hm-download-slide-dsc-title,
	.hm-hot-jb-company-head-title,
	.hm-govt-job-head-title,
	.hm-job-category-head-title {
	    font-size: 22px;
	    text-transform: capitalize;
	}
	.hm-job-cty-tab-menu ul li a {
	    font-size: 14px;
	    padding: 10px 15px;
	}
	.hm-tender-grid-innr ul li {
	    width: 100%;
	}
	.hm-tender-grid-innr ul li:nth-child(2n+1){
		clear: none;
	}
	.hm-work-wrp ul{
		padding-left: 40px;
	}
	.hm-slider-cntlr-wrp .fl-nxt-prev .fl-next,
	.hm-slider-cntlr-wrp .fl-nxt-prev .fl-prev {
	    width: 40px;
	    height: 40px;
	    font-size: 30px;
	    line-height: 43px;
	}


}

@media(max-width: 359px){

}