/*
---------------------
ht-job-detail-sec-wrp
---------------------
*/
.ht-job-detail-sec-wrp{
	padding: 50px 0;
}
.ht-job-detail-tp-info{
	width: 80%;
	float: left;
}
.ht-job-detail-tp-innr {
    background: #fff;
    border: 1px solid#ddd;
    padding: 20px 20px;
    display: flex;
    align-items: center;
}
.ht-job-detail-tp-img{
	width: 15%;
	float: left;
}
.ht-job-detail-tp-img img{
	width: 100%;
	min-height: 130px;
	border: 5px solid#ddd;
}
.ht-job-detail-tp-dsc {
    width: 85%;
    float: right;
    padding: 10px 10px 10px 15px;
}
.ht-job-detail-tp-title-1{
	display: block;
	font-size: 26px;
	line-height: 1;
	color: #00732e;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.ht-job-detail-tp-title-2{
	display: block;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 10px;
}
.ht-job-detail-tp-dsc span{
	display: block;
	padding-bottom: 5px;
}
.ht-job-detail-tp-dsc strong{
	display: inline-block;
	vertical-align: baseline;
}
.ht-job-detail-tp-apply{
	width: 20%;
	float: right;
}
.ht-job-detail-tp-apply a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 20px;
	line-height: 1.2;
	color: #fff;
	background: #00752e;
	padding: 10px 30px;
	float: right;
}
.ht-job-detail-tp-apply a:hover{
	background: #d80100;
}
.ht-job-dstl-btm-lft{
	width: 70%;
	float: left;
	padding-right: 10px;
}
/*
---------------------
ht-job-dstl-btm-wrp
---------------------
*/
.ht-job-dstl-btm-wrp{
	padding-top: 30px;
}
.ht-job-dstl-btm-dsc-innr{
	background: #fff;
	border: 1px solid#ddd;
	padding: 20px 20px;
}
.ht-job-dstl-google-map h4,
.ht-job-dstl-summary h4,
.ht-job-dstl-btm-dsc h4{
	text-transform: capitalize;
}
.ht-job-dstl-btm-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	line-height: 1;
	font-weight: 600;
	padding-left: 20px;
	padding-bottom: 20px;
}
.ht-job-dstl-btm-dsc p{
	padding-left: 20px;
}
.ht-job-dstl-btm-dsc ul{
	padding-left: 20px;
	padding-bottom: 10px;
}
.ht-job-dstl-btm-dsc ul li{
	font-size: 14px;
	line-height: 1.4;
	padding-bottom: 10px;
	position: relative;
	padding-left: 20px;
}
.ht-job-dstl-btm-dsc ul li strong{
	color: #d80100;
}
.ht-job-dstl-btm-dsc ul li:after{
    content: "\f00c";
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 12px;
    line-height: 1;
    color: #d80100;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
}
.ht-job-dstl-btm-rgt{
	width: 30%;
	float: right;
	padding-left: 10px;
}
.ht-job-dstl-summary-wrp{
	padding: 20px 20px;
	background: #fff;
	border: 1px solid#ddd;
}
.ht-job-dstl-summary ul li{
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid#ddd;
}
.ht-job-dstl-summary ul li:first-child{
	border-top: 1px solid#ddd;
}
.ht-job-dstl-summary ul li strong{
	float: left;
	padding-right: 10px;
	font-size: 13px;
	line-height: 1;
}
.ht-job-dstl-summary ul li span{
	float: right;
	padding-left: 10px;
	text-align: right;
	font-size: 13px;
	line-height: 1;
}
.ht-job-dstl-add-img{
	padding-top: 20px;
}
.ht-job-dstl-email{
	padding-top: 20px;
}
.ht-job-dstl-email ul li{
	margin-bottom: 10px;
}
.ht-job-dstl-email ul li a{
	display: block;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	padding: 10px 10px;
	background: #ddd;
}
.ht-job-dstl-email ul li a i{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 10px;
}
.ht-job-dstl-email ul li a:hover{
	background: #d80100;
	color: #fff;
}
.ht-job-dstl-google-map{
	padding-top: 20px;
}

/*
----------------------------
ht-candidate-detail-sec-wrp
----------------------------
*/
.ht-candidate-detail-sec-wrp{
	padding: 50px 0;
}
.ht-candidate-detail-sec-wrp .ht-job-detail-tp-info{
	width: 70%;
}
.ht-candidate-detail-sec-wrp .ht-job-dstl-btm-dsc-innr{
	margin-bottom: 30px;
}
.ht-candidate-detail-sec-wrp .ht-job-detail-tp-dsc span i{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 10px;
}
.ht-candidate-detail-info-rgt{
	width: 30%;
	float: right;
}
.ht-candidate-detail-info ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	padding: 5px 0;
}
.ht-candidate-detail-info ul li a i{
	padding-right: 10px;
}
.ht-candidate-detail-info ul li a:hover{
	color: #d80100;
}
/*
------------------
ht-job-edu-dsc-wrp
-------------------
*/
.ht-job-edu-dsc-wrp ul li{
	padding: 15px 0;
	border-bottom: 1px solid#ddd;
	margin-bottom: 10px;
}
.ht-job-edu-dsc-wrp ul li:first-child{
	border-top: 1px solid#ddd;
}
.ht-job-edu-grid-img {
    float: left;
    width: 14%;
}
.ht-job-edu-date {
    width: 100px;
    height: 100px;
    background: #00732e;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ht-job-edu-date strong{
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	font-weight: 600;
}
.ht-job-edu-grid-dsc {
    float: left;
    padding-left: 20px;
    width: 86%;
}
.ht-job-edu-grid-dsc h5{
	text-transform: capitalize;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1;
}
.ht-job-edu-grid-dsc > span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 500;
	padding-bottom: 10px;
}

/*
-------------------
	work-exp-wrp
-------------------
*/
.work-exp-wrp .ht-job-edu-date{
	background: transparent;
	padding: 10px 10px;
}
.ht-job-edu-grid-dsc b {
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    padding-bottom: 10px;
}
.ht-job-edu-grid-dsc b span{
	width: 50%;
	float: left;
	padding-right: 15px;
}
.ht-job-dstl-portfolio-wrp ul{
	margin: 0 -10px;
}
.ht-job-dstl-portfolio-wrp ul li{
	width: 50%;
	float: left;
	padding: 0 10px 20px;
}
.ht-job-dstl-prt-grid-cntlr{
	position: relative;
}
.ht-job-dstl-prt-grid-img{
	height: 300px !important;
	cursor: pointer;
}
.ht-job-dstl-prt-grid-hover{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(22,34,46,.9);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
}
.ht-job-dstl-prt-grid-cntlr:hover .ht-job-dstl-prt-grid-hover{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ht-job-dstl-prt-grid-dsc{
	text-align: center;
}
.ht-job-dstl-prt-grid-dsc h4{
	color: #fff;
}
.ht-job-dstl-prt-grid-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.ht-job-dstl-prt-grid-dsc a:hover{
	background: #d80100;
}

/*
------------------
ht-job-cn-skill-wrp
------------------
*/
.ht-job-cn-skill-wrp{
	padding-top: 15px;
}
.skill-bar-rgt {
	margin-bottom: 15px;
}
.skill-bar-rgt h6 {
    color: #334e6f;
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
}
.skillbar{
	position: relative;
	background:#00732e;
	width: 100%;
	height:16px;
	border-radius:50px;
}
.skillbar-bar {
	position: absolute;
	width:0px;
	height: 8px;
	display: inline-block;
	left: 5px;
	top: 4px;
	border-radius: 5px;
	margin-bottom: 0;
}
.skill-bar-percent{
	position: absolute;
	right:7px;
	color:#e9e9e9;
	font-size:12px;
	line-height:14px;
	top:1px;
}

/*
--------------------
 New Css
--------------------
*/
.ht-job-dstl-ap-dsc {
    border-top: 1px solid#ddd;
    border-bottom: 1px solid#ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.ht-job-dstl-ap-dsc strong{
	display: block;
	padding-bottom: 10px;
}
.ht-job-dstl-cm-info a,
.ht-job-dstl-ap-dsc a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    background: #00752e;
    padding: 10px 20px;
}
.ht-job-dstl-cm-info a:hover,
.ht-job-dstl-ap-dsc a:hover{
	background:#d80100;
}
.ht-job-dstl-eml-snd-dsc{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-bottom: 1px solid#ddd;
}
.ht-job-dstl-eml-snd-dsc p,
.ht-job-dstl-eml-snd-dsc h4{
	margin-bottom: 10px;
}
.ht-job-dstl-cm-info{
	padding-top: 15px;
}
.ht-job-dstl-cm-info a{
	float: right;
}
.ht-job-dstl-cm-info strong{
	display: block;
	padding-bottom: 10px;
}
.ht-job-dstl-cm-info span{
	padding-bottom: 5px;
	display: inline-block;
	vertical-align: baseline;
}

/*
--------------
 Job apply
--------------
*/
.ht-ap-on-jb-mid{
	background: #ddd;
	padding: 10px 10px;
	margin-top: 20px;
}
.ht-Level-radio .filter-check-row{
	float: none !important;
}
.ht-Level-radio label{
	padding-left: 10px;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
}
.ex-sly input[type="text"]{
	max-width: 150px;
}
.ht-indicates-wrp{
	padding: 10px 10px;
	background: #e5bebe;
	margin-top: 10px;
}
.priority-level-wrp{
	padding-top: 15px;
}
.ht-more-about-wrp strong{
	display: inline-block;
	vertical-align: baseline;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ht-more-about-wrp h5{
	margin-bottom: 10px;
}
.ht-login-about-checkbox-wrp strong{
	float: right;
}
/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ht-job-detail-tp-img img {
	    width: 100%;
	    min-height: 110px;
	}
	.ht-job-detail-tp-title-2,
	.ht-job-detail-tp-title-1{
		font-size: 25px;
	}

}

@media(max-width: 991px){
	.ht-job-detail-tp-title-2,
	.ht-job-detail-tp-title-1{
		font-size: 24px;
	}
	.ht-job-detail-tp-img {
	    width: 17%;
	}
	.ht-job-detail-tp-dsc{
		width: 83%;
	}
	.ht-job-dstl-btm-rgt {
	    width: 100%;
	    padding-left: 0;
	    margin-top: 20px;
	}
	.ht-job-dstl-btm-lft {
	    width: 100%;
	    float: left;
	    padding-right: 0;
	}
	
}

@media(max-width: 767px){
	.ht-job-detail-tp-title-2,
	.ht-job-detail-tp-title-1{
		font-size: 22px;
	}
	.ht-job-detail-tp-img {
	    width: 100%;
	    max-width: 120px;
	    margin: 0 auto;
	    display: table;
	}
	.ht-job-detail-tp-dsc {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 20px;
	    padding-right: 0;
	}
	.ht-job-detail-tp-innr{
		display: block;
	}
	.ht-candidate-detail-sec-wrp .ht-job-detail-tp-info {
	    width: 65%;
	}
	.ht-candidate-detail-info-rgt {
	    width: 35%;
	}
	.ht-job-dstl-btm-dsc p {
	    padding-left: 10px;
	}

	
}

@media(max-width: 575px){
	.ht-candidate-detail-sec-wrp .ht-job-detail-tp-info {
	    width: 100%;
	}
	.ht-candidate-detail-info-rgt {
	    width: 100%;
	    border-top: 1px solid#ddd;
	    padding-top: 10px;
	}
	.ht-job-edu-grid-img {
	    float: left;
	    width: 100%;
	    padding-bottom: 10px;
	}
	.ht-job-edu-grid-dsc {
	    float: left;
	    padding-left: 20px;
	    width: 100%;
	}
	.ht-job-dstl-portfolio-wrp ul li {
	    width: 100%;
	}
	.ht-job-edu-grid-dsc b span {
	    width: 100%;
	    padding-right: 0;
	    padding-top: 10px;
	}
		

}

@media(max-width: 479px){
	.ht-job-detail-tp-title-2,
	.ht-job-detail-tp-title-1{
		font-size: 20px;
	}
	.ht-job-detail-tp-img {
	    width: 100%;
	    max-width: 100px;
	}
	.ht-job-detail-tp-img img {
	    width: 100%;
	    min-height: 100px;
	}
	.ht-job-detail-tp-innr {
	    display: block;
	    padding: 20px 10px;
	}
	.ht-job-dstl-btm-dsc-innr {
	    padding: 20px 10px;
	}
	.ht-job-dstl-btm-dsc ul {
	    padding-left: 10px;
	}
	.ht-job-dstl-summary ul li strong {
	    float: none;
	    padding-right: 0;
	    display: block;
	    padding-bottom: 10px;
	}
	.ht-job-dstl-cm-info a,
	.ht-job-dstl-ap-dsc a{
		font-size: 16px;
		padding: 10px 15px;
	}
	

}

@media(max-width: 359px){

}