/*
------------------
------------------
*/
.jb-pst-brd-tabs ul li{
	width: auto;
}
.jb-pst-brd-tabs ul li a{
	padding: 15px 44px;
}
.jb-pst-brd-search{
	float: right;
}
.jb-pst-brd-search a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	padding: 10px 20px;
	background: #00732e;
	margin-right: 4px;
	margin-top: 10px;
}
.jb-pst-brd-search a i{
	padding-right: 5px;
}
.jb-pst-brd-search a:hover{
	background: #d80100;
}
.slt-lng-post-wrp{
	padding: 30px 20px 10px;
	border:1px solid#ddd;
	background: #fff;
	margin-top: 20px;
}
.slt-lng-post-wrp h5{
	float: left;
	text-transform: capitalize;
}
.slt-lng-post-wrp .filter-check-row{
	float: left;
}
.slt-lng-post-wrp .filter-check-row label{
	color: #334e6f;
}

.analytic-jobs-wrp .jb-pst-checkbox ul li{
    margin-bottom: 10px !important;
}

/*
-------------------
.fl-shipping
-------------------
*/
.jb-pst-brd-stb-cntlr{
	background: #fff;
	padding: 20px 20px;
}
.fl-shipping {
    padding-bottom: 15px;
    box-sizing: border-box;
    position: relative;
}
.fl-shipping-progress-bar{
    position: relative;
}
.fl-shipping span{
    display: inline-block;
    position: relative;
    top: -7px;
    width: 15px;
    height: 15px;
    background: #dfdfe0;
    border-radius: 10px;
}
.fl-ship-1 span{
	background: #d80100;
	width: 16px;
	height: 16px;
}
.fl-ship-1:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 18px;
	width: 100%;
	height: 6px;
	background: #d80100;
	z-index: 1;
	border-radius: 0;
}
.fl-shipping-col {
    width: 12.5%;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
}
.fl-shipping h6{
    color: #334e6f;
    font-size: 12px;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-weight:400;
    text-transform: capitalize;
    height: 30px;
}
.fl-shipping.fl-ship-1 h6{
	color:#d80100 !important;
}

.fl-shipping:before{
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 58px;
    background: #dcdcdc;
}
.priy-jb-info-frm-wrp h4{
	text-transform: capitalize;
	margin-bottom: 20px;
}
.priy-jb-info-frm-cntlr .full-field{
	width: 100%;
}
.jb-form-checkbox.ht-login-rgi-form-checkbox{
	padding-top: 35px;
}
.jb-pst-chk-cntlr .filter-check-row {
    float: left;
    width: 100%;
}
.jb-pst-chk-cntlr {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    padding: 20px 0;
    border: 1px solid#ddd;
    margin-top: 10px;
}
.jb-pst-checkbox ul li{
	float: left;
	padding-right: 20px !important;
}
#JbPstChkTbs{
	display: none;
}
#JbPstChkTbs .ht-login-rgi-form-checkbox{
	float: left;
}
.switch-checkbox {
    width: 80px;
    height: 35px;
    border: 1px solid #E8E7E7;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.switch-checkbox input {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.switch-checkbox input:checked ~ .checkbox-slider {
    right: 1px;
    left: auto;
    background: #00732e;
}
.checkbox-slider {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 30px;
    height: 30px;
    background: #00732e;
    border-radius: 100% 100%;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.switch-checkbox input:checked ~ .checkbox-slider:after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 8px;
    right: 6px;
    line-height: 15px;
}
.checkbox-slider:after {
    content: "\f00d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #d80100;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 8px;
    right: 9px;
    line-height: 15px;
}
.switch-item {
    position: relative;
    padding: 0 0 0 0;
    margin-bottom: 15px;
    float: left;
}
.switch-item-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.switch-item-dsc{
	padding-bottom: 20px;
}
.ht-prls-dtls-frm-submit{
	padding-top: 20px;
	border-top: 1px solid#ddd;
}
/*
-------------------
jb-address-sec-wrp
-------------------
*/
.jb-address-sec-wrp{
	padding: 0 0 80px;
}
.jb-address{
	padding-left: 130px;
	position: relative;
}
.jb-address img{
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 120px;
	border-radius: 100% 100%;
}

/*
------------------
paymessage
------------------
*/
.em-cp-sr-dsc-wrp{
	border:1px solid#ddd;
	padding: 30px 20px;
	background: #fff;
}
.em-cp-sr-tbl-wrp,
.em-cp-sr-mid-dsc{
	padding: 20px 20px;
	border:1px solid#ddd;
}
.em-cp-sr-mid-dsc > p{
	text-align: center;
}
.em-cp-sr-tbl-wrp em{
	padding-bottom: 20px;
	display: inline-block;
	vertical-align: baseline;
}

/*
--------------------
 Job Post Board Step3
---------------------
*/
.priy-jb-info-frm-wrp h5{
    text-transform: capitalize;
}
.analytic-jobs-wrp{
    background: #fff;
    padding:20px 20px;
    border: 1px solid#ddd;
    margin-top: 20px;
}
.aytic-jobs-grid-dsc{
    background: #fff;
    border: 1px solid#ddd;
    padding: 20px 20px;
    margin-bottom: 20px;
}
.aytic-jobs-grid-dsc h6{
    border-bottom: 1px solid#ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.aytic-jobs-grid-dsc h6 a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}
.aytic-jobs-grid-dsc h6 a:hover{
    color: #d80100;
}
.aytic-jobs-grid-dsc > ul > li > p{
    margin-bottom: 0;
    float: left;
}
.aytic-jobs-grid-dsc > ul > li{
    display: block;
    padding-bottom: 10px;
}
.aytic-jobs-grid-dsc > ul > li span{
    display: inline-block;
    vertical-align: baseline;
    float: right;
    background: #00732e;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
.ht-prls-dtls-frm-field.full-field{
    float: left;
    width: 100%;
}
.aytic-jobs-grid-img{
    text-align: center;
}
.aytic-jobs-grid-img img{
    padding-top: 20px;
}

/*
--------------------
 Job Post Board Step5
---------------------
*/
.fl-jb-pst-pls-wrp{
    background: #F4D3E6;
    padding: 20px 20px;
    border:1px solid#ddd;
    margin-bottom: 20px;
}
.fl-jb-pst-pls-wrp h5{
    margin-bottom: 10px;
    text-transform: capitalize;
}
.fl-jb-pst-pls-radio-rgt .ht-prls-dtls-frm-field span a,
.fl-jb-pst-pls-radio-lft .ht-prls-dtls-frm-field span a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    padding-left: 5px;
}
.fl-jb-pst-pls-radio-rgt .ht-prls-dtls-frm-field strong,
.fl-jb-pst-pls-radio-lft .ht-prls-dtls-frm-field strong{
    display: block;
}
.fl-jb-pst-pls-radio-lft{
    width: 50%;
    padding-right: 20px;
    float: left;
}
.fl-jb-pst-pls-radio-rgt{
    width: 50%;
    padding-left: 20px;
    float: right;
}
.fl-jb-pst-pls-radio-rgt .ht-prls-dtls-frm-field{
    padding-left: 30px;
}
.fl-jb-pst-pls-radio-rgt .ht-login-rgi-form-checkbox{
    margin-left: -30px;
}
.fl-jb-pst-dsc-btm{
    padding: 20px 20px;
    background: #F4D3E6;
    margin-bottom: 20px;
}
.fl-jb-pst-tbs-wrp ul li{
    float: left;
}
.fl-jb-pst-tbs-wrp ul li a{
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 10px;
    background: #00732e;
    text-align: center;
}
.fl-jb-pst-tbs-wrp ul li.active a {
    background: #d80100;
}
.fl-jb-pst-tbs{
    display: none;
}

/*
----------------
----------------
*/
.fl-jb-pst-msg-wrp{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.fl-jb-pst-msg-wrp span{
    display: inline-block;
    vertical-align: baseline;
    color:#00732e;
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 50px;
    margin-bottom: 20px;
}
.fl-jb-pst-msg-wrp span i{
    display: inline-block;
    vertical-align: baseline;
    font-size: 30px;
    line-height: 100px;
}
.fl-jb-pst-msg-wrp strong{
    display: block;
    padding-bottom: 10px;
}
.fl-jb-pst-msg-wrp a{
    display: inline-block;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 10px;
    background: #00732e;
    text-align: center;
}
.fl-jb-pst-msg-wrp h6{
    margin-top: 20px;
}
.fl-jb-pst-msg-wrp a:hover{
    background: #d80100;
}

/*
fl-cmatn-grid-dsc
*/
.fl-cmatn-grid-dsc-lft{
    float: left;
    width: 50%;
    padding-right: 15px;
}
.fl-cmatn-grid-dsc-rgt{
    float: right;
    width: 50%;
    padding-left: 15px;
}
.fl-cmatn-grid-wrp > ul{
    margin: 0 -10px;
}
.fl-cmatn-grid-wrp > ul > li{
    float: left;
    width: 50%;
    padding: 0 10px 20px;
}
.fl-eml-template-wrp h5,
.fl-cmatn-grid-wrp h5{
    text-transform: capitalize;
}
.fl-cmatn-grid {
    background: #fff;
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    padding: 20px 20px;
}
.fl-cmatn-grid-dsc-rgt > ul{
    float: right;
}
.fl-cmatn-grid-dsc-rgt > ul > li{
    float: left;
    padding-left: 15px;
}
.fl-cmatn-grid-dsc-rgt > ul > li > a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    color: #334e6f;
}
.fl-cmatn-grid-dsc-rgt > ul > li > a i{
    display: inline-block;
    vertical-align: baseline;
    padding-right: 5px;
    font-size: 14px;
}
.fl-cmatn-grid-dsc-rgt > ul > li > a > span {
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid#ddd;
    border-radius: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
}
.fl-eml-template-wrp{
    background: #fff;
    padding: 20px 20px;
}
.fl-eml-template-cntlr .hdr-search {
    float: none;
    position: relative;
    max-width: 100%;
    width: 100%;
    padding-left: 0;
}
.fl-eml-template-msg{
    text-align: center;
    padding: 30px 0;
}
.fl-eml-pasw-change i,
.fl-eml-template-msg i{
    display: inline-block;
    vertical-align: baseline;
    font-size: 50px;
    line-height: 1;
}
.fl-eml-template-msg strong{
    display: block;
    padding-top: 15px;
}
.fl-eml-template-msg-btn a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    background: #00732e;
    padding: 10px 20px;
}
.fl-eml-template-msg-btn a:hover{
    background: #d80100;
}
.fl-eml-pasw-change{
    text-align: center;
    padding: 20px 0;
}
.fl-eml-pasw-change strong{
    display: block;
    padding-top: 10px;
}

/*
-----------------------
Template_Editor
-----------------------
*/
.fl-eml-template-ed-dsc{
    padding-top: 20px;
}
.fl-eml-template-block{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border:1px solid#ddd;
    padding: 20px 20px;
}
.fl-eml-pasw-change p{
    padding-top: 20px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
     .jb-pst-brd-tabs ul li a {
        padding: 12px 30px;
    }
    .jb-pst-brd-search a,
    .em-cp-service-tbs-menu ul li a {
        font-size: 14px;
    }
    .em-cp-service-tbs-menu ul {
        padding-top: 0;
        display: table;
        margin: 0 auto;
    }
    .fl-cmatn-grid-dsc-rgt {
        padding-left: 0px;
    }
    .fl-cmatn-grid-dsc-rgt > ul > li > a {
        font-size: 14px;
    }
    .fl-cmatn-grid-dsc-rgt > ul > li > a > span {
        width: 25px;
        height: 25px;
        line-height: 14px;
    }
    .aytic-jobs-grid-dsc {
        padding: 20px 10px;
    }
}

@media(max-width: 991px){
    .jb-pst-brd-tabs ul li {
        width: 33.3333%;
        padding-bottom: 5px;
    }
    .jb-pst-brd-tabs ul li a {
        padding: 10px 20px;
    }
    .fl-cmatn-grid{
        padding: 20px 10px;
    }
    .fl-cmatn-grid-dsc-rgt > ul > li {
        padding-left: 5px;
        padding-bottom: 5px;
    }
    .fl-cmatn-grid-dsc-rgt > ul > li > a i {
        font-size: 12px;
    }
    
    
}

@media(max-width: 767px){
    .jb-pst-brd-tabs ul li a {
        padding: 10px 10px;
        font-size: 11px;
    }
    .jb-pst-brd-search a,
    .em-cp-service-tbs-menu ul li a {
        font-size: 12px;
    }
    .jb-address img {
        position: static;
        display: table;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .jb-address {
        padding-left: 0;
        text-align: center;
    }
    .jb-address-wrp{
        text-align: center;
    }
    .jb-address-sec-wrp {
        padding: 0 0 40px;
    }
    .fl-eml-pasw-change {
        padding: 15px 0;
    }
    .fl-eml-template-msg-btn a {
        font-size: 14px;
        padding: 10px 15px;
    }
    .em-cp-sr-tbl-wrp,
    .em-cp-sr-tbl-wrp table{
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: normal;
    }
    .em-cp-sr-dsc-wrp {
        padding: 20px 10px;
    }
    .em-cp-sr-tbl-wrp,
    .em-cp-sr-mid-dsc {
        padding: 20px 10px;
    }
    .fl-cmatn-grid-wrp > ul > li {
        width: 100%;
        padding: 0 10px 20px;
    }
}

@media(max-width: 575px){
    .jb-pst-brd-tabs ul li {
        width: 50%;
    }
}

@media(max-width: 479px){
    .jb-pst-brd-tabs ul li {
        width: 100%;
    }
    .fl-eml-template-wrp {
        padding: 20px 10px;
    }
    .fl-eml-template-block {
        padding: 15px 10px;
    }
    .fl-cmatn-grid-dsc-lft {
        width: 100%;
        padding-right: 0;
        padding-bottom: 5px;
    }
    .fl-cmatn-grid {
        padding: 10px 10px;
    }
    .fl-cmatn-grid-dsc-rgt {
        padding-left: 0px;
        width: 100%;
    }
}

@media(max-width: 359px){

}
