/*
----------------
 Live Interview
----------------
*/
.ht-live-int-wrp{
	padding-top: 20px;
}
.ht-live-int-dsc{
	padding: 20px 20px;
	background: #ddd;
}
.ht-live-int-dsc-btm{
	padding: 30px 20px;
}
.ht-live-int-dsc-btm h6{
	margin-bottom: 10px;
	text-transform: capitalize;
	text-align: center;
}
.live-interview-head{
	padding: 15px 10px;
	background: #ddd;
}
.live-interview-head h5{
	text-transform: capitalize;
	margin-bottom: 0;
	float: left;
}
.live-interview-head h5 i{
	padding-right: 10px;
}
.live-interview-head a{
	float: right;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #334e6f;
	font-size: 16px;
	line-height: 1;
}
.live-interview-head a i{
	padding-right: 5px;
}
.live-interview-head a:hover{
	color: #db0000;
}

/*
--------------------------
ht-feedback-form-sec-wrp
--------------------------
*/
.ht-feedback-form-sec-wrp{
	padding: 50px 0;
}
.ht-feedback-form-lft{
	float: left;
	width: 70%;
}
.ht-feedback-form-cntlr{
	padding: 20px 20px;
	border:1px solid#ddd;
	background: #fff;
}
.ht-feedback-form-head h4{
	margin-bottom: 20px;
	text-transform: capitalize;
}
.ht-fd-form-field{
	margin-bottom: 20px;
}
.ht-fd-form-field > label{
    display: block;
    font-size: 16px;
    line-height: 1;
    color: #334e6f;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.ht-fd-form-field ul li{
    float: left;
    display: block;
    width: 100%;
    padding: 5px 0;
}
.ht-fd-form-field .ht-prls-dtls-frm-textarea{
    padding: 0;
}
.ht-fd-form-field .ht-prls-dtls-frm-textarea textarea{
	resize: none;
}
.ht-fd-form-field .ht-prls-dtls-frm-field{
	width: 100%;
	padding: 0;
}
.ht-fd-form-btn button{
    display: inline-block;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: #00732e;
    border: 2px solid#00732e;
    max-width: 200px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
}
.ht-fd-form-btn button:hover{
	background: transparent;
	color: #d80100;
	border-color: #d80100;
}
.ht-feedback-form-rgt{
	width: 30%;
	float: right;
	padding-left: 15px;
}
.ht-job-dstl-add-img a img{
	width: 100%;
}

/*
-------------------------
Video Interview Recorded
-------------------------
*/
.video-table table tbody tr td:first-child i {
    width: 40px;
    height: 40px;
    background: #00732e;
    border-radius: 20px;
    color: #fff;
    line-height: 38px;
}
.video-table table tbody tr td:first-child a{
	display: inline-block;
	vertical-align: baseline;
	padding: 0;
	background: transparent;
	color: #334e6f;
}
.video-table table tbody tr td span{
	display: block;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	.ht-feedback-form-lft {
	    width: 100%;
	    float: left;
	}
	.ht-feedback-form-rgt {
	    width: 100%;
	    padding-left: 0;
	    float: right;
	    margin-top: 20px;
	}
	.ht-feedback-form-wrp{
		position: relative;
		overflow: hidden;
	}
	.input-type-radio label{
		font-size: 16px !important;
	}
	.ht-feedback-form-sec-wrp {
	    padding: 35px 0;
	}

	
}

@media(max-width: 575px){
	.ht-live-int-dsc-btm {
	    padding: 20px 15px;
	}
	

}

@media(max-width: 479px){
	.live-interview-head h5 {
	    float: left;
	    width: 100%;
	    margin-bottom: 10px;
	}
	.ht-live-int-dsc {
	    padding: 20px 10px;
	}

}

@media(max-width: 359px){

}