/*
--------------------
ht-division-sec-wrp
--------------------
*/
.ht-division-sec-wrp{
	padding: 50px 0;
}
.ht-division-list{
	margin-bottom: 30px;
}
.ht-division-list ul > li{
	width: 25%;
}
.ht-division-grid-wrp > ul{
	margin: 0 -5px;
}
.ht-division-grid-wrp ul > li{
	float: left;
	width: 25%;
	padding: 0 5px 10px;
}
.ht-division-grid h6{
	font-size: 16px;
	line-height: 1.2;
	text-transform: capitalize;
	margin-bottom: 0;
	background: #eee;
	padding: 5px 10px;
	text-align: left;
}
.ht-division-grid h6 a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
}
.ht-division-grid ul{
	border: 1px solid#ddd;
	padding: 10px 10px;
}
.ht-division-grid ul > li{
	padding: 5px 0;
	width: 100%;
}
.ht-division-grid ul > li > a{
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #007330;
	border: 1px solid#ddd;
	padding: 10px 10px 10px 20px;
	position: relative;
}
.ht-division-grid ul > li > a:after {
    content: "\f100";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #007330;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
}
.ht-division-grid ul > li > a:hover:after,
.ht-division-grid ul > li > a:hover{
	color: #d80100;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ht-division-grid h6{
		font-size: 15px;
	}
	.new-jobs-tab-list ul li a,
	.ht-division-grid ul > li > a {
	    font-size: 13px;
	    padding: 10px 5px 10px 15px;
	}
	.new-jobs-tab-list ul li a:after,
	.ht-division-grid ul > li > a:after {
	    left: 2px;
	    font-size: 12px;
	}

}

@media(max-width: 991px){	
	.new-jobs-tab-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.new-jobs-tab-rgt {
	    width: 100%;
	    float: right;
	    padding-top: 20px;
	}
	.new-jobs-add-img img {
	    width: 100%;
	    max-width: 250px;
	    margin: 0 auto;
	    display: table;
	}
	.new-jobs-tab-list ul li a,
	.ht-division-grid ul > li > a {
	    font-size: 13px;
	    padding: 10px 5px 10px 20px;
	}
	.new-jobs-tab-list ul li a:after,
	.ht-division-grid ul > li > a:after {
	    left: 5px;
	    font-size: 12px;
	}
	.ht-division-list ul > li {
	    width: 33.3333%;
	}
	.ht-division-grid-wrp ul > li {
	    float: left;
	    width: 33.3333%;
	    padding: 0 5px 10px;
	}
	.ht-division-grid ul > li {
	    padding: 5px 0;
	    width: 100% !important;
	}
}

@media(max-width: 767px){
	.ht-division-sec-wrp {
	    padding: 35px 0;
	}
	.new-jobs-tab-list ul li {
	    width: 33.3333%;
	    padding: 0 5px 10px;
	}
	.ht-division-grid-wrp ul > li {
	    width: 50%;
	}

	
}

@media(max-width: 575px){
	.new-jobs-tab-list ul li {
	    width: 50%;
	}
	

}

@media(max-width: 479px){
	.ht-division-grid-wrp ul > li {
	    width: 100%;
	}
	.new-jobs-tab-list ul li {
	    width: 100%;
	}
}

@media(max-width: 359px){

}