/*
------------------------
ht-login-register-sec-wrp
------------------------
*/
.ht-login-register-sec-wrp{
	padding: 50px 0;
}
.ht-login-register-block{
	max-width: 650px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	border:1px solid#ddd;
	padding: 30px 20px;
}
.ht-login-register-socail{
	border-bottom: 1px solid#ddd;
	padding-bottom: 20px;
}
.ht-login-register-socail h4{
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.ht-login-register-socail ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.ht-login-register-socail ul li{
	width: 33.3333%;
	float: left;
	padding: 0 10px;
}
.ht-login-register-socail ul li a{
	display:block;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #385898;
	text-align: center;
	padding: 10px 10px;
}
.ht-login-register-socail ul li:nth-child(2) a{
	background: #B91C1C;
}
.ht-login-register-socail ul li:nth-child(3) a{
	background: #00acee;
}
.ht-login-register-socail ul li a i{
	padding-right: 10px;
}
/*
-----------------------
 ht-login-register-msg
-----------------------
*/
.ht-login-register-msg{
	padding-top: 20px;
	padding-bottom: 20px;
}
.ht-login-register-msg ul li{
	padding: 10px 0;
}
.ht-login-register-msg ul li a{
	display: block;
	text-decoration: none;
	text-align: left;
	font-size: 14px;
	line-height: 1;
	color: #00732e;
	background: #dff0d8;
	padding: 15px 15px;
	border:1px solid#ddd;
}
.ht-login-rgi-tabs ul li{
	width: 50%;
	float: left;
}
.ht-login-rgi-tabs ul li a{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	text-transform: capitalize;
	padding:15px 10px;
	background: #00732e;
	text-align: center;
}
.ht-login-rgi-tabs ul li.active a{
	background: #d80100;
}

/*
------------------
ht-login-rgi-form
------------------
*/
.ht-login-rgi-form{
	padding-top: 30px;
}
.ht-login-rgi-form-tabs{
	display: none;
}
.ht-login-rgi-form-field{
	margin-bottom: 15px;
}
.ht-login-rgi-form-field label{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.ht-login-rgi-form-field input[type="email"],
.ht-login-rgi-form-field input[type="text"]{
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	border: 1px solid#ddd;
	padding: 10px 15px;
}
.ht-login-rgi-form-field input[type="email"]:focus,
.ht-login-rgi-form-field input[type="text"]:focus{
	border-color: #d80100;
}
.ht-login-rgi-form-btn button{
	width: 100%;
	height: 40px;
	background: #00732e;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}
.ht-login-rgi-form-btn button:hover{
	background: #d80100;
}
.ht-login-rgi-form-text{
	padding-top: 20px;
}
.ht-login-rgi-form-text span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
}
.ht-login-rgi-form-text span i{
	padding-right: 10px;
}
.ht-login-rgi-form-text span a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 600;
	color: #00732e;
}
.ht-login-rgi-form-text span a:hover{
	text-decoration: underline;
}
/*
--------------------------
ht-login-rgi-form-checkbox
--------------------------
*/
.ht-login-rgi-form-checkbox{
	padding-bottom: 15px;
}
.ht-login-rgi-form-checkbox ul li {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
    position: relative;
}
.ht-login-rgi-form-checkbox ul li label {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #334e6f;
    margin: 0;
    padding-left: 30px;
    text-transform: inherit;
    padding-right: 0;
    cursor: pointer;
}
/* Hide the browser's default checkbox */
.ht-login-rgi-form-checkbox ul li label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.ht-login-rgi-form-checkbox ul li label .checkmark {
    position: absolute;
    width:20px;
    height:20px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    left: 0;
    top: 0;
}
/* Create the checkmark/indicator (hidden when not checked) */
.ht-login-rgi-form-checkbox ul li label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.ht-login-rgi-form-checkbox ul li label input:checked ~ .checkmark:after {
  display: block;
}
.ht-login-rgi-form-checkbox ul li label input:checked ~ .checkmark{
	background: #d80100;
	border: 0;
}
/* Style the checkmark/indicator */
.ht-login-rgi-form-checkbox ul li label .checkmark:after {
    left: 7px;
    top: 1px;
    width: 7px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    content: "";
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	

	
}

@media(max-width: 575px){
	.ht-login-register-socail ul{
		display: block;
	}
	.ht-login-register-socail ul li {
	    width: 100%;
	    float: none;
	    padding: 0;
	    max-width: 200px;
	    margin: 0 auto;
	    padding: 10px 0;
	}
	.ht-login-rgi-form-btn button{
		font-size: 16px;
	}
	

}

@media(max-width: 479px){
	.ht-login-rgi-tabs ul li a{
		font-size: 16px;
	}
	.ht-login-rgi-form-field label{
		font-size: 14px;
	}

}

@media(max-width: 359px){

}
