/*
------------------
ht-view-cv-dlts-wrp
------------------
*/
.ht-view-cv-dlts-wrp{
	padding: 0 10px;
}
.Visibility-emply-wrp{
	background: #C6E0BD;
	padding: 10px 10px;
}
.ht-cplnes-rsme-wrp {
    background: #F4D3E6;
    margin-top: 15px;
    margin-bottom: 15px;
}
.ht-cplnes-update-lft{
	float: left;
}
.ht-cplnes-update-lft .ht-video-cr-cmp p{
	margin-bottom: 0;
}
.ht-cplnes-update-lft .ht-video-cr-cmp h6 {
    margin-bottom: 5px;
}
.ht-cplnes-update-lft .ht-video-cr-cmp {
    padding: 15px 0 15px 75px;
    position: relative;
    margin-top: 0;
}
.ht-cplnes-update-rgt{
	float: right;
}
.ht-cplnes-update-rgt a{
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	padding-top: 15px;
	padding-right: 20px;
}
.ht-cplnes-update-rgt a:hover{
	color:#d80100; 
}
.ht-cplnes-dwn{
	padding-bottom: 15px;
}
.ht-cplnes-dwn ul li{
	float: left;
	padding: 0 20px;
}
.ht-cplnes-tbbs-menu strong{
	display: inline-block;
	vertical-align: baseline;
	float: left;
}
.ht-cplnes-tbbs-menu span {
    display: inline-block;
    vertical-align: baseline;
    float: right;
    padding-right: 30px;
    padding-top: 8px;
}
.ht-cplnes-tbbs-menu ul{
	float: right;
}
.ht-cplnes-tbbs-menu ul li {
    float: left;
    text-align: center;
    padding: 10px 15px;
    background: #00732e;
    border-right: 1px solid#fff;
}
.ht-cplnes-tbbs-menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    color: #fff;
}
.ht-cplnes-tbbs-menu ul li:hover,
.ht-cplnes-tbbs-menu ul li.active {
    background: #d80100;
}
.ht-cplnes-tbbs{
	padding-top: 20px;
}
.ht-cplnes-tbls-wrp table{
	width: 100%;
	border-bottom: 2px solid#ddd;
}
.ht-cplnes-tbls-dsc{
	text-align: left;
}
.ht-cplnes-tbls-dsc h5{
	margin-bottom: 10px;
	color: #00732e;
}
.ht-cplnes-tbls-dsc p{
	margin-bottom: 10px;
}
.ht-cplnes-tbls-dsc img {
    max-width: 150px;
    width: 100%;
    height: 150px;
    display: table;
    margin: 0 auto;
    border: 5px solid#ddd;
}
.ht-cplnes-tbls-wrp table tbody tr td{
	text-align: left;
}
.ht-cplnes-tbls-dsc span{
	display: block;
}
.ht-cplnes-tbbs{
	display: none;
}
.ht-cplnes-tbbs-lft{
	float: left;
	width: 50%;
	padding-right: 15px;
}
.ht-cplnes-tbbs-rgt{
	float: right;
	width: 50%;
	padding-left: 15px;
}
.ht-cplnes-tbls-dsc h5{
	display: block;
}


@media(max-width: 1199px){

}
@media(max-width: 991px){
	
}
@media(max-width: 767px){
	.ht-personal-dtls-sec-wrp{
		position: relative;
		overflow: hidden;
	}
	.ht-cplnes-tbls-wrp,
	.ht-cplnes-tbls-dsc{
		overflow-x: scroll;
    	overflow-y: hidden;
    	white-space: nowrap;
	}
	.ht-cplnes-update-lft {
	    float: none;
	}
	.ht-cplnes-update-rgt {
	    float: none;
	    padding-bottom: 10px;
	    padding-left: 15px;
	}
	.ht-cplnes-tbls-rs table tbody tr td{
		width: 100% !important;
		display: block;
	}
}
@media(max-width: 575px){
	
}
@media(max-width: 479px){
	
}
