/*
-------------------
my-tning-tabs-menu
-------------------
*/

.my-tning-tabs-menu ul li {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 10px 15px;
    background: #00732e;
    border-right: 1px solid#fff;
}
.my-tning-tabs-menu ul li a{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #fff;
}
.my-tning-tabs-menu ul li:hover,
.my-tning-tabs-menu ul li.active {
    background: #d80100;
}
.my-tning-tabs-innr{
	padding: 20px 20px;
}
.my-tning-tabs{
	display: none;
}
.my-tning-tabs.active{
	display: block;
}
.my-tning-tabs-dsc span{
	width: 50px;
	height: 50px;
	background: #ddd;
	display: table;
	margin: 0 auto;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 20px;
}
.my-tning-tabs-dsc span i{
	line-height: 20px;
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	line-height: 45px;
}
.my-tning-tabs-dsc p{
	text-align: center;
}
.my-tning-tabs-dsc{
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid#ddd;
}
.my-tning-tabs-grid-lft{
	width: 50%;
	float: left;
	padding-right: 10px;
}
.my-tning-tabs-grid-dsc{
	padding: 20px 10px;
	background: #ddd;
	border:1px solid#eee;
}
.my-tning-tabs-grid-dsc h5 > a{
	color: #00742e;
}
.my-tning-tabs-grid-dsc h5 > a:hover{
	text-decoration: underline;
}
.my-tning-tabs-grid-dsc strong{
	display: block;
	padding-bottom: 10px;
}
.my-tning-tabs-box{
	background: #ddd;
	padding: 10px 20px;
}
.my-tning-tabs-box a,
.my-tning-tabs-grid-dsc > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	border:2px solid#00732e;
	padding: 10px 20px;
}
.my-tning-tabs-box a:hover,
.my-tning-tabs-grid-dsc a:hover{
	background: transparent;
	color: #d80100;
	border-color: #d80100;
}
.my-tning-tabs-grid-rgt{
	width: 50%;
	float: right;
	padding-left: 10px;
}
.my-tning-tabs-grid{
	padding-bottom: 20px;
}
.my-tning-tabs-box a{
	float: right;
}
.my-tning-tabs-box h6{
	float: left;
	margin-bottom: 0;
	text-transform: capitalize;
}
.my-tning-tabs-box{
	margin-bottom: 20px;
}
/*
------------------
my-em-ct-tabs-innr
------------------
*/
.my-em-ct-tabs-innr{
	padding: 30px 20px;
}
.my-em-ct-tabs-dsc{
	border-bottom: 1px solid#ddd;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.my-em-ct-tabs-dsc h5,
.my-em-ct-tabs-innr h4{
	margin-bottom: 20px;
	text-transform: capitalize;
}
.my-em-ct-tabs-dsc h5{
	margin-bottom: 15px;
}
.my-em-ct-tabs-dsc{
	padding-left: 160px;
	position: relative;
}
.my-em-ct-tabs-dsc span{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	left: 0;
	top: 0;
}
.my-em-ct-tabs-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background:#00732e;
	padding: 10px 20px;
	border:2px solid#00732e;
}
.my-em-ct-tabs-dsc a:hover{
	background: transparent;
	border-color: #d80100;
	color: #d80100;
}
.my-em-ct-tabs-dsc ul{
	padding-bottom: 10px;
}
.my-tning-tabs-dsc h5{
	text-transform: capitalize;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	.my-tning-tabs-menu ul li {
	    padding: 10px 10px;
	}
	.my-tning-tabs-menu ul li a {
	    font-size: 14px;
	}
	.my-em-ct-tabs-dsc {
	    padding-left: 135px;
	}
	.my-em-ct-tabs-dsc span {
	    width: 120px; 
	}
}

@media(max-width: 575px){
	.my-tning-tabs-menu ul li {
	    padding: 10px 10px;
	    width: 50%;
	    margin-bottom: 10px;
	}
	.my-em-ct-tabs-innr {
	    padding: 20px 10px;
	}
	

}

@media(max-width: 479px){
	.my-em-ct-tabs-dsc {
	    padding-left: 0;
	}
	.my-em-ct-tabs-dsc span {
	    width: 120px;
	    position: static;
	    padding-bottom: 10px;
	    display: table;
	    margin: 0 auto;
	}
	.my-tning-tabs-menu ul li {
	    width: 100%;
	    margin-bottom: 10px;
	}

}

@media(max-width: 359px){

}