/*
----------------------
new-av-banner-sec-wrp
----------------------
*/
.new-av-banner-sec-wrp{
	height: 250px !important;
}
.new-tn-grid-sec-wrp{
	padding: 50px 0;
}
.new-tn-grid-head h3{
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 30px;
}
.new-tn-grid-cntlr ul{
	margin: 0 -10px;
}
.new-tn-grid-cntlr ul li{
	float: left;
	width: 25%;
	padding: 0 10px 20px;
}
.new-tn-grid-innr {
    border: 1px solid#ddd;
    /*border-radius: 8px 8px 0 0;*/
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
/*.new-tn-grid-innr:hover{
	border-color:#d80100; 
}*/
.new-tn-grid-img-cntlr{
	position: relative;
	overflow: hidden;
}
.new-tn-grid-img{
	height: 200px !important;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.new-tn-grid-dsc{
	padding: 20px 20px;
	background: #fff;
}
.new-tn-grid-dsc h5{
	margin-bottom: 15px;
	text-transform: capitalize;
	line-height: 1.2;
}
.new-tn-grid-dsc h5 a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
}
.new-tn-grid-dsc h5 a:hover{
	color: #d80100;
}
.new-tn-grid-dsc span{
	display: inline-block;
	vertical-align: baseline;
	color: #d80100;
}
.new-tn-grid-img-cntlr a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 15px;
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.new-tn-grid-img-cntlr a strong{
	display: inline-block;
	vertical-align: baseline;
}
.new-tn-grid-img-cntlr a:hover{
	background: #d80100;
}

/*
--------------------------
new-trainer-slider-sec-wrp
--------------------------
*/
.new-trainer-slider-sec-wrp{
	padding: 50px 0;
	background: #243444;
}
.new-trainer-slider-cntlr{
	position: relative;
}
.NewTrainerSlide-item{
	padding: 0 20px;
}
.NewTrainerSlide-item-img img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
}
.new-trainer-slider-wrp .new-tn-grid-head h3{
	color: #fff;
}
.NewTrainerSlide-item-dsc{
	padding: 0 10px;
	text-align: center;
	color: #fff;
}
.NewTrainerSlide-item-dsc h5{
	text-transform: capitalize;
	margin-bottom: 15px;
	margin-top: 20px;
	color: #fff;
}
/*
--------------------
--------------------
*/
.dg-traning-sec-wrp{
	padding: 50px 0;
	background: #fff;
}
.hm-hot-jb-company-head h3{
	text-transform: capitalize;
	margin-bottom: 30px;
}
.dg-traning-wrp .traning-cs-service{
    text-align: center;
}
.dg-traning-wrp .traning-cs-service > span{
	text-align: center;
}
.dg-traning-wrp .traning-cs-service-wrp ul li {
    width: 33.3333%;
    float: left;
    padding: 0 10px 20px;
}
.NewTrainerSlide-item-dsc p{
	margin-bottom: 0;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ht-larn-footer-tp-sec-wrp .header-search .bootstrap-select button {
	    padding: 24px 10px 20px !important;
	    font-size: 14px !important;
	}
	.ht-larn-footer-tp-sec-wrp .header-search .bootstrap-select{
		width: 160px !important;
	}
}

@media(max-width: 991px){
	.new-tn-grid-cntlr ul li {
	    width: 33.3333%;
	    padding: 0 10px 20px;
	}
	.get-em-alt-wrp {
	    padding-left: 0;
	    padding-top: 20px;
	}
	
}

@media(max-width: 767px){
    .new-tn-grid-cntlr ul li {
	    width: 50%;
	    padding: 0 10px 20px;
	}
	.new-tn-grid-sec-wrp {
	    padding: 35px 0;
	}
	.new-av-banner-sec-wrp {
	    height: 200px !important;
	}	
	.new-trainer-slider-sec-wrp {
	    padding: 35px 0;
	}
	.dg-traning-wrp .traning-cs-service-wrp ul li {
	    width: 50%;
	    padding: 0 5px 20px;
	}
	.hm-hot-jb-company-head h3 {
	    margin-bottom: 20px;
	}
	.dg-traning-sec-wrp {
	    padding: 35px 0;
	}
}

@media(max-width: 575px){
	.new-tn-grid-cntlr ul li {
	    width: 100%;
	    padding: 0 10px 20px;
	}
}

@media(max-width: 479px){
	.dg-traning-wrp .traning-cs-service-wrp ul li {
	    width: 100%;
	    padding: 0 5px 20px;
	}
	.ht-larn-footer-tp-sec-wrp {
	    padding: 50px 0 80px;
	}
	.ht-larn-footer-tp-sec-wrp .header-search .bootstrap-select button {
	    padding: 18px 10px 15px !important;
	    font-size: 14px !important;
	}
}

@media(max-width: 359px){

}