/*
--------------------
new-jobs-sec-wrp
--------------------
*/
.new-jobs-sec-wrp{
	padding: 50px 0;
}
.new-jobs-tab-lft{
	float: left;
	width: 80%;
	padding-right: 20px;
}
.new-jobs-tab-cntlr{
	background: #fff;
	padding: 20px 20px;
	border: 1px solid#ddd;
}
.new-jobs-tab-head{
	padding-bottom: 20px;
}
.new-jobs-tab-head h4{
	text-transform: capitalize;
	margin-bottom: 10px;
}

.new-jobs-tab-head strong span{
	color: #00732e;
}
.new-jobs-tab-menu{
	background: #ddd;
	padding: 15px 20px;
}
.JbTbsMenu ul li,
.jb-pst-tabs-menu ul li,
.new-jobs-tab-menu ul li{
	float: left;
	padding: 0 1px;
}
.JbTbsMenu ul li a, 
.jb-pst-tabs-menu ul li a,
.new-jobs-tab-menu ul li a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	padding: 10px 20px;
	background: #00732e;
}
.JbTbsMenu ul li.active a,
.jb-pst-tabs-menu ul li.active a,
.new-jobs-tab-menu ul li.active a,
.new-jobs-tab-menu ul li a:hover{
	background: #d80100;
	color: #fff;
}
.jb-pst-chk-tbs,
.new-jobs-tab{
	display: none;
}
.new-jobs-tab-list{
	background: #fff;
	padding: 20px 20px;
	border: 1px solid#ddd;
}
.new-jobs-tab-list ul{
	margin: 0 -10px;
}
.new-jobs-tab-list ul li{
	float: left;
	width:33.3333%;
	padding: 0 10px 10px;
}
.new-jobs-tab-list ul li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 1;
    color: #007330;
    border: 1px solid#ddd;
    padding: 10px 10px 10px 20px;
    position: relative;
    border-radius: 5px;
}
.new-jobs-tab-list ul li a:hover:after,
.new-jobs-tab-list ul li a:hover{
	color: #d80100;
}
.new-jobs-tab-list ul li a:after {
    content: "\f100";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #007330;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
}
.new-jobs-tab-rgt{
	width: 20%;
	float: right;
}
.new-jobs-add-img{
	padding: 20px 20px;
	background: #fff;
	border: 1px solid#ddd;
}
.new-jobs-add-img img{
	width: 100%;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.new-jobs-sec-wrp .new-jobs-tab-list ul li {
	    width: 50%;
	}
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	.JbTbsMenu ul li a,
	.jb-pst-tabs-menu ul li a,
	.new-jobs-tab-menu ul li a {
	    font-size: 15px;
	    padding: 10px 10px;
	}
}

@media(max-width: 639px){
	.new-jobs-sec-wrp .new-jobs-tab-list ul li {
	    width: 100%;
	}
	.new-jobs-tab-menu ul li{
		width: 50%;
		padding-bottom: 5px;
	}
}

@media(max-width: 575px){
}

@media(max-width: 479px){
	.new-jobs-tab-menu ul li{
		width: 100%;
	}
}

@media(max-width: 359px){

}
