/*
---------------------
 Common Pagination 
---------------------
*/
.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 20px!important;
	height: 20px!important;
	position: static;
	background: #00732e!important;
	border-radius: 100% 100%!important;
	margin: 0 6px;
	padding: 0!important;
}
.slick-slider .slick-dots li:hover,
.slick-slider .slick-dots li.slick-active{
	background: #d80100!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 20px;
	height: 20px;
}

/*page-bnr*/
.page-bnr-cntlr{
	position: relative;
}
.page-bnr-cntlr-inr{
	position: relative;
	overflow: hidden;
}
.page-banner{
	height: 250px;
}
.page-banner-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.page-banner-title-cntlr{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 50px 50px;
}
.banner-title{
	text-transform: capitalize;
	font-size: 35px;
	line-height: 1;
	color: #fff;
	margin-bottom: 0;
	text-align: center;
}
.bnr-breadcum{
	max-width: 660px;
	width: 100%;
	margin: auto;
	background: rgba(0, 0, 0, 0.25);
	padding: 18px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}
.bnr-breadcum > ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.bnr-breadcum > ul > li{
	padding: 0 20px;
	position: relative;
}
.bnr-breadcum > ul > li:after{
    content: "\f104";
    position: absolute;
    right: -4px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    font-size: 16px;
    line-height: 1;
    color: #fff;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
}
.bnr-breadcum > ul > li:last-child:after{
	content: none;
}
.bnr-breadcum > ul > li > a{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
}
.bnr-breadcum > ul > li > a:hover{
	color: #d80100;
}

/*
------------------
ht-brsw-cus-menu-wrp
------------------
*/
.ht-brsw-cus-menu-wrp{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background-color: #150958;
    overflow-x: hidden;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    width: 0;
    height: 100%;
    padding: 30px 0;
}
.ht-brsw-cus-menu-wrp.show-menu{
	width: 300px;
}
.ht-brsw-cus-menu ul li a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	padding: 20px 30px;
	position: relative;
}
.ht-brsw-cus-menu ul li a:hover{
	background: #d80100;
}
.ht-brsw-cus-menu ul li a.close-icon{
	background: #d80100;
}
.ht-brsw-cus-menu ul li a.close-icon i{
	text-align: right;
	display: inline-block;
	vertical-align: baseline;
	padding-left: 30px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}


/*
-----------------
Start sitemap
-----------------
*/
.sitemap{
  padding:50px 0 80px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.sitemap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitemap ul ul {
   margin-left: 30px;
  padding-top: 12px;
}

.sitemap ul li {
  padding: 10px 0;
}

.sitemap ul li a{
  display: inline-block;
  vertical-align: baseline;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.sitemap ul li a:hover{
  color: #d80100;
}
.sitemap ul li a:focus{
  text-decoration: underline;
}
.sitemap h2 {
  margin: 0;
  padding-bottom: 30px;
}