/*
---------------
 View Resume
---------------
*/
.em-view-resume-tp h5{
	text-transform: capitalize;
	margin-bottom: 0;
	padding: 15px 10px;
	background: #ddd;
}
.em-view-resume-tp h5 i{
	padding-right: 10px;
}
.em-view-resume-text strong{
	display: inline-block;
	vertical-align: baseline;
	padding: 20px 0;
	font-size: 16px;
	line-height: 1.2;
}
.em-view-resume-menu-wrp{
	padding: 15px 15px;
	border: 1px solid#ddd;
	margin-bottom: 20px;
}
.em-view-resume-menu{
	border: 1px solid#ddd;
	padding: 15px 10px;
}
.em-view-resume-menu ul li{
	float: left;
	padding: 0 10px;
}
.em-view-resume-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #00732e;
}
.em-view-resume-menu ul li a i{
	padding-right: 10px;
}
.em-view-resume-menu ul li a:hover{
	color: #d80100;
}
.em-view-resume-list{
	padding-top: 15px;
	padding-bottom: 10px;
}
.em-view-resume-list ul li{
	padding: 0 0 5px;
}
.em-view-form-fields{
	margin: 0 -5px 0;
}
.em-view-form-field{
	float: left;
	width: 25%;
	padding: 0 5px;
}
.em-view-form-field label{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 600;
	margin-bottom: 10px;
}
.em-view-form-field input[type="date"],
.em-view-form-field input[type="text"]{
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	border: 1px solid#ddd;
	padding: 10px 10px;
}
.em-view-form-field input[type="date"]:focus,
.em-view-form-field input[type="text"]:focus{
	border-color: #d80100;
}
.em-view-form-search button{
	max-width: 200px;
	width: 100%;
	height: 40px;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	cursor: pointer;
	margin-left: 5px;
	margin-bottom: 10px;
}
.em-view-form-search button:hover{
	background: #d80100;
}
.em-view-resume-table-wrp strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	color: #00732e;
	padding-bottom: 15px;
}
/*.em-view-resume-table table tbody tr:first-child td{
	border-top: 0;
}
.em-view-resume-table table tbody tr:last-child td{
	border-bottom: 1px solid#dee2e6;
}*/
.table td,
.table th {
    padding: 10px 10px;
    vertical-align: top;
    border: 1px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 0;
    background: #2C113E;
    color: #fff;
    font-weight: 500;
}
.em-view-resume-table tbody tr td > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.em-applied-table tbody tr td p{
	margin-bottom: 0;
}
.em-applied-table tbody tr td a{
	display: inline-block;
	vertical-align: baseline;
	color: #00732e;
}
.em-applied-table tbody tr td a:hover{
	text-decoration: underline;
	color: #d80100;
}
.em-view-resume-table tbody tr td a i{
	padding-right: 10px;
}
.em-view-resume-table tbody tr td a:hover{
	background: #d80100;
}
.em-view-resume-table-wrp ul{
	float: right;
}
.em-view-resume-table-wrp ul li{
	float: left;
	padding-left: 20px;
}

.ht-prls-dtls-select .ht-prls-dtls-frm-field.em-register-form-filds{
	width: 100%;
}
.sv-pagination-wrp ul li{
	float: left;
	padding: 0 5px;
}
.sv-pagination-wrp ul li a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    width: 30px;
    height: 30px;
    background: #00732e;
    border-radius: 50px;
}
.sv-pagination-wrp ul li a.active{
	background: #d80100;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){	
	.em-view-form-field {
	    width: 33.3333%;
	    margin-bottom: 15px;
	}
}

@media(max-width: 767px){
	.em-applied-table,
	.em-view-resume-table{
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.em-view-resume-table-wrp ul {
	    float: none !important;
	    padding-bottom: 15px !important;
	}
		
}

@media(max-width: 575px){
	.em-view-form-field {
	    width: 50%;
	    margin-bottom: 15px;
	}
	.em-view-resume-text strong{
		font-size: 14px;
	}
	.em-view-resume-menu ul li a{
		font-size: 14px;
	}
	

}

@media(max-width: 479px){
	.em-view-form-field {
	    width: 100%;
	    margin-bottom: 15px;
	}
}

@media(max-width: 359px){

}