/*
--------------------
--------------------
*/
.ht-dashboard-grd-lft{
	float: left;
	width: 50%;
	padding-right: 15px;
}
.ht-dashboard-grd-cntlr{
	border:1px solid#ddd;
	padding: 20px 20px;
}
/* PROGRESS CIRCLE COMPONENT */
#container6,
#container5 {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto 20px;
}
.progressbar-text{
	font-size: 18px;
	line-height: 1;
	font-weight: 600;
}
.ht-dashboard-bar-dsc ul li{
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
	padding: 5px 0;
}
.ht-dashboard-bar-dsc ul li span i{
	padding-right: 10px;
}
.ht-dashboard-bar-dsc ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color:#00732e;
	padding-left: 20px; 
	font-weight: 600;
}
.ht-dashboard-bar-dsc ul li a:hover{
	color: #d80100;
}
.ht-dashboard-grd-rgt{
	width: 50%;
	float: right;
	padding-left: 15px;
}

/*
---------------------
ht-dashboard-tabs-cntlr
---------------------
*/
.ht-dashboard-tabs-cntlr{
	padding: 20px 20px;
	border: 1px solid#ddd;
	margin-top: 30px;
}
.ht-dashboard-tabs-menu ul{
	margin: 0 -5px;
}
.ht-dashboard-tabs-menu ul li{
	float: left;
	padding: 0 5px;
}
.ht-dashboard-view-btn a,
.ht-dashboard-tabs-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 15px 20px;
}
.ht-dashboard-tabs-menu ul li.active a{
	background: #d70100;
}
.ht-dashboard-view-btn a{
	padding: 10px 20px;
	margin-right: 10px;
}
.ht-dashboard-view-btn a i,
.ht-dashboard-tabs-menu ul li a i{
	padding-right: 10px;
}
.ht-create-video-rs a:hover,
.ht-dashboard-view-btn a:hover,
.ht-dashboard-tabs-menu ul li a:hover{
	background:#d80100;
}
.skill-bar-rgt.ht-skill-br{
    margin-top: 15px;
}
.ht-dashboard-list ul li{
	float: left;
	width: 33.3333%;
	padding: 5px 10px 5px 0;

}
.ht-dashboard-list{
	padding-top: 20px;
}
.ht-dashboard-list ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
}
.ht-dashboard-list ul li a i{
	padding-right: 10px;
	color: #00732e;
}
.ht-dashboard-list ul li a:hover{
	color: #d80100;
	text-decoration: underline;
}
.ht-dashboard-tabs{
	display: none;
}
.ht-create-video-rs{
	padding: 30px 20px;
	text-align: center;
}
.ht-create-video-rs > i{
	font-size: 25px;
	line-height: 1;
	color: #01732e;
	padding-bottom: 20px;
	display: inline-block;
	vertical-align: baseline;
}
.ht-create-video-rs a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.ht-create-video-rs a i{
	padding-right: 10px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	.ht-dashboard-list ul li {
	    width: 50%;
	    padding: 5px 10px 5px 0;
	}

	
}

@media(max-width: 639px){
	.ht-dashboard-tabs-menu ul li {
	    padding: 0 5px 10px;
	    width: 50%;
	}
	.ht-dashboard-tabs-menu ul li a{
		display: block;
	}
	.ht-dashboard-grd-lft {
	    width: 100%;
	    padding-right: 0;
	    padding-bottom: 20px;
	}
	.ht-dashboard-grd-rgt {
	    width: 100%;
	    padding-left: 0;
	}
	.ht-live-int-wrp .ht-prls-dtls-frm-btn {
	    padding-top: 0 !important;
	}
}

@media(max-width: 575px){
	
	

}

@media(max-width: 479px){
	.ht-dashboard-tabs-menu ul li {
	    padding: 0 5px 10px;
	    width: 100%;
	}
	.ht-dashboard-list ul li {
	    width: 100%;
	    padding: 5px 10px 5px 0;
	}
	.ht-dashboard-view-btn a,
	.ht-dashboard-tabs-menu ul li a{
		font-size: 14px;
	}
}

@media(max-width: 359px){

}