/*
-----------------------
em-cp-service-sec-wrp
-----------------------
*/
.em-cp-service-sec-wrp{
	padding: 50px 0;
}
.em-cp-service-tp-menu ul{
	padding-bottom: 30px;
	border-bottom: 2px solid#ddd;
}
.em-cp-service-tp-menu ul li{
	float: left;
	width: 50%;
}
.em-cp-service-tbs-btm-menu ul li a,
.em-cp-listing-menu ul li a,
.em-cp-service-tbs-menu ul li a,
.em-cp-service-tp-menu ul li a{
	display: block;
	text-decoration: none;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 15px 30px;
	text-align: center;
	border-right: 1px solid#fff;
	text-transform: uppercase;
}
.em-cp-listing-menu ul li:last-child a,
.em-cp-service-tbs-menu ul li:last-child a,
.em-cp-service-tp-menu ul li:last-child a{
	border-right: 0;
}
.em-cp-service-tbs-btm-menu ul li.active a,
.em-cp-listing-menu ul li.active a,
.em-cp-service-tbs-menu ul li.active a,
.em-cp-service-tbs-btm-menu ul li a:hover,
.em-cp-listing-menu ul li a:hover,
.em-cp-service-tbs-menu ul li a:hover,
.em-cp-service-tp-menu ul li a:hover{
	background: #d80100;
}
.em-cp-service-tbs-cntlr{
	padding-bottom: 20px;
}
.em-cp-service-tbs-menu ul{
	padding-top: 30px;
}
.em-cp-service-tbs-menu ul li{
	float: left;
	width: 20%;
}

.em-cp-service-tbs-menu ul li a{
	font-size: 16px;
	line-height: 1;
}
.em-cp-service-tbs-menu ul li a:hover{
	text-decoration: underline;
}
.em-cp-service-tbs-innr{
	background: #fff;
	padding: 30px 30px;
	margin-top: 30px;
}
.em-cp-listing-menu ul{
	display: table;
	margin: 0 auto;
}
.em-cp-service-tbs-btm-menu ul{
	float: right;
}
.em-cp-service-tbs-btm-menu ul li,
.em-cp-listing-menu ul li{
	float: left;
}
.em-cp-service-tbs-btm-menu ul li a,
.em-cp-listing-menu ul li a{
	background: #130179;
	font-size: 16px;
}
.em-cp-service-tbs-btm-menu ul{
	padding-bottom: 20px;
}
.em-cp-service-tbs-btm{
	padding-top: 30px;
}
.em-cp-service-tbs-btm-lft{
	width: 50%;
	float: left;
	background: #E3F2FD;
	padding: 30px 30px;
}
.qty-price {
    max-width: 150px;
    width: 100%;
    padding: 0 45px;
    position: relative;
    height: 40px;
    float: left;
}
.qty-price span.plus,
.qty-price span.minus {
    width: 40px !important;
    height: 40px !important;
    padding: 12px 10px 10px 10px;
    font-size: 14px !important;
    line-height: 16px !important;
    text-align: center !important;
    color: #fff !important;
    background: #00732e !important;
    cursor: pointer !important;
}
.qty-price input[type="number"] {
    width: 100% !important;
    height: 40px;
    border: 0 !important;
    background: #00732e;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    -ms-appearance: textfield;
    appearance: none !important;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}
.qty-price span.minus {
    position: absolute;
    left: 0;
    top: 0;
}
.qty-price span.plus {
    position: absolute;
    right: 0;
    top: 0;
}
.em-cp-service-tbs-btm-rgt{
	width: 50%;
	float: right;
	padding-left: 20px;
}
.em-cp-service-tbs-btm-rgt h5{
	text-transform: capitalize;
}
.quantity-price-tbs{
	display: none;
}
.em-cp-service-tbs-btm{
	display: none;
}
/*.em-cp-service-tbs{
	display: none;
}*/
.ht-payment-wrp h5{
	text-transform: capitalize;
}
.ht-payment-sec-wrp{
	padding: 50px 0;
	background: #fff;
}
.ht-payment-wrp ul{
	margin: 0 -5px;
}
.ht-payment-wrp ul li{
	float: left;
	padding: 0 5px;
}
.ht-payment-img img{
	border:1px solid#ddd;
	width: 100%;
	max-width: 70px;
	height: 70px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.em-cp-service-sec-wrp .em-cp-service-tbs-menu ul{
		padding-top: 30px;
	}	
	.em-cp-service-sec-wrp .em-cp-service-tbs-menu ul li {
	    width: auto;
	}
	.ht-payment-wrp ul li {
	    padding: 0 5px 5px;
	}

}

@media(max-width: 991px){
	.em-cp-listing-menu ul li a{
		padding: 10px 20px;
		font-size: 14px;
	}
	.em-cp-service-tbs-btm-lft {
	    padding: 20px 10px;
	}
	.em-cp-service-tbs-btm-menu ul li a{
		padding: 10px 10px;
	}
		
}

@media(max-width: 767px){	
	.em-cp-service-sec-wrp {
	    padding: 30px 0;
	}
	.em-cp-service-tbs-btm-rgt {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 20px;
	}
	.em-cp-service-tbs-btm-lft {
	    padding: 20px 10px;
	    width: 100%;
	}
	.em-cp-service-sec-wrp .em-cp-service-tbs-menu ul li {
	    width: 33.3333%;
	    padding-bottom: 5px;
	}
	.em-cp-listing-menu ul li{
		padding-bottom: 5px;
	}
	.em-cp-listing-menu ul li a {
	    padding: 10px 20px;
	    font-size: 12px;
	}
	.em-cp-service-tp-menu ul{
		padding-bottom: 20px;
	}
	.em-cp-service-tp-menu ul li a{
		padding: 12px 20px;
		font-size: 14px;
	}
	.em-cp-service-tbs-innr {
	    padding: 20px 20px;
	    margin-top: 20px;
	}
	.em-cp-service-sec-wrp {
	    padding: 30px 0;
	}
	.ht-payment-sec-wrp {
	    padding: 30px 0;
	}
	.em-cp-service-tbs-btm {
	    padding-top: 20px;
	}
}

@media(max-width: 575px){
	
	.em-cp-listing-menu ul li a {
	    padding: 10px 15px;
	}
	.em-cp-service-sec-wrp .em-cp-service-tbs-menu ul li a {
	    padding: 10px 2px;
	    font-size: 10px;
	}
	.em-cp-service-sec-wrp .em-cp-service-tbs-menu ul {
	    padding-top: 20px;
	    display: block;
	}
	

}

@media(max-width: 479px){
	.em-cp-service-tp-menu ul li a {
	    padding: 12px 10px;
	    font-size: 11px;
	}
	.em-cp-listing-menu ul li a {
	    padding: 10px 10px;
	}
	.quantity-price-item,
	.quantity-price-item table{
		overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: normal;
	}
	.qty-price span.plus,
	.qty-price span.minus{
		width: 30px !important;
		height: 30px !important;
		padding: 8px 8px 8px 8px;
    	font-size: 12px !important;
	}
	.qty-price {
	    max-width: 115px;
	    width: 100%;
	    padding: 0 32px;
	    height: 31px;
	}
	.qty-price input[type="number"]{
		font-size: 14px;
		height: 30px;
	}
	.ht-payment-wrp ul li {
	    width: 25%;
	}
	.ht-payment-img img {
	    width: 100%;
	    max-width: 100%;
	    height: 60px;
	}
	.em-cp-listing-menu ul li {
	    width: 50%;
	}
	.em-cp-service-tbs-innr {
	    padding: 20px 10px;
	}
	.sv-pagination-wrp ul li {
	    padding: 0 5px 2px !important;
	}
	.em-cp-service-sec-wrp .em-cp-service-tbs-menu ul li {
	    width: 50%;
	}
	.em-cp-service-sec-wrp .em-cp-service-tbs-menu ul li a {
	    padding: 10px 5px;
	    font-size: 10px;
	}
}

@media(max-width: 359px){

}

