/*
---------------------------
ht-jb-service-emply-sec-wrp
----------------------------
*/
.ht-jb-service-emply-sec-wrp{
	padding: 60px 0;
}
.ht-jb-service-emply-lft{
	width: 50%;
	float: left;
	padding-right: 30px;
	position: relative;
}
.ht-jb-live-stats{
	padding-bottom: 30px;
}
.ht-jb-live-stats label{
	display: block;
	font-size: 18px;
	line-height: 1;
	color:#334e6f;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: uppercase; 
}
.ht-jb-live-stats .bootstrap-select>.dropdown-toggle.bs-placeholder,
.ht-jb-live-stats .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.ht-jb-live-stats .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .ht-jb-live-stats .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #334e6f;
    border: 1px solid#ddd;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 1.3;
}
.ht-jb-live-stats .btn-light:not(:disabled):not(.disabled).active,
.ht-jb-live-stats .btn-light:not(:disabled):not(.disabled):active,
.ht-jb-live-stats .show>.btn-light.dropdown-toggle {
    color: #334e6f !important;
    background-color: transparent !important;
    border-color: #d3d9df !important;
}
.ht-jb-live-stats .bootstrap-select .bs-ok-default:after{
	content: none;
}
.ht-jb-service-emply-lft .hm-work-wrp {
    padding-top: 0;
}
.ht-jb-service-emply-lft .hm-work-wrp ul li {
    padding-left: 10px;
    padding-right: 10px;
}
.ht-jb-service-emply-lft .hm-work-dsc strong{
    font-size: 16px;
    color: #13007e;
}
.ht-jb-service-emply-lft .hm-work-dsc span{
	font-size: 12px;
	color: #334e6f;
}
.ht-jb-service-emply-lft .hm-work-icon{
    width: 50px;
    height: 50px;
    border: 2px solid#13017b;
}
.ht-jb-service-emply-lft .hm-work-icon > i{
    font-size: 22px;
    line-height: 46px;
}
.ht-jb-service-emply-lft .hm-work-icon span{
    bottom: -5px;
    right: -5px;
    width: 22px;
    height: 22px;
    border-radius: 20px;
}
.ht-jb-service-emply-lft .hm-work-icon span i {
    display: block;
    font-size: 12px;
    line-height: 24px;
}
.ht-jb-service-emply-lft .hm-work-dsc{
	padding-left: 60px;
}
.ht-jb-service-slider-head-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 20px;
	text-transform: capitalize;
	margin-top: 20px;
}
.ht-jb-slide-item-dsc{
	position: relative;
	padding-left: 50px;
}
.ht-jb-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	width: 40px;
	height: 40px;
	background:#d80100;
	position: absolute;
	left: 0;
	top: 0;
}
.ht-jb-slide-item-dsc span i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}
.ht-jb-slide-item-dsc p{
	margin-bottom: 20px;
}
.ht-jb-slide-item-dsc p strong{
	display: inline-block;
	vertical-align: baseline;
}
.ht-jb-slide-item-dsc p a{
	text-decoration: underline;
	color: #13007d;
	font-weight: 600;
}
.ht-jb-slide-item-dsc p a:hover{
	color: #d80100;
}
.ht-jb-service-emply-rgt{
	width: 50%;
	float: right;
	padding-left: 30px;
}
.ht-jb-corporate-sign-filds{
	margin-bottom: 20px;
}
.ht-jb-corporate-sign-filds label{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #334e6f;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.ht-jb-corporate-sign-filds label span{
	color: #d80100;
}
.ht-jb-corporate-sign-filds input[type="text"]{
	width: 100%;
	height: 40px;
	border:1px solid#ddd;
	background: transparent;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 1;
	color: #334e6f;
}
.ht-jb-corporate-sign-filds input[type="text"]:focus{
	border-color: #d80100;
}

/*
-------------------
CheckBox Css
-------------------
*/
.ht-jb-corporate-sign-checkbox {
    padding-bottom: 20px;
}
.ht-jb-corporate-sign-checkbox ul li {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
    position: relative;
}
.ht-jb-corporate-sign-checkbox ul li label {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    color: #000;
    margin: 0;
    text-transform: inherit;
    padding-right: 0;
    cursor: pointer;
    padding: 5px 0 5px 25px;
}
/* Hide the browser's default checkbox */
.ht-jb-corporate-sign-checkbox ul li label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.ht-jb-corporate-sign-checkbox ul li label .checkmark {
    position: absolute;
    width:20px;
    height:20px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    left: 0;
    top: 4px;
}
/* Create the checkmark/indicator (hidden when not checked) */
.ht-jb-corporate-sign-checkbox ul li label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.ht-jb-corporate-sign-checkbox ul li label input:checked ~ .checkmark:after {
  display: block;
}
.ht-jb-corporate-sign-checkbox ul li label input:checked ~ .checkmark{
	background: #B91C1C;
	border: 0;
}
/* Style the checkmark/indicator */
.ht-jb-corporate-sign-checkbox ul li label .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    content: "";
}
.ht-jb-corporate-sign-btn button{
	width: 100%;
	height: 40px;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	background: #130082;
	cursor: pointer;
	border:2px solid#130082;
}
.ht-jb-corporate-sign-btn button:hover{
	background: transparent;
	color: #130082;
}
.ht-jb-forgot a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #13007d;
	font-weight: 500;
}
.ht-jb-forgot{
	padding: 20px 0;
}
.ht-jb-create-account a:hover,
.ht-jb-forgot a:hover{
	color: #d80100;
}
.ht-jb-create-account a:hover{
	text-decoration: underline;
}
.ht-jb-create-account a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 18px;
	line-height: 1;
	color: #13007e;
	font-weight: 700;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ht-jb-service-slider-head-title{
		font-size: 23px;
	}
	

}

@media(max-width: 991px){
	.ht-jb-service-slider-head-title{
		font-size: 22px;
	}
	.ht-jb-service-emply-rgt {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 20px;
	}
	.ht-jb-service-emply-lft {
	    width: 100%;
	    padding-right: 0;
	    padding-bottom: 20px;
	}
	
	
}

@media(max-width: 767px){
	.ht-jb-service-slider-head-title{
		font-size: 21px;
	}
	.ht-jb-service-emply-sec-wrp {
	    padding: 35px 0;
	}

	
}

@media(max-width: 575px){
	.ht-jb-service-slider-head-title{
		font-size: 20px;
	}
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}