/*
-----------------
-----------------
*/
.ht-sms-job-akert-wrp strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 20px;
}
.ht-available-pkg-list{
	padding-top: 20px;
}
.ht-available-pkg-list h5{
	text-transform: capitalize;
	margin-bottom: 20px;
}
.ht-available-pkg-list h5 i{
	padding-right: 10px;
}
.ht-available-pkg-list > ul{
	margin: 0 -10px;
}
.ht-available-pkg-list > ul > li{
	width: 33.3333%;
	float: left;
	padding: 0 10px;
}
.ht-avbl-pkg-list-innr{
	border: 1px solid#ddd;
}
.ht-avbl-pkg-list-dsc{
	text-align: center;
	padding: 20px 20px;
	background: #00732e;
	height: 150px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	position: relative;
}
.ht-avbl-pkg-ps{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.ht-avbl-pkg-list-dsc strong{
	display:block;
	font-size: 24px;
	line-height: 1;
	color: #fff;
	padding-bottom: 10px;
}
.ht-avbl-pkg-list-dsc h5{
	font-size: 20px;
	line-height: 1;
	color: #fff;
	margin-bottom: 0;
}
.ht-avbl-pkg-list{
	padding: 20px 15px;
}
.ht-avbl-pkg-list-btn{
	display: table;
	margin: 0 auto;
	padding-top: 10px;
}
.ht-avbl-pkg-list a{
	text-decoration: none;
}
.ht-avbl-pkg-ps-btn{
	font-size: 14px;
	text-transform: capitalize;
	background: #ddd;
	height: 30px;
	margin-top: 10px;
	width: 160px;
}
.ht-avbl-pkg-ps-btn:hover{
	color: #d80100;
	border-color: #d80100;
}

/*
 --------------
  Video Resume
 --------------
*/
.ht-video-resume-wrp p a{
	color: #00732e;
}
.ht-video-resume-wrp p a:hover{
	text-decoration: underline;
	color: #d80100;
}
.ht-video-resume-step{
	border: 1px solid#ddd;
	padding:20px 20px;
}
.ht-video-resume-step strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 20px;
}
.ht-video-resume-tp-dsc{
	background: #f4d3e6;
	padding: 20px 20px;
	margin-bottom: 20px;
	padding-right: 160px;
	position: relative;
}
.ht-video-resume-tp-dsc p{
	margin-bottom: 0;
}
.ht-video-resume-tp-dsc span {
    display: inline-block;
    vertical-align: baseline;
    max-width: 120px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.ht-video-resume-btn{
	padding: 30px 20px;
	background: #f4d3e6;
	text-align: center;
	margin-top: 20px;
}
.ht-video-resume-btn a{
	display: table;
	margin: 0 auto;
	padding: 10px 10px;
	font-size: 14px;
	text-transform: capitalize;
}
.ht-video-resume-btn strong{
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: baseline;
}
.ht-tip-list-innr{
	padding: 20px 10px 20px;
	border: 1px solid#ddd;
	margin-top: 20px;
}
.ht-tip-list-dsc {
    float: right;
    width: 70%;
    padding-left: 15px;
}
.ht-tip-list-dsc h5{
	margin-bottom: 10px;
	text-transform: capitalize;
}
.ht-tip-list-img {
    width: 30%;
    float: left;
    padding-right: 20px;
    border-right: 2px solid#ddd;
}

/*
-----------------
 Employer Following
-----------------
*/
.ht-em-fl-yet{
	background: #C6E0BD;
	padding: 10px 10px;
}
.ht-em-fl-yet span{
	display: inline-block;
	vertical-align: baseline;
}
.ht-em-fl-yet span i{
	padding-right: 10px;
}
.ht-em-fl-yet > a{
	float: right;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.ht-em-fl-list strong{
	display: inline-block;
	vertical-align: baseline;
	padding-top: 15px;
	padding-bottom: 15px;
}
.ht-em-fl-like{
	background: #F4D3E6;
	padding: 30px 20px;
	margin-top: 20px;
}
.ht-em-fl-like a i{
	padding-right: 10px;
}

/*
------------------
 Video Create
------------------
*/
.ht-video-cr-tp strong{
	display: block;
	padding-bottom: 20px;
}
.ht-video-cr-tp a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-weight: 600;
	color: #00732e;
}
.ht-video-cr-tp a i{
	padding-right: 10px;
}
.ht-video-cr-tp a:hover{
	color: #d80100;
}
.ht-video-cr-cmp {
    background: #F4D3E6;
    padding: 30px 20px 30px 75px;
    position: relative;
    margin-top: 20px;
}
.ht-video-cr-cmp span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 16px;
    line-height: 46px;
    color: #00732e;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid#F23276;
    text-align: center;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.ht-video-cr-cmp h6{
	margin-bottom: 0;
	text-transform: capitalize;
}
.ht-video-record-wrp{
	padding-top: 20px;
}
.ht-video-record-lft{
	float: left;
	width: 50%;
	padding-right: 15px;
}
.ht-video-record{
	background: #C6E0BD;
	padding: 20px 20px;
	height: 300px;
	position: relative;
}
.ht-video-record-dsc{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.ht-video-record-dsc i{
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
.ht-video-record-dsc strong{
	display: block;
	color: #fff;
	padding-bottom: 10px;
	text-align: center;
}
.ht-video-record-dsc span{
	display: block;
	text-align: center;
	padding-bottom: 10px;
	text-decoration: underline;
}
.ht-video-record-dsc a{
	display: table;
	margin: 0 auto;
	text-align: center;
	padding: 10px 25px;
}
.ht-video-record-dsc a i{
	float: left;
	padding-bottom: 0;
}
.ht-video-record-rgt{
	width: 50%;
	float: right;
	padding-left: 15px;
}
.ht-video-question-wrp{
	background: #C6E0BD;
	height: 300px;
	position: relative;
}
.ht-video-question-innr{
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.ht-video-question {
    background: #F4D3E6;
    padding: 20px;
    border-bottom: 1px solid#fff;
}
.ht-video-question.active{
	background: #C6E0BD;
}
.ht-video-question-tp{
	padding-left: 30px;
	position: relative;
}
.ht-video-question-tp > i{
    font-size: 20px;
    line-height: 1;
    color: #04712e;
    position: absolute;
    left: 0;
    top: 5px;
}
.ht-video-question-tp strong{
	display: block;
	color: #334e6f;
	padding-bottom: 5px;
}
.ht-video-question-tp h6{
	text-transform: capitalize;
	margin-bottom: 10px;
}
.ht-video-question-btm span{
	float: left;
	color: #334e6f;
	padding-right: 10px;
}
.fv-search-btn .ht-common-btn{
	width: 300px;
}
/*
----------------
 SMS Setting
----------------
*/
.sm-setting-wrp{
	padding-top: 30px;
}
.sm-setting-lft ul li {
    float: left;
    width: 50%;
    padding: 15px 20px;
    text-align: center;
}
.sm-setting-lft ul li span{
	display: inline-block;
	vertical-align: baseline;
	width: 80px;
	height: 80px;
	border:5px solid#d80100;
	font-size: 20px;
	line-height: 70px;
	text-align: center;
	border-radius: 50%;
	color: #d80100;
	margin-bottom: 10px;
}
.sm-setting-rgt{
	border:1px solid#ddd;
	padding: 10px;
	margin-bottom: 10px;
}
.sm-setting-item-lft{
	float: left;
	width: 50%;
}
.sm-setting-item-rgt{
	float: right;
	width: 50%;
}
.sm-setting-item-rgt .ht-prls-dtls-frm-field{
	width: 100%;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	
	
	
}

@media(max-width: 767px){
	.ht-video-resume-tp-dsc {
        padding: 20px 20px;
        margin-bottom: 20px;
        padding-right: 20px;
    }
    .ht-video-resume-tp-dsc span {
	    position: static;
	    transform: inherit;
	    padding-bottom: 15px;
	}
	.ht-tip-list-img {
	    width: 100%;
	    padding-right: 0;
	    border-right: 0;
	}
	.ht-tip-list-dsc {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 20px;
	}
	
}

@media(max-width: 575px){
	.sm-setting-item-lft {
	    width: 100%;
	    padding-bottom: 10px;
	}
	.sm-setting-item-rgt {
	    width: 100%;
	}
	.em-sms-alert-cntlr {
	    padding: 20px 10px;
	}
	.ht-video-record-lft {
	    padding-right: 0;
	    width: 100%;
	    padding-bottom: 20px;
	}
	.ht-video-record-rgt {
	    padding-left: 0;
	    width: 100%;
	}
	.ht-video-record {
	    height: 240px;
	}
	

}

@media(max-width: 479px){
	.ht-em-fl-yet span {
	    font-size: 12px;
	}
	.fv-search-btn .ht-common-btn {
	    width: 250px;
	    font-size: 14px;
	}
	.ht-video-record-dsc strong {
	    padding: 0 10px;
	}
	.ht-video-record {
	    padding: 20px 15px;
	    height: 200px;
	}

}

@media(max-width: 359px){
	.fv-search-btn .ht-common-btn {
	    width: 220px;
	    font-size: 13px;
	}
	.ht-em-fl-yet span {
	    font-size: 10px;
	}
}
