/*
---------------------
 Trainer Registation
---------------------
*/
.cust-trning-form-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 20px;
}
.cust-trning-list-wrp{
	padding-bottom: 20px;
}
.cust-trning-list-wrp ul li{
	padding-bottom: 15px;
}
.cust-trning-list{
	position: relative;
	padding-left: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.cust-trning-list span{
	display: inline-block;
	vertical-align: baseline;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #00732e;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
}
.cust-trning-list span i{
	display: inline-block;
	vertical-align: baseline;
	font-size: 22px;
	line-height: 50px;
	color: #fff;
}
.cust-trning-list p{
	margin-bottom: 0;
}
.cust-trning-info h5{
	text-transform: capitalize;
	text-align: left;
}
.cust-trning-info a{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #00732e;
	text-decoration: none;
	padding-bottom: 10px;
}
.cust-trning-info a i{
	padding-right: 10px;
}
.cust-trning-info a:hover{
	color: #d80100;
}
/*
-------------------
Know More And Order
-------------------
*/
.rcm-sys-dsc-img-sec-wrp{
	background: linear-gradient(90deg,#996ed5 0,#49b2db);
	padding: 50px 0;
}
.rcm-sys-dsc-wrp{
	padding-right: 50px;
}
.rcm-sys-dsc-wrp h4{
	color: #fff;
	text-transform: inherit;
}
.rcm-sys-dsc-wrp p{
	color: #fff;
	font-size: 16px;
	text-align: justify;
}

/*
------------------------
features-product-sec-wrp
-------------------------
*/
.features-product-sec-wrp{
	padding: 50px 0;
}
.features-product-head h4{
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.features-pd-item{
	text-align: center;
	float: left;
	width: 33.3333%;
	padding: 0 20px 10px;
}
.features-pd-item span{
	display: inline-block;
	vertical-align: baseline;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2196f3;
}
.features-pd-item span i{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	line-height: 50px;
	color: #d80100;
}
.features-pd-item h5{
	text-transform: capitalize;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*
---------------------
bnf-our-sr-sec-wrp
---------------------
*/
.bnf-our-sr-sec-wrp{
	background: linear-gradient(90deg,#0063ae 0,#39f0cf);
	padding: 50px 0;
}
.bnf-our-sr-sec-wrp .features-product-head h4{
	color: #fff;
	margin-bottom: 20px;
}
.bnf-our-sr-sec-wrp .ht-sidebar-tbs-grid-item-list h5{
	color: #fff;
	line-height: 1.3;
}
.bnf-our-sr-sec-wrp .ht-sidebar-tbs-grid-item ul li a:hover{
	background: transparent;
}
.bnf-our-sr-img{
	padding-top: 50px;
}

.hr-grid-sec-wrp ul li{
	width: 33.3333%;
	float: left;
}
.hr-grid-wrp{
	position: relative;
	background: linear-gradient(90deg,#454479 0,#bc5f73);
	padding: 30px 50px;
}
.hr-grid-dsc{
	padding-left: 40px;
}
.hr-grid-dsc strong{
	font-size: 24px;
	line-height: 1;
	color: #fff;
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: baseline;
}
.hr-grid-dsc p{
	color: #fff;
	margin-bottom: 0;
}
.hr-grid-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 25px;
	line-height: 1;
	color: #fff;
	position: absolute;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.we-serving-item-sec-wrp{
	padding: 50px 0;
	background: #fff;
}

.we-serving-item-wrp .features-product-head h4{
	margin-bottom: 20px;

}
.we-serving-item-innr{
	margin: 0 -10px;
}
.we-serving-item{
	float: left;
	width: 33.3333%;
	padding: 0 10px 15px;
}
.we-serving-item-dsc{
	border:2px solid#ddd;
	padding: 20px 20px;
	text-align: center;
}
.we-serving-item-dsc h5{
	text-transform: capitalize;
	margin-bottom: 0;
	padding-top: 10px;
}
.we-serving-item-dsc i{
	display: inline-block;
	vertical-align: baseline;
	font-size: 25px;
	line-height: 1;
	color: #00732e;
}
.our-client-sld-sec-wrp{
	padding: 50px 0;
}
.our-client-slide-item ul{
	margin: 0 -15px;
}
.our-client-slide-item ul li{
	float: left;
	width: 20%;
	padding: 0 15px 20px;
}
.our-client-slide-item-img{
	background: #fff;
	padding: 10px 20px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.our-client-slide-item-img img{
	width: 80px;
}
/*
-----------------------
learn-more-form-sec-wrp
-----------------------
*/
.learn-more-form-sec-wrp{
	background: #3e5897;
	padding: 50px 0;
}
.learn-more-form-lft{
	width: 30%;
	padding-right: 30px;
	float: left;
}
.learn-more-form-info{
	text-align: right;
}
.learn-more-form-info strong{
	font-size: 20px;
	line-height: 1.1;
	color: #fff;
	display: block;
	padding-bottom: 20px;
}
.learn-more-form-info strong a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
}
.learn-more-form-info strong a:hover{
	color: #d80100;
}
.learn-more-form-info span{
	font-size: 16px;
	line-height: 1.6;
	color: #fff;
	display: inline-block;
	vertical-align: baseline;
}
.learn-more-form-rgt{
	width: 70%;
	float: right;
	padding-left: 30px;
}
.learn-more-form-rgt h4{
	color: #fff;
	text-transform: capitalize;
}
.learn-more-form-fields{
	margin: 0 -10px 15px;
}
.learn-more-form-fields .ht-contact-form-field{
	float: left;
	width: 50%;
	padding: 0 10px;
	margin-bottom: 0;
}
.learn-more-form-rgt .ht-contact-form-textarea label,
.learn-more-form-fields .ht-contact-form-field label{
	color: #fff;
}
.our-client-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.learn-more-form-rgt {
	    padding-left: 20px;
	}

}

@media(max-width: 991px){
	.features-pd-item {
	    padding: 0 10px 10px;
	}
	.bnf-our-sr-img{
		text-align: center;
	}
	.hr-grid-sec-wrp ul li {
	    width:50%;
	}
	.hr-grid-wrp{
		padding: 20px 30px;
	}	
	.hr-grid-dsc span{
		left: 20px;
	}
	.our-client-slide-item ul li {
	    width: 25%;
	    padding: 0 10px 20px;
	}
	.learn-more-form-lft {
	    padding-right: 15px;
	}
		
}

@media(max-width: 767px){
	.rcm-sys-img-wrp{
		text-align: center;
	}
	.rcm-sys-dsc-wrp {
	    padding-right: 0;
	}
	.features-pd-item {
	    width:50%;
	    padding: 0 10px 10px;
	}

	.features-product-sec-wrp {
	    padding: 30px 0 20px;
	}	
	.rcm-sys-dsc-img-sec-wrp{
		padding: 30px 0;
	}
	.hr-grid-sec-wrp ul li {
	    width:100%;
	}
	.hr-grid-dsc {
	    padding-left: 30px;
	}
	.bnf-our-sr-img {
	    padding-top: 20px;
	}
	.we-serving-item {
	    width: 50%;
	}
	.our-client-slide-item ul li {
	    width:33.3333%;
	}
	.our-client-sld-sec-wrp {
	    padding: 30px 0;
	}
	.learn-more-form-lft {
	    padding-right: 0;
	    width: 100%;
	    text-align: center;
	    float: none;
	}
	.learn-more-form-rgt {
	    padding-left: 0;
	    width: 100%;
	}
	.learn-more-form-info {
	    text-align: center;
	    padding-bottom: 20px;
	}
	.learn-more-form-sec-wrp {
	    padding: 35px 0;
	}
	.cust-trning-list-wrp ul li{
		padding-bottom:25px;
	}
	.cust-trning-form-sec-wrp{
		position: relative;
		overflow:hidden;
	}
	.cust-trning-add-wrp {
	    margin-top: 20px;
	}
}

@media(max-width: 575px){
	
	.ht-sidebar-tbs-grid-item ul li {
	    width: 100%;
	}

}

@media(max-width: 479px){
	.features-pd-item {
	    width:100%;
	    padding: 0 10px 10px;
	}
	.we-serving-item {
	    width: 100%;
	}
	.our-client-slide-item ul li {
	    width:50%;
	}
	.learn-more-form-fields .ht-contact-form-field {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.learn-more-form-fields{
		margin-bottom: 0;
	}
	.cust-trning-list-wrp ul li{
		padding-bottom:15px;
	}
}

@media(max-width: 359px){

}
