/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;
	margin: 0;
	color: #334e6f;
	font-weight: 500;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;	
	text-transform: capitalize;
}
h1{
	font-size: 35px;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 26px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 15px;
}
