/*
-----------------------------
ht-live-interview-bnr-sec-wrp
-----------------------------
*/
.ht-live-interview-bnr-sec-wrp{
	padding: 100px 0;
	margin: 50px 0;
	background: #673AB7;
} 
.ht-live-interview-bnr-dsc{
	text-align: center;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}
.ht-live-interview-bnr-dsc h2{
	color: #fff;
}
.ht-live-interview-bnr-dsc p{
	color: #fff;
	margin-bottom: 30px;
}
.ht-live-interview-bnr-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 15px 30px;
	border:2px solid#00732e;
	border-radius: 50px;
}
.ht-live-interview-bnr-btn a:first-child{
	margin-right: 10px;
}
.ht-live-interview-bnr-btn a:hover{
	background: transparent;
	color: #d80100;
	border-color: #d80100;
}
/*
-------------------------
ht-live-intv-process-sec-wrp
-------------------------
*/
.ht-live-intv-process-sec-wrp{
	padding-bottom: 30px;
}
.ht-live-intv-ps-img {
	padding-bottom: 30px;
}
.ht-live-intv-ps-dsc{
	background: #F4D3E6;
	padding: 30px 30px;
	text-align: center;
	border: 1px solid#ddd;
	color: #00732e;
}
.ht-live-intv-ps-dsc p{
	margin-bottom: 0;
}
.ht-live-intv-ps-dsc p a{
	text-decoration: underline;
	color: #13007e;
}
/*
------------------------------
ht-live-img-dsc-grid-sec-wrp
-------------------------------
*/
.ht-live-img-dsc-grid-sec-wrp{
	background: #ddd;
	padding: 40px 0;
}
.ht-live-grid-dsc{
	padding-left: 20px;
}
.ht-live-grid-dsc ul{
	padding-bottom: 20px;
}
/*
----------------------
ht-live-video-play-sec-wrp
----------------------
*/
.ht-live-video-play-sec-wrp{
	padding: 50px 0;
	background: #fff;
}
.ht-live-video-play-dsc{
	padding-top: 20px;
}
/*
----------------------------
ht-lft-rgt-video-grid-sec-wrp
----------------------------
*/
.ht-lft-rgt-video-grid-sec-wrp{
	padding: 50px 0;
	background: #ddd;
}
.ht-lft-rgt-video-grid-head h3{
	margin-bottom: 30px;
	color: #F71673;
	text-align: center;
}
.ht-lft-rgt-video-grid-cntlr{
	background: #fff;
	border:1px solid#eee;
	padding: 30px 20px;
}
.ht-lft-rgt-video-grid-dsc{
	padding-top: 20px;
}
.ht-lft-rgt-video-grid-bdr{
	border-bottom: 1px solid#ddd;
	padding: 20px 0;
}
.ht-lft-rgt-video-grid-dsc > strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 10px;
}
.ht-video-play-head h3,
.ht-lft-rgt-video-grid-dsc h3{
	color: #00732e;
}
.ht-video-grid-btm-sec-wrp{
	padding: 50px 0;
}
.ht-video-play-sec-wrp{
	background: #ddd;
	padding: 50px 0;
}

/*
---------------------------
ht-live-grid-btm-list-wrp
---------------------------
*/
.ht-live-grid-btm-list-wrp {
    padding: 20px 20px;
    border: 1px solid#B32D7C;
    background: #fff;
}
.ht-live-grid-btm-list h4{
	color:#b32d7d;
}

/*
---------------------
Assessment Help
---------------------
*/
.ht-infographic-orange-img{
	padding-bottom: 30px;
}
.ht-infographic-orange-img h5{
	margin-bottom: 30px;
	text-transform: capitalize;
}
.ht-infographic-orange-img ul li{
	float: left;
	width: 25%;
	padding: 0 20px;
}
.ht-infographic-orange-item strong{
	display: block;
	font-size: 16px;
	line-height: 1;
	padding: 10px 0;
}
.ht-ctn-slide-head h4,
.ht-infographic-orange-dsc h4{
	margin-bottom: 15px;
	text-transform: capitalize;
}
.ht-infographic-btn{
	padding-bottom: 30px;
}
.test-completion-btn a,
.ht-infographic-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
	border:2px solid#00732e;
}
.test-completion-btn a i,
.ht-infographic-btn a i{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 10px;
}
.test-completion-btn a:hover,
.ht-infographic-btn a:hover{
	background: transparent;
	color: #d80100;
	border-color: #d80100;
}
.ht-infographic-btn a:last-child{
	margin-left: 10px;
}
.ht-infographic-orange-dsc ul{
	padding-bottom: 20px;
}
.ht-live-intv-ps-dsc span{
	display: block;
	padding-top: 10px;
}
.test-completion-steps{
	background: #ddd;
	padding: 20px 20px;
	margin-top: 20px;
	margin-bottom: 40px;
}
.test-completion-btn h4,
.test-completion-steps h4{
	text-transform: capitalize;
	margin-bottom: 20px;
	text-align: center;
}
.test-completion-steps ul li{
	float: left;
	width: 20%;
	padding: 0 20px;
	position: relative;
}
.test-completion-steps-dsc{
	text-align: center;
}
.test-completion-steps-dsc:after {
    content: "\f101";
    position: absolute;
    right: -8px;
    top: 20px;
    text-decoration: inherit;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
}
.test-completion-steps ul li:last-of-type .test-completion-steps-dsc:after{
	content: none;
}
.test-completion-steps-dsc span{
	display: inline-block;
	vertical-align: baseline;
	width: 60px;
	height: 60px;
	background: #00732e;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
}
.test-completion-steps-dsc span i {
    font-size: 20px;
    line-height: 55px;
    color: #fff;
}
.test-completion-steps-dsc strong{
	display: block;
	padding-top: 10px;
}
.test-completion-btn{
	text-align: center;
	padding-bottom: 20px;
}
/*
----------------------
ht-ctn-slider-sec-wrp
----------------------
*/
.ht-ctn-slider-sec-wrp{
	background: #ddd;
	padding: 50px 0;
	margin-bottom: 50px;
}
.ht-ctn-slide-head h4{
	text-align: center;
	margin-bottom: 20px;
}
.ht-ctn-slider-wrp{
	margin: 0 -10px;
}
.ht-ctn-slider-wrp.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.ht-ctn-slide-item{
	padding: 0 10px;
}
.ht-ctn-slide-item-dsc{
	padding: 30px 20px 30px 100px;
	background: #fff;
	position: relative;
}
.ht-ctn-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:10px solid#00732e;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.ht-ctn-slide-item-dsc p{
	margin-bottom: 10px;
}
.ht-ctn-slide-item-dsc h6{
	margin-bottom: 0;
	text-transform: capitalize;
}
.ht-ctn-slider-wrp .ht-ctn-slide-item{
	display: none;
}
.ht-ctn-slider-wrp .ht-ctn-slide-item:first-child{
	display: block;
}
.ht-ctn-slider-wrp.slick-initialized .ht-ctn-slide-item{
	display: block;
}
.ht-ctn-slider-wrp.slick-slider ul.slick-dots{
	padding-top: 20px !important;
}
.ht-ct-faq-sec-wrp{
	padding-bottom: 50px;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	.ht-live-interview-bnr-sec-wrp {
	    padding: 80px 0;
	}
	.ht-infographic-orange-img ul li {
	    padding: 0 15px;
	}

}

@media(max-width: 991px){
	.test-completion-steps-dsc span {
	    width: 50px;
	    height: 50px;
	}
	.test-completion-steps-dsc span i {
	    font-size: 17px;
	    line-height: 47px;
	}
	.ht-live-interview-bnr-sec-wrp {
	    padding: 70px 0;
	}
	.ht-infographic-orange-img ul li {
	    width: 33.3333%;
	    padding: 0 15px 10px;
	}
}

@media(max-width: 767px){
	.test-completion-steps ul li {
	    width: 33.3333%;
	    padding: 0 15px 15px;
	}
	.test-completion-steps ul li:nth-child(3) .test-completion-steps-dsc:after{
		content: none;
	}
	.ht-live-interview-bnr-sec-wrp {
	    padding: 50px 0;
	}
	.ht-live-interview-bnr-img{
		padding-bottom: 30px;
	}
	.ht-live-interview-bnr-btn a {
	    font-size: 16px;
	    padding: 15px 20px;
	}
	.ht-ct-faq-sec-wrp {
	    padding-bottom: 30px;
	}
	.ht-live-grid-img{
		text-align: center;
		padding-bottom: 20px;
	}
	.ht-video-help-grid-img-cntlr{
		margin-bottom: 15px;
	}
	.ht-live-video-play-sec-wrp,
	.ht-video-grid-btm-sec-wrp {
	    padding: 30px 0;
	}
	.ht-lft-rgt-video-grid-dsc {
	    padding-left: 10px;
	}

	
}

@media(max-width: 575px){
	
	.test-completion-steps ul li {
	    width: 50%;
	    padding: 0 15px 15px;
	}
	.test-completion-steps ul li:nth-child(2) .test-completion-steps-dsc:after{
		content: none;
	}
	.test-completion-steps ul li:nth-child(4) .test-completion-steps-dsc:after{
		content: none;
	}
	.test-completion-steps ul li:nth-child(3) .test-completion-steps-dsc:after{
		content: "\f101";
	}
	.ht-infographic-orange-img ul li {
	    width:50%;
	    padding: 0 15px 10px;
	}

}

@media(max-width: 479px){
	.test-completion-steps {
	    padding: 20px 10px;
	}
	.test-completion-steps-dsc strong{
		font-size: 12px;
	}
	.test-completion-steps ul li {
	    padding: 0 10px 15px;
	}
	.my-em-ct-tabs-innr {
	    padding: 20px 0 !important;
	}
	.ht-live-interview-bnr-btn a {
	    font-size: 14px;
	    padding: 10px 15px;
	}
	.ht-live-intv-process-sec-wrp .ht-infographic-btn a{
		padding: 10px 10px !important;
		font-size: 12px !important;
	}
	.ht-ctn-slide-item-dsc {
	    padding: 15px 15px 15px 70px;
	}
	.ht-ctn-slide-item-dsc span{
		width: 50px;
		height: 50px;
		left: 10px;
	}
	.ht-ctn-slider-sec-wrp {
	    padding: 35px 0;
	    margin-bottom: 30px;
	}

}

@media(max-width: 359px){

}