/*
----------------------
ht-video-help-sec-wrp
----------------------
*/
.ht-video-help-sec-wrp{
	padding: 50px 0;
}
.ht-video-help-wrp > ul{
	margin: 0 -10px;
}
.ht-video-help-wrp ul > li{
	width: 33.3333%;
	float: left;
	padding: 0 10px 20px;
}
.ht-video-help-grid{
	border: 1px solid#ddd;
}
.ht-video-help-grid-img-cntlr{
	position: relative;
	overflow: hidden;
}
.ht-video-help-grid-img{
	height: 250px !important; 
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ht-video-play-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 100% 100%;
    background: #00732e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
}
.ht-video-help-dsc{
	background: #fff;
	padding: 15px 10px;
}
.ht-video-help-dsc h5{
	margin-bottom: 0;
	text-transform: capitalize;
	line-height: 1.2;
	position: relative;
	padding-left: 30px;
}
.ht-video-help-dsc h5 span {
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 25px;
    background: #00732e;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}
.ht-video-help-pagi{
	display: table;
	margin: 0 auto;
}
.ht-video-help-pagi ul > li{
	float: left;
	padding: 0 10px;
}
.ht-video-help-pagi ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 5px;
}
.ht-video-help-pagi ul > li a.active,
.ht-video-help-pagi ul > li > a:hover{
	background: #d80100;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	
	

}

@media(max-width: 991px){
	.ht-video-help-wrp ul > li {
	    width: 50%;
	    padding: 0 10px 20px;
	}
	
}

@media(max-width: 767px){
	.ht-video-help-sec-wrp {
	    padding: 35px 0;
	}
	.ht-video-help-dsc h5{
		font-size: 14px;
	}

	
}

@media(max-width: 575px){
	.ht-video-help-wrp ul > li {
	    width: 100%;
	    padding: 0 10px 20px;
	}
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}