/*
----------------------
wrk-sp-slt-sec-wrp
----------------------
*/
.wrk-sp-slt-sec-wrp{
	padding: 50px 0;
}
.wrk-sp-slt-head{
	text-align: center;
}
.wrk-sp-slt-head h3{
	text-transform: capitalize;
}
.wrk-sp-slt-cntlr{
	background: #fff;
	padding: 20px 10px;
	margin-bottom: 30px;
}
.wrk-sp-slt-cntlr > ul > li{
    float: left;
    width: 20%;
    padding: 0 10px 10px;
}
.wrk-sp-slt-cntlr .em-register-form-filds{
	width: 100%;
	padding: 0;
	margin-bottom: 0;
}
.wrk-sp-slt-cntlr .ht-jb-live-stats .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}
.wrk-sp-slt-cntlr .ht-prls-dtls-frm-field {
    width: 100%;
    float: left;
    padding: 0;
}
.wrk-sp-slt-cntlr .ht-login-rgi-form-checkbox {
    padding-bottom: 10px;
    padding-top: 10px;
}
.wrk-sp-grid-cntlr > ul{
	margin: 0 -10px;
}
.wrk-sp-grid-cntlr > ul > li{
	float: left;
	width: 33.3333%;
	padding: 0 10px 20px;
}
.wrk-sp-tbs-wrp ul{
	margin: 0 -10px;
}
.wrk-sp-tbs-wrp{
	padding-bottom: 30px;
}
.wrk-sp-tbs-wrp ul li{
	float: left;
	padding: 0 10px;
}
.wrk-sp-tbs-wrp ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.wrk-sp-tbs-wrp ul li a span{
	display: inline-block;
	vertical-align: baseline;
	background: #fff;
	color:#00732e;
	padding: 2px 5px;
	border-radius: 10px;
	font-size: 14px; 
	margin-left: 10px;
}
.wrk-sp-tbs-wrp ul li.active a,
.wrk-sp-tbs-wrp ul li a:hover{
	background: #d80100;
}
/*
-----------------------
Our Trainers 
-----------------------
*/
.our-team-sec-wrp{
	padding: 50px 0;
}
.our-team-grid-wrp > ul > li{
	float: left;
	width: 25%;
	padding: 0 10px 20px;
}
.our-team-grid{
	background: #fff;
	border:1px solid#ddd;
	text-align: center;
	padding: 30px 20px;
}
.our-team-grid-img{
	padding-bottom: 20px;
}
.our-team-grid-img img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.our-team-grid-dsc h5{
	text-transform: capitalize;
	margin-bottom: 10px;
}
.our-team-grid-btn{
	padding-top: 20px;
}
.our-team-grid-btn a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #00732e;
	padding: 10px 20px;
}
.our-team-grid-btn a:hover{
	background: #d80100 !important;
}

/*
------------------
 Responsive Css
------------------
*/
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.our-team-grid {
	    padding: 20px 10px;
	}
}

@media(max-width: 991px){
	.our-team-grid-wrp > ul > li{
		width: 33.3333%;
	}	
	.wrk-sp-slt-cntlr > ul > li {
	    width: 25%;
	}
	.wrk-sp-grid-cntlr > ul > li {
	    width:50%;
	}
}

@media(max-width: 767px){
	.our-team-sec-wrp {
	    padding: 35px 0;
	}
	.wrk-sp-grid-cntlr > ul > li {
	    width: 50%;
	}
	.wrk-sp-slt-cntlr > ul > li {
	    width: 33.3333%;
	}
	.wrk-sp-slt-sec-wrp .ht-prls-dtls-frm-btn {
	    padding-top: 0;
	}
	.wrk-sp-slt-sec-wrp {
	    padding: 30px 0;
	}
}

@media(max-width: 639px){
	.our-team-grid-wrp > ul > li {
	    width: 50%;
	}
}

@media(max-width: 575px){
	
	.wrk-sp-grid-cntlr > ul > li {
	    width: 100%;
	}
	

}

@media(max-width: 479px){
	.our-team-grid-wrp > ul > li {
	    width: 100%;
	}
	.wrk-sp-slt-cntlr > ul > li {
	    width:50%;
	}
	.wrk-sp-tbs-wrp ul li a {
	    font-size: 14px;
	    padding: 10px 10px;
	    margin-bottom: 5px;
	}
}

@media(max-width: 359px){

}