.two-grid-fld-rgt{
	float: right !important;
}
.two-grid-fld-lft{
	float: left !important;
}
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	h1{
		font-size: 33px;
	}
	h2{
		font-size: 27px;
	}
	h3{
		font-size: 25px;
	}
	h4{
		font-size: 23px;
	}
	.hm-banner-search-title{
		font-size: 33px;
	}
	.hm-dv-Job-lst-title{
		font-size: 27px;
	}
	.banner-title{
		font-size: 33px;
	}
	.page-banner-title-cntlr{
		padding: 40px 40px;
	}
	.page-banner {
	    height: 240px;
	}
	

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	h1{
		font-size: 31px;
	}
	h2{
		font-size: 26px;
	}
	h3{
		font-size: 24px;
	}
	h4{
		font-size: 22px;
	}
	.hm-banner-search-title{
		font-size: 31px;
	}
	.hm-dv-Job-lst-title{
		font-size: 26px;
	}
	.banner-title{
		font-size: 31px;
	}
	.page-banner-title-cntlr{
		padding: 40px 30px;
	}
	.page-banner {
	    height: 230px;
	}
	
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	h1{
		font-size: 29px;
	}
	h2{
		font-size: 25px;
	}
	h3{
		font-size: 23px;
	}
	h4{
		font-size: 21px;
	}
	.hm-banner-search-title{
		font-size: 29px;
	}
	.hm-dv-Job-lst-title{
		font-size: 25px;
	}
	.banner-title{
		font-size: 29px;
	}
	.page-banner-title-cntlr{
		padding: 30px 20px 40px;
	}
	.page-banner {
	    height: 220px;
	}

	
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	h1{
		font-size: 27px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 20px;
	}
	.hm-banner-search-title{
		font-size: 27px;
	}
	.hm-dv-Job-lst-title{
		font-size: 24px;
	}
	.banner-title{
		font-size: 27px;
	}
	.bnr-breadcum > ul > li > a{
		font-size: 13px;
	}
	.ht-common-btn{
		font-size: 14px;
	}
	.page-banner {
	    height: 200px;
	}
	

}

@media(max-width: 479px){
	.banner-title{
		font-size: 20px;
	}
	h3{
		font-size: 20px;
	}
	.ht-common-btn{
		font-size: 14px;
	}
	.bnr-breadcum > ul > li > a {
	    font-size: 12px;
	}
	.bnr-breadcum > ul > li {
	    padding: 0 10px;
	}

}

@media(max-width: 359px){
	.bnr-breadcum > ul > li > a {
	    font-size: 11px;
	}
}